section.termstabs-section
   .container
       .termstabs.scroll-section
           .row
               .col-md-4
                   .sticky-tab-list
                       ul.mb-0.vertical-tab-list
                           li.vertical-tab-list__item.active(data-index='0')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Collection of Information                            
                           li.vertical-tab-list__item(data-index='1')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Uses of Information                                  
                           li.vertical-tab-list__item(data-index='2')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Sharing of Information
                           li.vertical-tab-list__item(data-index='3')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Cookies and  Technologies
                           li.vertical-tab-list__item(data-index='4')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Third Party Links                            
                           li.vertical-tab-list__item(data-index='5')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Security
                           li.vertical-tab-list__item(data-index='6')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Data Retention
                           li.vertical-tab-list__item(data-index='7')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Choices Regarding Information
                           li.vertical-tab-list__item(data-index='8')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Changes to this Privacy Policy
                           li.vertical-tab-list__item(data-index='9')
                               .light
                               p.vertical-tab-list__tabfont.fnt-20.lh28.fnt-man.mb-0 Contact Us   
                       button.verticalswiper-button-next
                           <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                           </svg>             
               .col-md-8
                   .tabs-card
                       .tabs-card__item.content-display.active
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This privacy policy describes how DOCQUITY HOLDINGS PTE. LTD. (UEN: 201703503D), a company incorporated in Singapore with its registered office at 150 Beach Road, #35-28, The Gateway West, Singapore 189720, its subsidiaries, affiliates and related corporations (“Docquity,” “we,” “us,” or “our”) collects, uses, shares, and otherwise handles personal information about individuals (“you” and/or “your”) who visit and use our website located at www.docquity.com, all affiliated websites (including the Docquity Mobile App), APIs and any other applications published by us or our affiliates (“Sites”) for access to or use of the Site owned and operated by us, our predecessors or successors in interest, or our affiliates, and any related products, features, and the Services.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Uses of Information
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Sharing of Information
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Cookies and  Technologies
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Third Party Links
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Security
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Data Retention
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Choices Regarding Information
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Changes to this Privacy Policy
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
                       .tabs-card__item.content-display
                           h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Contact Us
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
                           p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
          
 
              
