.dq-home-banner {
    padding-top: 10rem;

    &__heading {
        color: $Blackish !important;
    }

    &__cnt {
        // padding-right: 2rem;
    }
}

.dq-text-highlight {
    color: #E2504B;
}

.dq-rating-wrap {
    padding-top: 3.5rem;
}

.dq-plastore-btn {
    border       : 1px solid #B1CBCF;
    display      : inline-flex;
    align-items  : center;
    padding      : .8rem 1.4rem;
    border-radius: $border-radius12;
    opacity      : .6;

    &--sec {
        background: linear-gradient(94.21deg, #252424 4.48%, #424242 87.94%);
        text-align: left;
        color     : $white;
        opacity   : 1;
    }
}

.dq-rating-text {
    font-weight: $fnt-bold;
    @extend .fnt-lex;
    color  : #1D1919;
    display: inline-block;
}

.dq-apptext {
    line-height: 16px;
}

// Our numbers

.dq-subtitle {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: $fnt-medium;
    color      : #1D1919;
}

.dq-our-number-list {
    display        : flex;
    justify-content: center;

    &__item {
        color       : rgba($color: #1D1919, $alpha: .7);
        font-weight : $fnt-medium;
        border-right: 1px solid #B1CBCF;
        padding     : 0 3rem;

        &:last-child {
            border-right: 0;
        }
    }
}

.dq-our-number {
    font-size  : 32px;
    line-height: 44px;
    font-weight: $fnt-exbold;
    color      : #1B4A52;
    display    : block;
}


// Interactive webinar

.dq-webinar-article {
    border-bottom : 1px solid #EEEEEE;
    padding-bottom: 2.5rem;
    margin-bottom : 2rem;

    &__title {
        color      : #1B4A52;
        font-size  : 16px !important;
        line-height: 26px !important;
        font-weight: $fnt-semibold;
    }
}


// Why docuqity

.dq-whydocquity {
    padding : {
        top   : 4rem;
        bottom: 4rem;
    }
}

.dq-sec-cntinfo {
    max-width: 500px;
    margin   : 0 auto;
}

.dq-sec-subtxt {
    font-family: 'Lexend Deca', sans-serif;
    font-size  : 32px;
    line-height: 40px;
    font-weight: $fnt-medium;
}

.dq-thumbnail {
    margin-bottom: 3rem;

    &__heading {
        @extend .fnt-xxl;
        @extend .txt-clr-green;
    }

    p {
        color      : rgba($color: #1D1919, $alpha: .7);
        font-weight: $fnt-medium;
    }
}


// offers

.dq-feature-list {
    padding: 0 1rem;

    &__item {
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.dq-feature-thumbnail {
    transition   : 680ms background cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 44px;
    padding      : 20px;
    cursor       : pointer;

    &:is(:hover, :focus) {
        background: rgba($color: #B1CBCF, $alpha: .1);
        transition: 680ms background cubic-bezier(0.165, 0.84, 0.44, 1);

        .dq-circle {
            transition: 380ms background cubic-bezier(0.165, 0.84, 0.44, 1);
            background: #1B4A52;
        }
    }
}

// Wall of love

.dq-maincnt-leftwrap {
    padding-right: 3rem;
    padding-top  : 8rem;
}




// why use docquity 

.whyusedocquity-section {
    background   : linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    margin       : 0px 15px;
    border-radius: 12px;
    position     : relative;
    padding      : 88px 0px 37px;

    @media(min-width: 767px) {
        padding: 64px 40px 53px 80px;
    }
    .whyusedocquity-row {
        @media(max-width: 767px) {
            display       : flex;
            flex-direction: column-reverse;
            ;
        }
        // whyusedocquity-swiper
        .whyusedocquitySwiper{
            width: 100%;
            max-height: 544px;
            padding-left: 45px;
            margin-top: 30px;

            @media(max-width: 767px) {
                max-height  : 530px;
                padding-left: 25px;
                padding-bottom: 55px;
            }
            .swiper-slide {
                display: flex;
                .whyusedocquity-card {   
                    padding: 32px 32px;           
                    @media(max-width: 767px) {
                        padding: 0px 0px;
                    }
                    .whyusedocquity-img {
                        margin-bottom: 27px;
                    }
                    &:hover {
                        background: #b1cbcf33;
                        border-radius: 24px;
                    }  
                }                
            }
            .swiper-pagination-bullets {
                right : inherit;
                left  : 0px;
                top   : 50% !important;
                height: 65px;    
                @media(max-width: 767px) {
                    display: none;
                }
                .swiper-pagination-bullet {
                    margin: 10px 0px !important;
                }
                .swiper-pagination-bullet-active {
                    background: #1B4A52 !important;
                }
            }
            .swiper-button-prev,.swiper-button-next{
                top: 92%;
                background: #b1cbcf5e;
                width: 35px;
                height: 35px;
                border: 1px solid #B1CBCF;
                border-radius: 20px;
                &:hover{
                    background: #1B4A52;
                    border: 1px solid  #1B4A52;
                    .arr{
                        fill:#fff;
                    }
                }

                &::after{content:none;}
                @media(min-width: 767px) {
                   display: none;
                }
            }
            .swiper-button-next{                 
                right: 110px;                
                transform: rotate(180deg); 
            }
           .swiper-button-prev{               
                left: 110px;    
            }
        }   
        .whyusedocquity-right {
            position: relative;
            @media(max-width: 767px) {
                margin-top: 80px;
             }
        }
    }
}