// section01

.section011 {
    position: relative;
    background: linear-gradient(180deg, #FFFFFF -6.18%, #FFF4F4 101.72%);
    border-radius: 12px;

    @media (min-width: 767px) {
        padding: 42px 100px 220px;
        position: relative;
        margin: 0px 15px 250px;
        border-radius: 12px;
    }

    .section011-row{
        // padding: 55px 0px;
        padding: 0px 0px;
    }

    .newbanner{
        img{
            margin-bottom: 15px;
        }
        h1{
            width: 596px;
            margin: 0 auto;
            @media (max-width: 766px) {
                width: 100%;
            }
        }
        p{
            width: 508px;
            margin: 26px auto;
            @media (max-width: 766px) {
                width: 100%;
            }
        }
    }

    .banner-img-btm{
        margin-bottom: 145px;
        @media (max-width: 766px) {
            margin-bottom: 0px;
        }
    }
    .btn01{
        margin-bottom: 25px;
        @media (min-width: 767px) {
            margin-bottom: 0px;
        }
    }

    .banner-img {
        position: relative;
        display: flex;
        justify-content: center;
        @media (min-width: 767px) {
            position: absolute;
            width: 100%;
            left: 0px;
        }
        img{
            margin-top: 50px;
            @media (min-width: 767px) {
                height: 682px;
                width: 1174px !important;
            }
        }
    }
}

//section020

.section020{
    padding-top: 150px;
}

// section040
.section040{
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    border-radius: 12px;   
    @media(max-width: 766px) {
        margin-bottom: 88px;
        margin-top: 175px;
    }

    .opa07{
        opacity: 0.7;
        margin-top: 20px;
    }

.dq-webinar-article {
    border-bottom : 1px solid #EEEEEE;
    padding-bottom: 2.5rem;
    margin-bottom : 2rem;
    margin-top: 70px;

    @media(max-width: 766px) {
        border-bottom: none;
    }

    &__title {
        color      : #1B4A52;
        font-size  : 16px !important;
        line-height: 26px !important;
        font-weight: $fnt-semibold;
    }
}
.dq-clinic-fig{
    position: relative;
    .ellipse{
        position: absolute;
        // z-index: -1;
        left: 85px;
        bottom: -281px;
        height: 640px;
        @media(min-width: 992px) and (max-width: 1300px) {
            bottom: -38px;
            left: -20px;
        }
        @media(max-width: 766px) {
            width: 337px;
            height: 337px;
            left: 0;
            bottom: -16px;
        }
    }
    .fig-img{
        z-index: 1;
        @media(min-width: 992px) and (max-width: 1300px) {
            margin-left: -10px;
        }
    }
}
}
// section06


.section060{
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    border-radius: 12px;   
    @media(max-width: 766px) {
        margin-bottom: 88px;
        margin-top: 175px;
    }

    .opa07{
        opacity: 0.7;
        margin-top: 20px;
    }

.dq-webinar-article {
    border-bottom : 1px solid #EEEEEE;
    padding-bottom: 2.5rem;
    margin-bottom : 2rem;
    margin-top: 70px;

    @media(max-width: 766px) {
        border-bottom: none;
    }

    &__title {
        color      : #1B4A52;
        font-size  : 16px !important;
        line-height: 26px !important;
        font-weight: $fnt-semibold;
    }
}
.dq-clinic-fig{
    position: relative;
    .ellipse{
        position: absolute;
        // z-index: -1;
        left: 85px;
        bottom: -333px;
        height: 640px;
        @media(min-width: 992px) and (max-width: 1300px) {
            bottom: -38px;
            left: -20px;
        }
        @media(max-width: 766px) {
            width: 337px;
            height: 337px;
            left: 0;
            bottom: -16px;
        }
    }
    .fig-img{
        z-index: 1;
        @media(min-width: 992px) and (max-width: 1300px) {
            margin-left: -10px;
        }
    }
}
}


// section07

.section07 {
    background: #ffffff;
    padding: 100px 0px 0px 0px !important;
    margin-bottom: 0px;
        @media(max-width: 767px) {
            margin: 80px 0 80px !important;
            padding: 0px 0px !important;
        }
    padding : {
        // top   : 4rem;
        // bottom: 4rem;
    }
}

.section07-row{
    @media(max-width: 767px) {
        display: none;
    }
}
        //mobile-docquitywhyswiper 
        .section07swiper{
            width: 100%;             
            margin-top: 80px;         
            .swiper-slide {
                display: flex;   
                text-align: center;                       
            }
            .swiper-pagination-bullets {
                right : inherit;
                left  : 0px;
                top   : 50% !important;
                height: 65px;    
                @media(max-width: 767px) {
                    display: none;
                }
                .swiper-pagination-bullet {
                    margin: 10px 0px !important;
                }
                .swiper-pagination-bullet-active {
                    background: #1B4A52 !important;
                }
            }
            .swiper-button-prev,.swiper-button-next{
                top: 96%;
                background: #b1cbcf5e;
                width: 35px;
                height: 35px;
                border: 1px solid #B1CBCF;
                border-radius: 20px;
                &:hover{
                    background: #1B4A52;
                    border: 1px solid  #1B4A52;
                    .arr{
                        fill:#fff;
                    }
                }

                &::after{content:none;}
                @media(min-width: 767px) {
                   display: none;
                }
            }
            .swiper-button-next{                 
                right: 95px;                
                transform: rotate(180deg); 
            }
           .swiper-button-prev{               
                left: 95px;    
            }
        }

.dq-sec-cntinfo {
    max-width: 500px;
    margin   : 0 auto;
}

.dq-sec-subtxt {
    font-family: 'Lexend Deca', sans-serif;
    font-size  : 32px;
    line-height: 40px;
    font-weight: $fnt-medium;
}

.dq-thumbnail {
    margin-bottom: 3rem;

    &__heading {
        @extend .fnt-xxl;
        @extend .txt-clr-green;
        font-weight: 600;
    }

    p {
        color      : rgba($color: #1D1919, $alpha: .7);
        font-weight: $fnt-medium;
        // @media(max-width: 767px) {
        //     margin-bottom: rem;
        // }
    }
}
.dq-bg-gradient{
    padding-bottom: 20px;
    @media(max-width: 767px) {
        margin-bottom: 80px;
    }
}

// offers

.dq-feature-list {
    padding: 0 1rem;

    &__item {
        margin-bottom: 3rem;
        @media(min-width: 992px) and (max-width: 1300px) {
            margin-bottom: 0px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.dq-feature-thumbnail {
    transition   : 680ms background cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 44px;
    padding      : 30px 25px;
    @media(min-width: 992px) and (max-width: 1300px) {
        padding      : 10px 25px;
    }
    cursor       : pointer;

    &:is(:hover, :focus) {
        background: rgba($color: #B1CBCF, $alpha: .1);
        transition: 680ms background cubic-bezier(0.165, 0.84, 0.44, 1);

        .dq-circle {
            transition: 380ms background cubic-bezier(0.165, 0.84, 0.44, 1);
            background: #1B4A52;
            .white{fill:#fff}
        }
    }
}

//section 10
.section100{
    background: linear-gradient(180deg, #FFFFFF 0%, #FEFAF6 33.02%);
    border-radius: 12px;
    margin: 0px 15px 15px 15px;
    border-radius: 12px;
    padding: 0px 0px 52px;

    @media(min-width: 767px) {
        padding: 100px 0px 61px;
    }

    .section100-desktop {
        @media(max-width: 767px) {
            padding-top: 80px;
        }
    }
    
    .section100-mobile {
        @media(max-width: 768px) {
            position: relative;
            transform: translateY(-220px);
        }
    }

    .section100swiper{
        width: 100%;             
        // margin-top: 80px;         
        .swiper-slide {
            display: flex;   
            text-align: center; 
            @media(max-width: 767px) {
                flex-direction: column;
            }                      
        }
        .swiper-pagination-bullets {
            right : inherit;
            left  : 0px;
            // top   : 50% !important;
            bottom: -47px !important;
            height: 65px;    
            
            .swiper-pagination-bullet {
                margin: 10px 5px !important;
            }
            .swiper-pagination-bullet-active {
                background: #1B4A52 !important;
            }
        }
        .swiper-pagination-flatindic {
        
            .swiper-pagination-bullet {
                background   : #1B4A52;
                width        : 16px;
                border-radius: 4px !important;
                height       : 6px !important;
                transition   : all .5s ease 0s;
        
                &-active {
                    width     : 33px !important;
                    transition: all .5s ease 0s;
                }
            }
        }
        .swiper-button-prev,.swiper-button-next{
            top: 55%;
            background: #b1cbcf5e;
            width: 35px;
            height: 35px;
            border: 1px solid #B1CBCF;
            border-radius: 20px;
            &:hover{
                background: #1B4A52;
                border: 1px solid  #1B4A52;
                .arr{
                    fill:#fff;
                }
            }

            &::after{content:none;}
            
        }
        .swiper-button-next{                 
            right: 95px;                
            transform: rotate(180deg); 
            @media (max-width: 767px) {
                display: none;
            }  
        }
       .swiper-button-prev{               
            left: 95px;
            @media (max-width: 767px) {
                display: none;
            }    
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        // margin-top: 64px;
        
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
            .slide-img {
                width: 37%;
                // margin-right: 100px;
    
                @media (max-width: 766px) {
                    width: 100%;
                    margin-right: 0px;
                    padding: 10px 20px;
                }
    
                img {
                    @media (max-width: 766px) {
                        width: 100% !important;
                    }
                    border-radius: 24px;
                }
            }
    
            .slide-content {
                text-align: left;
                width: 35%;
                padding: 60px 0px;
    
                @media (max-width: 766px) {
                    width: 100%;
                    padding: 40px 10px;
                }
    
                .slide-icon {
                    width: 10%;
                    margin-bottom: 31px;
                    img{
                        width: 56px;
                        height: 56px;
                    }
                }
            }
            
    }
    
    
}

.section11{
    background: #ffffff;
    border-radius: 12px;
    margin: 0px 12px 0px 12px;
    padding: 80px 4px;
    @media (min-width: 768px) {
        padding: 100px 0px 100px;
        margin: 0px 20px 0px 20px;
    }
}

.docquityclinicsection {
    background   : linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    margin       : 0px 15px;
    border-radius: 12px;
    position     : relative;
    padding      : 88px 0px 37px;

    @media(min-width: 767px) {
        padding: 64px 40px 53px 80px;
    }
    .docquityclinictabsection{    
        @media(max-width: 767px) {
        display: none;
        }
        .nav-tabs{
            border:none;
            display: block;
            width: 90%;
            .nav-item{
                text-align: left;
                padding: 0px;
                border: none;
            }                     
        }        
        .nav-link.active {
           background-color:#b1cbcf33!important;
           border-radius: 24px;
           .whyusedocquity-card {
            height: auto;
            width: 100%;
            display: block;
           }
           .whyusedocquity-text{
               p{
                   padding-left: 72px;
               }
           }
        }
    } 
    
    .whyusedocquity-card {
        height: 120px;
        display: block;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        cursor: pointer;   
        // padding: 18px 32px ;
        padding: 16px 30px ;   
        @media(max-width: 767px) {
            padding: 0px 0px;
        }
        .whyusedocquity-div {
            @media(min-width: 767px) {
                display: none;
            }
        }
        .whyusedocquity-img {
            height: 100%;
            margin-right: 25px;
            float: left;
            @media(max-width: 767px) {
                float: none;
                }
        }       
    }    
    .whyusedocquity-row {
        @media(min-width: 767px) {
                    display: none;
        }
        @media(max-width: 767px) {
            display: block;
        }
        // whyusedocquity-swiper
        .whyusedocquitySwiper{
            width: 100%;
            max-height: 544px;
            padding-left: 45px;
            margin-top: 30px;
            @media(max-width: 767px) {
                max-height  :665px;
                padding-left: 25px;
                padding-bottom: 55px;
            }
            .swiper-slide {
                display: flex;                            
            }
            .swiper-pagination-bullets {                
                @media(max-width: 767px) {
                    display: none;
                }              
            }
            .swiper-button-prev,.swiper-button-next{
                top: 92%;
                background: #b1cbcf5e;
                width: 35px;
                height: 35px;
                border: 1px solid #B1CBCF;
                border-radius: 20px;
                &:hover{
                    background: #1B4A52;
                    border: 1px solid  #1B4A52;
                    .arr{
                        fill:#fff;
                    }
                }

                &::after{content:none;}
                @media(min-width: 767px) {
                   display: none;
                }
            }
            .swiper-button-next{                 
                right: 110px;                
                transform: rotate(180deg); 
            }
           .swiper-button-prev{               
                left: 110px;    
            }
        }
    }
}

.clinicdocquity-section{    
    position     : relative;
    padding      : 88px 0px 37px;  
    margin-bottom: 100px;  
    @media(min-width: 767px) {
        padding: 64px 40px 53px 80px;
        margin-bottom: 100px; 
    }
    .clinicdocquitytabsection{ 
        // margin-top: 76px;   
        @media(max-width: 767px) {
        // display: none;
        }
        .nav{
            border-left: 2px solid #eee; 
            display: block;
            @media(max-width: 767px) {
                border-left: none; 
                display: flex;
                flex-wrap: unset;
                overflow-x: scroll;
                overflow-y: hidden;
                cursor: pointer;
                margin:50px 0;
                &::-webkit-scrollbar{
                    height: 0px !important;
                }
            }
                    
        } 
        .nav-tabs{
            border-bottom: none!important;
        }   
        .nav-link {
            padding: 15px 15px 15px 15px;   
            text-align:left;         
            cursor: pointer;
            color: #1D1919;
            position: relative;
            margin-bottom: 5px;
            border:none;  
            font-weight: 400;         
            @media (min-width: 768px) {
                padding: 10px 20px;
                display: flex;
            }
            @media (min-width: 1200px) {
                padding: 10px 0px 10px 15px;
            }
        
            &.active {
                color:#1B4A52;
                font-weight: 800;                 
                .light{
                    background: #1B4A52;
                    width: 5px;
                    height: 100%;
                    top: 0;
                    position: absolute;
                    left: -4px;
                    border-radius: 5px;
                    @media(max-width: 767px) {
                        width: 70%;
                        height: 5px;
                        top: 55px;
                        position: absolute;
                        left: 50px;
                        -webkit-border-radius: 5px;
                        border-radius: 5px;
                    }
                }           
            }
            &:hover {
                color: #1B4A52;
            }
            p{
                white-space: nowrap;
            }
        }   
       
        .clinicrighttabs{            
            background-image: url(../img/docquityclinic/clinicback.svg);
            background-position: center;
            background-size: cover;
            border-radius: 24px;
            position: relative;
            transform: translateY(30px);
            text-align: center;
            padding: 0px 55px 0px 55px;
            @media(max-width: 767px) {
                border-radius: 12px;
                padding: 0px 10px;
            }
            .clinicdocquity-img {
                width: 100%;               
                position: relative;
                transform: translateY(-56px);
                @media(max-width: 767px) {
                    transform: translateY(-26px);
                }
                img{margin-bottom: 30px;}
            }
        }
    } 
   
    .clinicdocquity-row  {
        @media(min-width: 767px) {
                    display: none;
        }
        @media(max-width: 767px) {
            display: block;
        }
    }

    .clinicverticalswiper-button-next:hover , .clinicverticalswiper-button-next:visited {
        border: none !important;
        outline: none !important;
    }

    .clinicverticalswiper-button-next{
        top: -2%;
        background: #B1CBCF;
        width: 50px;
        height: 50px;
        border: 1px solid #EEEEEE;
        border-radius: 35px;
        position: absolute;

        @media (max-width: 768px) {
            top: 32%;
        }
        @media (min-width: 531px){
            display: none;
        }

        &::after{content:none;}
        
    }
    .clinicverticalswiper-button-next{                 
        right: -71px;                
        transform: rotate(180deg); 
        z-index: 1;
        position: absolute;
        @media(max-width:659px){
            right: 1px;
    }

        svg{
            margin: 18px 19px;
        }
    }

    .clinicverticalswiper-button-next:after, .swiper-rtl {
        content: 'next';
        display: none;
    }
}


.privacyverticalswiper-button-next{
    @media (min-width: 768px){
        display: none;

    }

}
.privacyverticalswiper-button-next:hover {
    border: none !important;
    outline: none !important;
}

.privacyverticalswiper-button-next{
    top: 28%;
    background: #B1CBCF;
    width: 50px;
    height: 50px;
    border: 1px solid #EEEEEE;
    border-radius: 35px;
    position: absolute;
    @media (max-width: 768px) {
        top: 5%;
    }

    &::after{content:none;}
    
}
.privacyverticalswiper-button-next{                 
    right: -4px;                
    transform: rotate(180deg); 
    z-index: 11;
    position: absolute;

    svg{
        margin: 18px 19px;
    }
}

.privacyverticalswiper-button-next:after, .swiper-rtl {
    content: 'next';
    display: none;
}

// .vertical-tab-list {
//     border-left: 2px solid #EEEEEE;

//     @media (max-width: 767px) {
//         display: flex;           
//         overflow-x: scroll;
//         overflow-y: hidden;
//     }
//     &__tabfont{
//         @media (max-width: 767px) {
//             font-weight: 700;
//             font-size: 16px !important;
//             line-height: 28px;
//             width: max-content;
//         }
//     }
// }

// Interactive webinar

.sec050{
    .dq-webinar-fig2{
        top: 50px;
        left: 70px;
        @media(max-width: 766px) {
            top: 21px;
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            width: 80%;
        }
    }
}

.sec030{
    margin: 20px auto;
}

.sec060{
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    border-radius: 12px;
    margin: 100px 0px 0px 0px;
    @media(max-width: 766px) {
        margin-bottom: 88px;
        // margin-top: 175px;
    }

    .dq-webinar-fig{
        position: relative;
        width: 100%;
    }
    .dq-webinar-fig2{
        position: absolute;
        width: 100%;
        top:0px;
        transform: translateY(50px);
        left: 0px;
        @media(max-width: 766px) {
            transform: translateY(41px);
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media(min-width: 992px) and (max-width: 1199px) {
            top: 15px;
            left: 45px;
        }
        @media(min-width: 1200px) and (max-width: 1399px) {
            top: 20px;
            left: 45px;
        }
        @media(min-width: 1200px) and (max-width: 1399px) {
            top: 38px;
            left: 70px;
        }
        @media(min-width: 1400px){
            top: 50px;
            left: 70px;
        }
        img{
            width: 80%;
        }
        
    }
.dq-webinar-article {
    border-bottom : 1px solid #EEEEEE;
    padding-bottom: 2.5rem;
    margin-bottom : 2rem;  

    @media(max-width: 766px) {
        border-bottom: none;
    }

    &__title {
        color      : #1B4A52;
        font-size  : 16px !important;
        line-height: 26px !important;
        font-weight: $fnt-semibold;
    }
}
.dq-media{
    &__fig{
    img{
        width: 60px;
        height: 60px;
    }
}
}
}