.swiper.homeleadershipSwiper
    .swiper-wrapper
        .swiper-slide 
            .dq-thumbnailcard
                .dq-thumbnailcard__figwrap
                    img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
                .dq-thumbnailcard__body
                    span.dq-categ-name Pharma
                    h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                    p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
        .swiper-slide 
            .dq-thumbnailcard
                .dq-thumbnailcard__figwrap
                    img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
                .dq-thumbnailcard__body
                    span.dq-categ-name Pharma
                    h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                    p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
        .swiper-slide 
            .dq-thumbnailcard
                .dq-thumbnailcard__figwrap
                    img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
                .dq-thumbnailcard__body
                    span.dq-categ-name Pharma
                    h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                    p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
        .swiper-slide 
            .dq-thumbnailcard
                .dq-thumbnailcard__figwrap
                    img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
                .dq-thumbnailcard__body
                    span.dq-categ-name Pharma
                    h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                    p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
        .swiper-slide 
            .dq-thumbnailcard
                .dq-thumbnailcard__figwrap
                    img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
                .dq-thumbnailcard__body
                    span.dq-categ-name Pharma
                    h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                    p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
        .swiper-slide 
            .dq-thumbnailcard
                .dq-thumbnailcard__figwrap
                    img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
                .dq-thumbnailcard__body
                    span.dq-categ-name Pharma
                    h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                    p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
        .swiper-slide 
            .dq-thumbnailcard
                .dq-thumbnailcard__figwrap
                    img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
                .dq-thumbnailcard__body
                    span.dq-categ-name Pharma
                    h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                    p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
    .swiper-button-next
        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.9971 4.99157L0.99707 4.99157M10.9971 4.99157L6.99707 8.989M10.9971 4.99157L6.99707 0.994141" stroke="#1B4A52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
    .swiper-button-prev
        <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 4.99157L11 4.99157M1 4.99157L5 8.989M1 4.99157L5 0.994141" stroke="#1B4A52" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>


    .swiper-pagination


