// Animate footer
// Footer
footer {
    background-color: #0E0D0D;
    border-radius   : 16px;
    margin          : 0px 15px 15px 15px;
    color           : #FFFFFF;
    position        : relative;
    padding         : 0px 56px;

    @media (max-width: 767px) {
        padding: 175px 15px 0px;
    }

    .footer-list {
        &__item {
            @media (max-width: 767px) {
                margin-bottom: 40px;
            }

            .footer-sub-list {
                &__item {
                    margin-bottom: 16px;
                }
            }
        }

        .patient-item {
            @media (max-width: 767px) {
                position: absolute;
                top     : 75%;
            }
        }
    }

    .footer-top {
        border-bottom: 1px solid #252424;
        padding      : 72px 0px 40px;

        @media (max-width: 767px) {
            padding   : 40px 0px 80px;
            border-top: 1px solid #252424;

        }


        .footer-right {
            @media (max-width: 767px) {}

            form {
                position     : relative;
                margin-bottom: 32px;
                @media (max-width: 767px) {
                    padding-bottom: 49px;
                    border-bottom: 1px solid #252424;
                }

                .footer-form {
                    width         : 60%;
                    border        : 1px solid #ffffff1a;
                    background    : #ffffff12 !important;
                    border-radius : 8px;
                    font-weight   : 300;
                    font-size     : 16px;
                    font-family   : 'Lexend Deca', sans-serif;
                    line-height   : 20px;
                    letter-spacing: 0.5%;
                    height        : 48px;
                    position      : relative;

                    @media (max-width: 767px) {
                        margin-bottom: 16px;
                        width        : 100%;
                    }

                    &:focus {
                        box-shadow: none !important;
                    }
                }

                .footer__submit {
                    position     : absolute;
                    top          : 0%;
                    right        : 0;
                    border       : 0;
                    padding      : 13px 25px;
                    background   : #1B4A52;
                    border-radius: 12px;
                    color        : #fff;

                    @media (max-width: 767px) {
                        position: relative;
                        width   : 100%;
                    }

                    &:focus {
                        outline: none !important;
                    }

                    &:focus-visible {
                        outline: none !important;
                    }
                }
            }

            .playstore-list {
                display: flex;

                @media (max-width: 767px) {
                    position : relative;
                    transform: translateY(80px);
                }

                &__item {
                    &:first-child {
                        margin-right: 16px;
                    }
                }
            }

            .star-list {
                display: flex;

                @media (max-width: 767px) {
                    width    : 45%;
                    margin   : 0px auto;
                    position : relative;
                    transform: translateY(-80px);
                }

                &__item {
                    margin-right: 9px;
                }
            }

            .footer-span {
                position: absolute;
                bottom  : -10px;
                left    : 34%;

                @media (max-width: 767px) {
                    bottom: 45px;
                    left: inherit;                   
                    transform: translateX(40px);                    
                }
            }

        }
    }

    .footer-bottom {
        padding: 40px 0px 40px;
        position: relative;

        @media (max-width: 767px) {
            padding       : 40px 0px;
            display       : flex;
            flex-direction: column-reverse;
        }

        .footer-logodiv {

            @media (max-width: 767px) {
                position: absolute;
                transform: translateY(-1125px);
            }
        }

        .footer-menu {
            display: flex;

            @media (max-width: 767px) {
                width: 100%;

            }

            &--item {
                width: 45%;

                &:first-child {
                    @media (max-width: 767px) {
                        width       : 49%;
                        margin-right: 15px;
                    }
                }

                a {
                    color         : #202020 !important;
                    // font-family: $inter;
                    font-size     : 16px;
                    line-height   : 19.36px;

                }
            }
        }

        .social-list {
            display: flex;
            float  : right;

            @media (max-width: 767px) {
                float : none;
                width : 85%;
                margin: 0px auto 20px;

            }

            &__item {
                border       : 1px solid #fff;
                border-radius: 50%;

                &:not(:last-child) {
                    margin-right: 18px;
                }
            }

            .facebook {
                padding: 10px 16px;
            }

            .twitter {
                padding: 9px 10px;
            }

            .insta {
                padding: 8px 9px;
            }

            .linked {
                padding: 6px 12px;
            }
        }

        .policy-link {
            display : flex;
            position: absolute;
            right   : 0px;
            bottom  : 0px;

            @media (max-width: 767px) {
                width: 91%;
                margin: 0px auto;
                position: relative;
                bottom  : 0px;
            }

            &__item {
                &:not(:last-child) {
                    margin-right: 26px;
                }
            }

        }
    }

}