section.category-section
    .container-fluid 
        .row 
            .col-lg-12 
                .category-Swiper.swiper-container
                    .swiper-wrapper 
                        .swiper-slide
                            .logo-size
                                img.w100(src="./img/about/logo/logo1.png", alt="")
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo2.png", alt="")
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo3.png", alt="")
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo4.png", alt="")                      
                        .swiper-slide
                            .logo-size
                                img.w100(src="./img/about/logo/logo5.png", alt="")
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo6.png", alt="")
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo7.png", alt="")
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo8.png", alt="")   
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo9.png", alt="")  
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo10.png", alt="")  
                        .swiper-slide 
                            .logo-size
                                img.w100(src="./img/about/logo/logo11.png", alt="") 
                    .swiper-pagination 