section.faq-section 
    .container-fluid 
        .row                          
            .col-12.col-lg-8.ml-auto.mr-auto
                #faqpricing.accordion
                    .card
                        #faqhead1.card-header
                            a.fnt-20.lh24.fnt-man.text-blackish.mb-0.btn.btn-header-link(href='#' data-toggle='collapse' data-target='#faq1' aria-expanded='true' aria-controls='faq1') How do I register with Docquity?                              
                        #faq1.collapse.show(aria-labelledby='faqhead1' data-parent='#faqpricing')
                            .card-body
                                p.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures brought to you by doctors from academia.                        
                    .card
                        #faqhead2.card-header
                            a.fnt-20.lh24.fnt-man.text-blackish.mb-0.btn.btn-header-link.collapsed(href='#' data-toggle='collapse' data-target='#faq2' aria-expanded='true' aria-controls='faq2') How do I register with Docquity? 
                        #faq2.collapse(aria-labelledby='faqhead2' data-parent='#faqpricing')
                            .card-body
                                p.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures brought to you by doctors from academia.                        
                    .card
                        #faqhead3.card-header
                            a.fnt-20.lh24.fnt-man.text-blackish.mb-0.btn.btn-header-link.collapsed(href='#' data-toggle='collapse' data-target='#faq3' aria-expanded='true' aria-controls='faq3') How do I register with Docquity?  
                        #faq3.collapse(aria-labelledby='faqhead3' data-parent='#faqpricing')
                            .card-body
                                p.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures brought to you by doctors from academia.                        
                    .card
                        #faqhead4.card-header
                            a.fnt-20.lh24.fnt-man.text-blackish.mb-0.btn.btn-header-link.collapsed(href='#' data-toggle='collapse' data-target='#faq4' aria-expanded='true' aria-controls='faq4') How do I register with Docquity?
                        #faq4.collapse(aria-labelledby='faqhead4' data-parent='#faqpricing')
                            .card-body
                                p.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures brought to you by doctors from academia.                        
                    .card
                        #faqhead5.card-header
                            a.fnt-20.lh24.fnt-man.text-blackish.mb-0.btn.btn-header-link.collapsed(href='#' data-toggle='collapse' data-target='#faq5' aria-expanded='true' aria-controls='faq5') How do I register with Docquity?   
                        #faq5.collapse(aria-labelledby='faqhead5' data-parent='#faqpricing')
                            .card-body
                                p.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures brought to you by doctors from academia.                        