section.subheader-section 
    .container 
        .row 
            .col-md-6.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.fnt500.mb-16.text-white Frequently Asked Questions
                p.txt-md.text-white.fnt500.fnt-man.mb-0 DocTalks is a library of short video lectures brought to you by doctors from academia, research institutions.     
                form.search-container
                    input#search-bar(type='text' placeholder='Search here...')
                    a(href='#')
                        img.search-icon(src='./img/faq/search-w.svg')          