include ./NavMenuItem.pug
ul.item.p-2.px-md-4.py-md-2.nav-menu-list-item
    li.py-2.py-md-3
        +SubNavMenuItem('about.html','./img/header/d-about.svg',"About","Content related to About Us") 
    li.py-2.py-md-3
        +SubNavMenuItem('career.html','./img/header/d-career.svg',"Career","Content related to Careers") 