ul.p-2.px-md-4.py-md-2.nav-menu-list-item
    include ./NavMenuItem.pug
    li.py-2.py-md-3
        +NavMenuItem('about.html','./img/header/d-docquity.svg',"Docquity","Content related to Docquity") 

    li.py-2.py-md-3
        +NavMenuItem('clinic.html','./img/header/d-clinic.svg',"Docquity Clinic","Content related to Docquity Clinic") 

    li.py-2.py-md-3
        +NavMenuItem('productcpd.html','./img/header/d-cpd.svg',"CPD/CME Credits","Content related to CPD/CME Credits")