footer.footer-docquity.gsap-footer-wrap#footerSection
    .container-fluid
        .row.footer-top 
            .col-md-8 
                ul.row.footer-list
                    li.col-md-2.col-6.footer-list__item
                        h4.fnt-man.text-white.fnt-md Company
                        ul.footer-sub-list 
                            li.footer-sub-list__item  
                                a.footer-link.fnt-man(href="about.html") About Us
                            li.footer-sub-list__item 
                                a.footer-link.fnt-man(href="about.html") Careers
                            li.footer-sub-list__item 
                                a.footer-link.fnt-man(href="about.html") Media Kit
                    li.col-md-2.col-6.footer-list__item
                        h4.fnt-man.text-white.fnt-md Doctors 
                        ul.footer-sub-list
                            li.footer-sub-list__item   
                                a.footer-link.fnt-man(href="about.html") Docquity App
                            li.footer-sub-list__item 
                                a.footer-link.fnt-man(href="about.html") Docquity Clinic
                            li.footer-sub-list__item 
                                a.footer-link.fnt-man(href="about.html") CPD/CME Credits
                    li.col-md-2.col-6.footer-list__item.patient-item
                        h4.fnt-man.text-white.fnt-md Patient
                        ul.footer-sub-list
                            li.footer-sub-list__item   
                                a.footer-link(href="about.html") Patient App
                    li.col-md-2.col-6.footer-list__item
                        h4.fnt-man.text-white.fnt-md Client 
                        ul.footer-sub-list 
                            li.footer-sub-list__item   
                                a.footer-link.fnt-man(href="about.html") MR Connect
                            li.footer-sub-list__item 
                                a.footer-link.fnt-man(href="about.html") PAP                           
                    
                    li.col-md-2.col-6.footer-list__item
                        h4.fnt-man.text-white.fnt-md Resource
                        ul.footer-sub-list 
                            li.footer-sub-list__item   
                                a.footer-link(href="about.html") Webinars
                            li.footer-sub-list__item 
                                a.footer-link(href="about.html") Articles
                            li.footer-sub-list__item 
                                a.footer-link(href="about.html") Events
                            li.footer-sub-list__item   
                                a.footer-link(href="about.html") Case Studies
                            li.footer-sub-list__item 
                                a.footer-link(href="about.html") FAQ

                    
            .col-md-4.footer-right
                h4.fnt-man.text-white.fnt-md.mb-0 Newsletter                
                p.fnt-md.txt-owhite Subscribe to our newsletter to get latest news and updates
                form
                    input.form-control.footer-form(type='email' placeholder='Email')
                    button.footer__submit Subscribe
                        img.ml-2(src="./img/icons/shape.svg", alt="")
                ul.playstore-list 
                    li.playstore-list__item 
                        a(href="")
                            img.w100(src="./img/app.png", alt="")
                    li.playstore-list__item 
                        a(href="")
                            img.w100(src="./img/gplay.png", alt="")
                ul.star-list
                    li.star-list__item
                        img(src="./img/icons/fullstar.svg", alt="")
                    li.star-list__item 
                        img(src="./img/icons/fullstar.svg", alt="")
                    li.star-list__item 
                        img(src="./img/icons/fullstar.svg", alt="")
                    li.star-list__item 
                        img(src="./img/icons/fullstar.svg", alt="")
                    li.star-list__item 
                        img(src="./img/icons/halfstar.svg", alt="")
                span.text-gray.footer-span.ml-2 Based on 10,000+ reviews on
            
        .row.footer-bottom
            .col-md-4.col-12.footer-logodiv
                .footer-logo 
                    img(src="./img/footer-logo.svg", alt="")
                p.fnt-md.text-white © 2021 | Docquity.com. All rights reserved                
            .col-md-8.col-12
                ul.social-list
                    li.social-list__item.facebook
                        a(href="#") 
                            img(src="./img/icons/facebook.svg", alt="")
                    li.social-list__item.twitter
                        a(href="#") 
                            img(src="./img/icons/twitter.svg", alt="")
                    li.social-list__item.insta
                        a(href="#") 
                            img(src="./img/icons/insta.svg", alt="")
                    li.social-list__item.linked
                        a(href="#") 
                            img(src="./img/icons/linkedin.svg", alt="")
                ul.policy-link 
                    li.policy-link__item
                        a.fnt-md.text-white.fnt-500(href="#") Terms & Conditions
                    li.policy-link__item
                        a.fnt-md.text-white.fnt-500(href="#") Privacy Policy
                            

