header.header#header.bg-white
	nav.nav.nav-wrap.mobile.active
		.container
			.row
				.nav-wrapper.col-12
					
					.nav-header
						.menu-icon
							span.line
							span.line
							span.line
					
						.logo.d-flex.align-items-center
							a.navbar-link.header-brand-logo(href="index.html")
								include ../../img/logo.svg
					.hamb-overlay
					.menu
						ul.menu-list.menu-list--left.mb-header-nav
								
							li.menu__item
								a(href="about.html").menu__link About Us 
								
							li.menu__item
								a(href="programs.html").menu__link Impact
								
							li.menu__item
								a(href="hotline.html").menu__link Partners
								
							li.menu__item
								a(href="blog.html").menu__link Gallery
								
							li.menu__item
								a(href="contact-us.html").menu__link Resources
							li.menu__item
								a(href="#footerSection").js-contact-link.menu__link Contact Us
					
							li.menu__item.h-dropdown
								select
									option(value='1') English
									option(value='2') Kannada
									option(value='3') Hindhi
								

						
