//- .container.z-index2.d-none.d-md-block
//-     .row 
//-         .col-md-1 
//-             //- main.mainContent
//-             ul.sidebar
//-                 li.contactlink
//-                     a(href="getInTouch.html") Contact
//-                 li.careerlink 
//-                     a(href="careers.html") Careers
//-                 li.aboutUslink 
//-                     a(href="about.html") About Us
//-   .content
//-     p.text-center.font-size-24 Content Area
//- footer.footer
//-   p.text-center.font-size-24 Footer