mixin head(page_name)
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	meta(http-equiv="X-UA-Compatible" content="ie=edge,chrome=1")

	//
		Allows control over where resources are loaded from.
		Place as early in the <head> as possible, as the tag
		only applies to resources that are declared after it.
	//- meta(http-equiv='Content-Security-Policy', content="default-src 'self' https://cdnjs.cloudflare.com style-src 'self' script-src '' connect-src 'http://localhost:3000'")
	//
		Name of web application (only should be used if the website is used as an app)
	meta(name='application-name', content='Naskay')
	//
		Theme Color for Chrome, Firefox OS and Opera
	meta(name='theme-color', content='#1f3f99')

	//
		Disable automatic detection and formatting of possible phone numbers
	meta(name='format-detection', content='telephone=no')
	meta(name="msapplication-tap-highlight" content="no")
	meta(name="renderer" content="webkit|ie-comp|ie-stand")

	link(rel="apple-touch-icon" href="./img/favicon.png")
	link(rel="icon shortcut" href="./img/favicon.png")

	meta(name= "keywords", content= "")

		//- lexend
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
		//- manorpe
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">	

	//- link(rel= "stylesheet", href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css")	
	
	link(rel= "stylesheet", href="css/main.css")

	if(page_name === "home")
		title Docquity
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/index.html")
		meta(name="description" content="Docquity Home page")
	
	if(page_name === "about")
		title Docquity	
		//- link(rel= "stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/about.html")
		meta(name="description" content="Docquity about page")

	if(page_name === "career")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/career.html")
		meta(name="description" content="Docquity career page")

	if(page_name === "faq")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/faq.html")
		meta(name="description" content="Docquity faq page")

	if(page_name === "privacy")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/privacy.html")
		meta(name="description" content="Docquity faq page")

	if(page_name === "clinic")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/clinic.html")
		meta(name="description" content="Docquity clinic page")

	if(page_name === "article")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/article.html")
		meta(name="description" content="Docquity article page")

	if(page_name === "events")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/events.html")
		meta(name="description" content="Docquity events page")

	if(page_name === "webinar")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/webinar.html")
		meta(name="description" content="Docquity webinar page")

	if(page_name === "article-details")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/article-details.html")
		meta(name="description" content="Docquity article-details page")
		
	if(page_name === "webinar-takeways")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/webinar-takeways.html")
		meta(name="description" content="Docquity webinar-takeways page")

	if(page_name === "webinar-inner")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/webinar-inner.html")
		meta(name="description" content="Docquity webinar-inner page")

	if(page_name === "clientstories")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/clientstories.html")
		meta(name="description" content="Docquity clientstories page")

	if(page_name === "clientstories-details")
		title Docquity	
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/clientstories-details.html")
		meta(name="description" content="Docquity clientstories-details page")

	if(page_name === "productcpd")
		title Docquity
		link(rel= "stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
		link(rel="canonical" href="/productcpd.html")
		meta(name="description" content="Docquity product cpd cme page")