header.header#header.header-transparent.svg-white
	nav.nav.nav-wrap.mobile.active
		.container-fluid
			.row
				.nav-wrapper.col-12 
					.nav-header
						
						.menu-icon
							span.line
							span.line
							span.line
					
						.logo.d-flex.align-items-center
							a.navbar-link.header-brand-logo(href="index.html")
								//- img(src="./img/common-img/logo-w.svg", alt="")
								include ../../img/docquity.svg					
						
						
							
								
					.hamb-overlay
					.menu
						.white-logo
							a.navbar-link.header-brand-logo(href="index.html")
								//- img(src="./img/common-img/logo-w.svg", alt="")
								include ../../img/docquity.svg
						ul.menu-list.menu-list--left.mb-header-nav
								
							

							li.menu__item.drodown-header
								//- a(href="#footerSection").js-contact-link.menu__link Contact Us
								.dropdown
									button#dropdownMenuButton.btn.header-btn.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
										| Products
									.dropdown-menu(aria-labelledby='dropdownMenuButton') 
										a.dropdown-item(href='#') Pre Silicon	
							li.menu__item.drodown-header
								//- a(href="#footerSection").js-contact-link.menu__link Contact Us
								.dropdown
									button#dropdownMenuButton.btn.header-btn.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
										| Resources
									.dropdown-menu(aria-labelledby='dropdownMenuButton')
										a.dropdown-item(href='#') abc
							li.menu__item.drodown-header
								//- a(href="#footerSection").js-contact-link.menu__link Contact Us
								.dropdown
									button#dropdownMenuButton.btn.header-btn.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
										| Company
									.dropdown-menu(aria-labelledby='dropdownMenuButton') 
										a.dropdown-item(href='#') Company						
