ul.p-2.px-md-4.py-md-2.nav-menu-list-item
    include ./NavMenuItem.pug
    li.py-2.py-md-3
        +NavMenuItem('about.html','./img/header/d-patient.svg',"Docquity Clinic","Content related to Webinars") 