include ./NavMenuItem.pug
ul.item.p-2.px-md-4.py-md-2.nav-menu-list-item
    li.py-2.py-md-3
        +SubNavMenuItem('webinar.html','./img/header/d-webinar.svg',"Webinars","Content related to Webinars") 
    li.py-2.py-md-3
        +SubNavMenuItem('events.html','./img/header/d-events.svg',"Events","Content related to Event") 
    li.py-2.py-md-3
        +SubNavMenuItem('article.html','./img/header/d-article.svg',"Articles","Content related to Articles") 
    li.py-2.py-md-3
        +SubNavMenuItem('faq.html','./img/header/d-faq.svg',"FAQ","Content related to FAQ") 