script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')

//- script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
script(defer src='js/plugins/niceselect.js')

//START: Custom scripts
mixin script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.0/parsley.min.js")  
    script(defer src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
    script(defer src="js/common.js")
    //- script(defer src="js/home.js")
    
    if(page_name =="home")
    
        //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js")
        //- script(defer src="https://unpkg.com/swiper@7/swiper-bundle.min.js")   
        //- script(defer src="https://unpkg.com/swiper@7/swiper-bundle.min.js")   
        script(defer src="js/home.js")
        script(defer src="js/home-new.js")
        script(defer src="js/about.js")

    if(page_name =="about")     
        script(defer src="js/about.js")
        script(defer src="js/home.js")

    if(page_name =="career")
        script(defer src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.6/vivus.min.js" referrerpolicy="no-referrer")      
        script(defer src="js/career.js")
        script(defer src="js/home.js")
    
    if(page_name =="faq")
    
        //- script(defer src="https://unpkg.com/swiper@7/swiper-bundle.min.js")     
        script(defer src="js/faq.js")
        script(defer src="js/home.js")

    if(page_name =="article")
    
        script(defer src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js")     
        script(defer src="js/article.js")
        script(defer src="js/home.js")

    if(page_name =="events")
    
        script(defer src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js") 
        script(defer src="js/article.js")  
        script(defer src="js/events.js")
        script(defer src="js/home.js")

    if(page_name =="productcpd")
    
        //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js")     
        script(defer src="js/productcpd.js")
        script(defer src="js/home.js")
        script(defer src="js/about.js")


    

    