section.product-section 
    .container
        .row 
            .col-lg-6.mr-auto.ml-auto.text-center 
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 Subscribe to the newsletter
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-18 Join our subscribers list for our newsletter to get latest news and  updates delivered directly to your inbox
                form.search-container1
                    input#search-bar1(type='text' placeholder='Enter Email')
                    a.gray-btn.fnt-md.fnt800.fnt-man.sub-btn(href="") Subscribe
                        //- img.ml-25(src="./img/icons/right-arrow.svg", alt="")