.js-partners-icons.swiper-container.mb-24 
    .swiper-wrapper 
        .swiper-slide
            .logo-size
                img.w100(src="./img/about/logo/logo1.png", alt="")
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo2.png", alt="")
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo3.png", alt="")
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo4.png", alt="")                      
        .swiper-slide
            .logo-size
                img.w100(src="./img/about/logo/logo5.png", alt="")
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo6.png", alt="")
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo7.png", alt="")
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo8.png", alt="")   
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo9.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo10.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo11.png", alt="")  

.js-partners-icons-reverse.swiper-container.mb-0
    .swiper-wrapper 
        .swiper-slide
            .logo-size
                img.w100(src="./img/about/logo/logo12.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo13.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo14.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo15.png", alt="")                      
        .swiper-slide
            .logo-size
                img.w100(src="./img/about/logo/logo16.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo17.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo18.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo19.png", alt="") 
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo20.png", alt="")  
        .swiper-slide 
            .logo-size
                img.w100(src="./img/about/logo/logo21.png", alt="")  