section.aboutbanner-section 
    .container 
        .row
            .col-lg-10.mr-auto.ml-auto.text-center 
                p.fnt-20.fnt-lex.fnt600.text-bluey Welcome to Docquity
                h1.h1.fnt-lex.fnt700.text-blackish A community of experts and leading minds in health tech
                p.fnt500.txt-md.text-blackish   Our employees are founders, operators and doctors working on frontier ideas in health tech. They come from diverse backgrounds and share a strong spirit of service, a belief that technology can push the boundaries of the healthcare system.
            .col-lg-12 
                .banner-img 
                    img.w100(src="./img/home/image3.png", alt="")