section.aboutbanner-section 
    .container-fluid 
        .row
            .col-lg-10.mr-auto.ml-auto.text-center.newbanner 
                p.fnt-20.fnt-lex.fnt500.text-bluey.mb-4 Welcome to Docquity
                h1.h1.fnt-lex.fnt700.text-blackish.mb-24 A community of experts and leading minds in health tech
                p.fnt500.txt-md.text-blackish.mb-58 Our employees are founders, operators and doctors working on frontier ideas in health tech. They come from diverse backgrounds and share a strong spirit of service, a belief that technology can push the boundaries of the healthcare system.
            .col-lg-12 
                .banner-img 
                    img.w100(src="./img/home/image3.png", alt="")