section.brand
    .swiper-container(dir='rtl').brandSwiper
        .swiper-wrapper
            .swiper-slide
                img(src="./img/about/Google.svg", alt="")
            .swiper-slide
                img(src="./img/about/Amazon.svg", alt="")
            .swiper-slide
                img(src="./img/about/Gatsby.svg", alt="")
            .swiper-slide
                img(src="./img/about/Microsoft.svg", alt="")
            .swiper-slide
                img(src="./img/about/FedEx.svg", alt="")
            .swiper-slide
                img(src="./img/about/AirBnb.svg", alt="")
            .swiper-slide
                img(src="./img/about/Google.svg", alt="")
            .swiper-slide
                img(src="./img/about/Amazon.svg", alt="")
            .swiper-slide
                img(src="./img/about/Gatsby.svg", alt="")


section.brand
    .swiper-conatiner.brandSwiper1
        .swiper-wrapper
            .swiper-slide
                img(src="./img/about/Google.svg", alt="")
            .swiper-slide
                img(src="./img/about/Amazon.svg", alt="")
            .swiper-slide
                img(src="./img/about/Gatsby.svg", alt="")
            .swiper-slide
                img(src="./img/about/Microsoft.svg", alt="")
            .swiper-slide
                img(src="./img/about/FedEx.svg", alt="")
            .swiper-slide
                img(src="./img/about/AirBnb.svg", alt="")
            .swiper-slide
                img(src="./img/about/Google.svg", alt="")
            .swiper-slide
                img(src="./img/about/Amazon.svg", alt="")
            .swiper-slide
                img(src="./img/about/Gatsby.svg", alt="")
