section.brand-logos.slider
    .slide
        img(src="./img/about/Google.svg", alt="")
    .slide
        img(src="./img/about/Amazon.svg", alt="")
    .slide
        img(src="./img/about/Gatsby.svg", alt="")
    .slide
        img(src="./img/about/Microsoft.svg", alt="")
    .slide
        img(src="./img/about/FedEx.svg", alt="")
    .slide
        img(src="./img/about/AirBnb.svg", alt="")
    .slide
        img(src="./img/about/Google.svg", alt="")
    .slide
        img(src="./img/about/Amazon.svg", alt="")
    .slide
        img(src="./img/about/Gatsby.svg", alt="")

section.brand-logos1.slider
    .slide
        img(src="./img/about/Google.svg", alt="")
    .slide
        img(src="./img/about/Amazon.svg", alt="")
    .slide
        img(src="./img/about/Gatsby.svg", alt="")
    .slide
        img(src="./img/about/Microsoft.svg", alt="")
    .slide
        img(src="./img/about/FedEx.svg", alt="")
    .slide
        img(src="./img/about/AirBnb.svg", alt="")
    .slide
        img(src="./img/about/Google.svg", alt="")
    .slide
        img(src="./img/about/Amazon.svg", alt="")
    .slide
        img(src="./img/about/Gatsby.svg", alt="")

