//- .swiper.swiper-container.swiper-container
//-                         .swiper-wrapper
//-                             // Slides
//-                             .swiper-slide
//-                                 .slide-content 
//-                                     .slide-icon 
//-                                         img.w20(src="./img/icons/logo-icon.svg", alt="")
//-                                     .slide-text 
//-                                         h2.h2.fnt-lex We are builders-first
//-                                         p.fnt-md.text-blackish.fnt500.fnt-man Startup Framework contains components and complex blocks which can easily be inte-grated.
//-                                 .slide-content 
//-                                     .slide-icon 
//-                                         img.w20(src="./img/icons/logo-icon.svg", alt="")
//-                                     .slide-text 
//-                                         h2.h2.fnt-lex We're on a mission
//-                                         p.fnt-md.text-blackish.fnt500.fnt-man Startup Framework contains components and complex blocks which can easily be inte-grated.
//-                                 .slide-content 
//-                                     .slide-icon 
//-                                         img.w20(src="./img/icons/logo-icon.svg", alt="")
//-                                     .slide-text 
//-                                         h2.h2.fnt-lex We're on a mission
//-                                         p.fnt-md.text-blackish.fnt500.fnt-man Startup Framework contains components and complex blocks which can easily be inte-grated.
//-                                 .slide-content 
//-                                     .slide-icon 
//-                                         img.w20(src="./img/icons/logo-icon.svg", alt="")
//-                                     .slide-text 
//-                                         h2.h2.fnt-lex We're on a mission
//-                                         p.fnt-md.text-blackish.fnt500.fnt-man Startup Framework contains components and complex blocks which can easily be inte-grated.
//-                                     .slide-img
//-                                     img.w50(src="./img/about/Builder.png", alt="")