section.builder-section 
    .container-fluid
        .row.builder-row 
            .col-lg-5.pad-0
                .swiper.builderSwiper.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .builder-card                               
                                .builder-img
                                    img(src="./img/about/builder1.svg", alt="") 
                                .builder-text
                                h6.fnt-20.text-blackish.fnt700.fnt-man.lh32.mb-18 We are builders-first
                                p.txt-md.text-blackish.fnt500.fnt-man Startup Framework contains components and complex blocks which can easily be inte-grated.
                        .swiper-slide 
                            .builder-card                               
                                .builder-img
                                    img(src="./img/about/builder2.svg", alt="") 
                                .builder-text
                                h6.fnt-20.text-blackish.fnt700.fnt-man.lh32.mb-18 We're on a mission 
                                p.txt-md.text-blackish.fnt500.fnt-man Startup Framework contains components and complex blocks which can easily be inte-grated.
                    .swiper-pagination
            .col-lg-7.pad-0
                .builder-right
                    .builder-right-img
                        img.w100(src="./img/about/Builder.jpg", alt="")
                    .builder-right-card
                        h2.h2.fnt-lex.fnt500.mb-24.text-bluey The things we value the most
                        p.txt-md.text-blackish.fnt500.fnt-man.mb-24 Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars.

            
