section.investor
    .container
        .row
            .col-lg-12.p-0.text-center
                h2.h2.fnt-lex.fnt500 Our Investors
                p.fnt-sm.text-blackish.fnt500.fnt-man.opacity-text.mb-4 We're supported by the world’s best 
            .col-lg-12 
                .js-partners-icons-right.swiper-container.mb-0
                    .swiper-wrapper.investor-h 
                        .swiper-slide 
                            img(src="./img/about/_Client logo (4).svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/_Client logo.svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/g15.svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/_Client logo (1).svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/_Client Logo(2).svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/_Client logo (3).svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/_Client logo (4).svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/_Client logo (5).svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/_Client logo (1).svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/_Client Logo(2).svg", alt="")
                        
                    .swiper-pagination