section.enterprise
    .container
        .row
            .col-lg-12.p-0 
                h3.enterprise__head.heading.heading--black.text-center Our Investors   
            .col-lg-12 
                .js-partners-icons-right.swiper-container.mb-0 
                    .swiper-wrapper 
                        .swiper-slide 
                            img(src="./img/about/Client Logo.svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/Client Logo.svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/Client Logo.svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/Client Logo.svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/Client Logo.svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/Client Logo.svg", alt="")
                        .swiper-slide 
                            img(src="./img/about/Client Logo.svg", alt="")    


//- section.enterprise
//-     .container
//-         .row
//-             .col-lg-12.p-0
//-                  h2.h2.fnt-lex Our Investors
//-                  p.fnt-md.text-blackish.fnt500.fnt-man We're supported by the world’s best   
//-             .col-lg-12 
//-                 .js-partners-icons-right.swiper-container.mb-0 
//-                     .swiper-wrapper 
//-                         .swiper-slide
//-                             img(src="./img/about/Google.svg", alt="")
//-                         .swiper-slide 
//-                             img(src="./img/about/Google.svg", alt="")
//-                         .swiper-slide 
//-                             img(src="./img/about/Google.svg", alt="")
//-                         .swiper-slide 
//-                             img(src="./img/about/Google.svg", alt="")
//-                         .swiper-slide 
//-                             img(src="./img/about/Google.svg", alt="")
//-                         .swiper-slide 
//-                             img(src="./img/about/Google.svg", alt="")
//-                         .swiper-slide 
//-                             img(src="./img/about/Google.svg", alt="")    