section.map-section 
    .container-fluid 
        .row 
            .col-lg-12.p-0
                #image-map2
                    img.w100(src="./img/about/map1.png", alt="")
                    #spot-1.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile2.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings
                    #spot-2.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile1.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings
                    #spot-3.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile3.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings
                    #spot-4.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile4.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings
                    #spot-5.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile5.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings
                    #spot-6.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile6.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings
                    #spot-7.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile7.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings
                    #spot-8.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile8.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings
                    #spot-9.hotspot
                        .hotspot-img
                            img.w100(src="./img/about/profile9.svg", alt="")
                        .spot
                            a(href="#")
                                ul 
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 Delhi, India
                                    li 
                                        span.loc-icon
                                            img.w100(src="./img/about/loc.svg", alt="")
                                        p.fnt-man.fnt500 20 Openings