section.counter-section.gsap-section-trig.timeline-section.bg-white 
    .container-fluid
        .align-items-md-center.counter-top.d-md-flex.row
            .col-md-12.col-lg-9 
                .counter-img-w 
                    img.counter-img(src="./img/about/Group3.png" alt="")
            .col-md-12.col-lg-3
                #counter-stats
                    ul.counter-list.gsap-list-item
                        li.counter-list__item
                            .counter-card   
                                .counter-card__img-w.newcard   
                                    p.fnt-20.fnt-man.fnt600.text-bluey Ok, Enough about us.
                                    p.mynew.fnt-lex.fnt500 Let's talk about the opportunity.
                                    p.fnt-md.text-blackish.fnt500.fnt-man.mb-4.opa While we have been growing fast, we are still small enough so that everyone makes a pivotal difference.
                                    p.fnt-md.text-blackish.fnt500.fnt-man.mb-4.opa We care less about hours worked and more about the outcome — and the impact you make. We have worked hard to create an autonomous working culture with an emphasis on work/life balance and a fun-working environment.
                                a.gray-btn.fnt-md.fnt800.fnt-man(href="") Join Us
                                 img.ml-2(src="./img/icons/right-arrow.svg", alt="")