section.opportunity-section    
    .container-fluid
        .row.opportunity-card
            .col-lg-6.opportunity-mobile.pl-0.scrollbar#style-3
                .force-overflow
                    .options
                        .option
                            .option-card.option-card--one
                                img.option__img(src='./img/about/opp1.png' alt='')
                        .option
                            .option-card.option-card--two
                                img.option__img(src='./img/about/opp1.png' alt='')
                        .option.active
                            .option-card.option-card--three
                                img.option__img(src='./img/about/opp1.png' alt='')
            .col-lg-4.ml-auto.mr-auto.col-12.opportunity-right
                p.fnt-20.fnt-man.fnt600.text-bluey.lh80.mb-12 Ok, Enough about us.
                h2.h2.fnt-lex.fnt500.mb-24 Let's talk about the opportunity.
                p.txt-md.text-blackish.fnt500.fnt-man.mb-16 While we have been growing fast, we are still small enough so that everyone makes a pivotal difference.
                p.txt-md.text-blackish.fnt500.fnt-man We care less about hours worked and more about the outcome — and the impact you make. We have worked hard to create an autonomous working culture with an emphasis on work/life balance and a fun-working environment.
                a.gray-btn.fnt-md.fnt800.fnt-man(href="") Join Us
                    img.ml-16(src="./img/icons/right-arrow.svg", alt="")