//- section.team-section.newteam 
//-     .container.newcontainer 
//-         .row 
//-             .col-lg-6.ml-auto.mr-auto.text-center 
//-                  h2.h2.fnt-lex.fnt500 Meet the team
//-                  p.fnt-sm.text-blackish.fnt500.fnt-man.opacity-text.mb-4 To build the future of healthcare we have recruited diverse group of people who are different in the same way.
//-                  a.gray-btn.fnt-md.fnt800.fnt-man(href="") View All
//-                   img.ml-2(src="./img/icons/right-arrow.svg", alt="")

//-     .container.col-10.offset-1
//-         .row
//-             .col-4.col-sm-12.col-md-3.col-lg-4
//-                 .our-team
//-                     .picture
//-                         img.img-fluid(src="./img/about/Mask group.png", alt="")
//-                     .team-content
//-                         h3.name Erica Chidi Cohen
//-                         h4.title Organisation Name
//-                     ul.social
//-                         li
//-                             //- a.fa.fa-linkedin(href='#' aria-hidden='true')
//-                             img(src="./img/about/linkedin.png", alt="")
//-             .col-4.col-sm-12.col-md-3.col-lg-4
//-                 .our-team
//-                     .picture
//-                         img.img-fluid(src="./img/about/Mask group (1).png", alt="")
//-                     .team-content
//-                         h3.name Erica Chidi Cohen
//-                         h4.title Organisation Name
//-                     ul.social
//-                         li
//-                             //- a.fa.fa-linkedin(href='#' aria-hidden='true')
//-                             img(src="./img/about/linkedin.png", alt="")
//-             .col-4.col-sm-12.col-md-3.col-lg-4
//-                 .our-team
//-                     .picture
//-                         img.img-fluid(src="./img/about/Mask group (2).png", alt="")
//-                     .team-content
//-                         h3.name Erica Chidi Cohen
//-                         h4.title Organisation Name
//-                     ul.social
//-                         li
//-                             //- a.fa.fa-linkedin(href='#' aria-hidden='true')
//-                             img(src="./img/about/linkedin.png", alt="")
//-             .col-4.col-sm-12.col-md-3.col-lg-4
//-                 .our-team
//-                     .picture
//-                         img.img-fluid(src="./img/about/Mask group (3).png", alt="")
//-                     .team-content
//-                         h3.name Erica Chidi Cohen
//-                         h4.title Organisation Name
//-                     ul.social
//-                         li
//-                             //- a.fa.fa-linkedin(href='#' aria-hidden='true')
//-                             img(src="./img/about/linkedin.png", alt="")

//-             .col-4.col-sm-12.col-md-3.col-lg-4
//-                 .our-team
//-                     .picture
//-                         img.img-fluid(src="./img/about/Mask group (4).png", alt="")
//-                     .team-content
//-                         h3.name Erica Chidi Cohen
//-                         h4.title Organisation Name
//-                     ul.social
//-                         li
//-                             //- a.fa.fa-linkedin(href='#' aria-hidden='true')
//-                             img(src="./img/about/linkedin.png", alt="")

//-             .col-4.col-sm-12.col-md-3.col-lg-4
//-                 .our-team
//-                     .picture
//-                         img.img-fluid(src="./img/about/Mask group (5).png", alt="")
//-                     .team-content
//-                         h3.name Erica Chidi Cohen
//-                         h4.title Organisation Name
//-                     ul.social
//-                         li
//-                             //- a.fa.fa-linkedin(href='#' aria-hidden='true')
//-                             img(src="./img/about/linkedin.png", alt="")


.container
    .row
        .col-12.col-sm-6.col-md-4.col-lg-3
            .our-team
                .picture
                    img.img-fluid(src='https://picsum.photos/130/130?image=1027')
        .col-12.col-sm-6.col-md-4.col-lg-3
            .our-team
                .picture
                    img.img-fluid(src='https://picsum.photos/130/130?image=839')
        .col-12.col-sm-6.col-md-4.col-lg-3
            .our-team
                .picture
                    img.img-fluid(src='https://picsum.photos/130/130?image=856')
        .col-12.col-sm-6.col-md-4.col-lg-3
            .our-team
                .picture
                    img.img-fluid(src='https://picsum.photos/130/130?image=836')

