section.team-section 
    .container
        .row.team-row 
            .col-lg-6.ml-auto.mr-auto.text-center.mt-20.team-desktop
                h2.h2.fnt-lex.fnt500.mb-22 Meet the team
                p.txt-md.text-blackish.fnt500.fnt-man.opacity-text.para-to To build the future of healthcare we have recruited diverse group of people who are different in the same way.
                a.gray-btn.fnt-md.fnt800.fnt-man(href="") View All
            .col-lg-12.d-none.d-md-block 
                ul.support-list.row 
                    li.col-lg-4.support-list__item
                        .our-team
                            .image-box
                                img.my-image(src='./img/about/Mask group.png')
                            .team-image.bg1
                                .team-social
                                    a(href="https://www.linkedin.com/signup" target="_blank")
                                        img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                p.txt-md.title.lh24 Organisation Name
                    li.col-lg-4.support-list__item 
                        .our-team
                            .image-box
                                img.my-image(src='./img/about/Mask group (1).png')
                            .team-image.bg2
                                .team-social
                                    a(href="https://www.linkedin.com/signup" target="_blank")
                                        img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                p.txt-md.title.lh24 Organisation Name
                    li.col-lg-4.support-list__item
                        .our-team
                            .image-box
                                img.my-image(src='./img/about/Mask group (2).png')
                            .team-image.bg3
                                .team-social
                                    a(href="https://www.linkedin.com/signup" target="_blank")
                                        img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                p.txt-md.title.lh24 Organisation Name
                    li.col-lg-4.support-list__item
                        .our-team
                            .image-box
                                img.my-image(src='./img/about/Mask group (3).png')
                            .team-image.bg4
                                .team-social
                                    a(href="https://www.linkedin.com/signup" target="_blank")
                                        img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                p.txt-md.title.lh24 Organisation Name
                    li.col-lg-4.support-list__item 
                        .our-team
                            .image-box
                                img.my-image(src='./img/about/Mask group (4).png')
                            .team-image.bg5
                                .team-social
                                    a(href="https://www.linkedin.com/signup" target="_blank")
                                        img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                p.txt-md.title.lh24 Organisation Name
                    li.col-lg-4.support-list__item
                        .our-team
                            .image-box
                                img.my-image(src='./img/about/Mask group (5).png')
                            .team-image.bg6
                                .team-social
                                    a(href="https://www.linkedin.com/signup" target="_blank")
                                        img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                p.txt-md.title.lh24 Organisation Name
                    
            .col-lg-12.d-md-none.d-block.team-mobile
                .swiper.teamSwiper
                    .swiper-wrapper
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group.png')
                                .team-image.bg1
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                    p.txt-md.title.lh24 Organisation Name
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (1).png')
                                .team-image.bg2
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                    p.txt-md.title.lh24 Organisation Name
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (2).png')
                                .team-image.bg3
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                    p.txt-md.title.lh24 Organisation Name
                        .swiper-slide
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (3).png')
                                .team-image.bg4
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                    p.txt-md.title.lh24 Organisation Name
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (4).png')
                                .team-image.bg5
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                    p.txt-md.title.lh24 Organisation Name
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (5).png')
                                .team-image.bg6
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    p.name.fnt-man.fnt800.text-blackish.fnt-24.mb-12.op1 Erica Chidi Cohen
                                    p.txt-md.title.lh24 Organisation Name
                    .swiper-pagination