section.team-section.newteam  
    .container
        .row.team-row 
            .col-lg-6.ml-auto.mr-auto.text-center.mt-20
                h2.h2.fnt-lex.fnt500.mb-24 Meet the team
                p.txt-md.text-blackish.fnt500.fnt-man.opacity-text.mb-45 To build the future of healthcare we have recruited diverse group of people who are different in the same way.
                a.gray-btn.fnt-md.fnt800.fnt-man(href="") View All
                    img.ml-16(src="./img/icons/right-arrow.svg", alt="")
            .col-lg-12.d-none.d-md-block 
                ul.support-list.row 
                    li.col-lg-4.support-list__item
                        .our-team
                            .image-box
                                img.img-fluid.my-image(src='./img/about/Mask group.png')
                            .team-image.bg1
                                .team-social
                                    img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                h3.name Erica Chidi Cohen
                                h4.title Organisation Name
                    li.col-lg-4.support-list__item 
                        .our-team
                            .image-box
                                img.img-fluid.my-image(src='./img/about/Mask group (1).png')
                            .team-image.bg2
                                .team-social
                                    img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                h3.name Erica Chidi Cohen
                                h4.title Organisation Name
                    li.col-lg-4.support-list__item
                        .our-team
                            .image-box
                                img.img-fluid.my-image(src='./img/about/Mask group (2).png')
                            .team-image.bg3
                                .team-social
                                    img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                h3.name Erica Chidi Cohen
                                h4.title Organisation Name
                    li.col-lg-4.support-list__item
                        .our-team
                            .image-box
                                img.img-fluid.my-image(src='./img/about/Mask group (3).png')
                            .team-image.bg4
                                .team-social
                                    img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                h3.name Erica Chidi Cohen
                                h4.title Organisation Name
                    li.col-lg-4.support-list__item 
                        .our-team
                            .image-box
                                img.img-fluid.my-image(src='./img/about/Mask group (4).png')
                            .team-image.bg5
                                .team-social
                                    img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                h3.name Erica Chidi Cohen
                                h4.title Organisation Name
                    li.col-lg-4.support-list__item
                        .our-team
                            .image-box
                                img.img-fluid.my-image(src='./img/about/Mask group (5).png')
                            .team-image.bg6
                                .team-social
                                    img(src="./img/about/linkedin.png", alt="")
                            .team-content
                                h3.name Erica Chidi Cohen
                                h4.title Organisation Name
                    
            .col-lg-12.d-md-none.d-block 
                .swiper.teamSwiper
                    .swiper-wrapper
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group.png')
                                .team-image.bg1
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    h3.name Erica Chidi Cohen
                                    h4.title Organisation Name
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (1).png')
                                .team-image.bg2
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    h3.name Erica Chidi Cohen
                                    h4.title Organisation Name
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (2).png')
                                .team-image.bg3
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    h3.name Erica Chidi Cohen
                                    h4.title Organisation Name
                        .swiper-slide
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (3).png')
                                .team-image.bg4
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    h3.name Erica Chidi Cohen
                                    h4.title Organisation Name
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (4).png')
                                .team-image.bg5
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    h3.name Erica Chidi Cohen
                                    h4.title Organisation Name
                        .swiper-slide 
                            .our-team
                                .image-box
                                    img.img-fluid.my-image(src='./img/about/Mask group (5).png')
                                .team-image.bg6
                                    .team-social
                                        img(src="./img/about/linkedin.png", alt="")
                                .team-content
                                    h3.name Erica Chidi Cohen
                                    h4.title Organisation Name
                    .swiper-pagination