section.counter-section.gsap-section-trig  
    .container 
        .align-items-md-center.counter-top.d-md-flex.row
            .col-md-12.col-lg-5
            .col-md-12.col-lg-6 
                .counter-img-w 
                    img.counter-img(src="./img/about/Builder.png" alt="flipkart") 

        .row.counter-bottom 
            .col-md-12.col-lg-6
                #counter-stats
                    ul.counter-list.gsap-list-item 
                        li.counter-list__item
                            .counter-card   
                                .counter-card__img-w
                                    img.counter-card__img(src="./img/about/Nintendo.svg" alt="")    
                                    h3 We are builders-first
                                    p Startup Framework contains components and complex blocks which can easily be inte-grated.
                        li.counter-list__item
                            .counter-card   
                                .counter-card__img-w
                                    img.counter-card__img(src="./img/about/Nintendo.svg" alt="")
                                    h3 We're on a mission
                                    p Startup Framework contains components and complex blocks which can easily be inte-grated.
            .col-md-12.col-lg-6 
                .counter-right
                    h1.counter-heading.mb-0.gsap-heading  The things we value the most
                    p.small-text.small-text--black.counter-right__para.gsap-desc  We are a software enabled payments platform that is helping SMEs digitize payments without worrying about their business process problems. 