section.counter-section.gsap-section-trig.timeline-section  
    .container 
        .align-items-md-center.counter-top.d-md-flex.row.newflex
            .col-md-12.col-lg-5.mything
                #counter-stats.newthing
                    ul.counter-list.gsap-list-item
                        li.counter-list__item
                            .counter-card   
                                .counter-card__img-w
                                    img.counter-card__img(src="./img/about/Nintendo.svg" alt="")    
                                    p.fnt-20.fnt-man.fnt700 We are builders-first
                                    p.fnt-md.text-blackish.fnt500.fnt-man.mb-4.opa Startup Framework contains components and complex blocks which can easily be inte-grated.
                        li.counter-list__item
                            .counter-card   
                                .counter-card__img-w
                                    img.counter-card__img(src="./img/about/Nintendo.svg" alt="")
                                    p.fnt-20.fnt-man.fnt700 We're on a mission
                                    p.fnt-md.text-blackish.fnt500.fnt-man.opa Startup Framework contains components and complex blocks which can easily be inte-grated.
            .col-md-12.col-lg-6 
                .counter-img-w 
                    img.counter-img(src="./img/about/Builder.png" alt="") 

        .row.counter-bottom 
            .col-md-12.col-lg-6
                
            .col-md-12.col-lg-6 
                .counter-right.my-thing
                    h1.counter-heading.mb-0.gsap-heading  The things we value the most
                    p.small-text.small-text--black.counter-right__para.gsap-desc  Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars.