section.timeline-section
    .container
        .row 
            .col-lg-12
                .process-wrapper
                    #progress-bar-container
                        ul
                            li.step.step01.active
                                <svg class="logo" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="logo" d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                .step-inner.fnt-man.fnt800.fnt-20.lh27.text-black 2013
                            li.step.step02
                                <svg class="logo" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="logo" d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                .step-inner.fnt-man.fnt800.fnt-20.lh27.text-black 2014
                            li.step.step03
                                <svg class="logo" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="logo" d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                .step-inner.fnt-man.fnt800.fnt-20.lh27.text-black 2015
                            li.step.step04
                                <svg class="logo" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="logo" d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                .step-inner.fnt-man.fnt800.fnt-20.lh27.text-black 2017
                            li.step.step05
                                <svg class="logo" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="logo" d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                .step-inner.fnt-man.fnt800.fnt-20.lh27.text-black 2020
                            li.step.step06
                                <svg class="logo" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="logo" d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path class="logo" d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                .step-inner.fnt-man.fnt800.fnt-20.lh27.text-black 2022
                        #line
                            #line-progress
                    .swiper.mySwiper
                        #progress-content-section.swiper-wrapper
                            .swiper-slide.section-content.slider-count1.active
                                .slide-img
                                    img.w100(src="./img/about/2013.png", alt="")
                                .slide-content 
                                    .slide-icon 
                                        img.w100(src="./img/icons/logo-icon.svg", alt="")
                                    .slide-text 
                                        h2.h2.fnt-lex.fnt500.mb-24 We are driven by our values
                                        p.fnt-md.text-blackish.fnt500.fnt-man Indranil’s (co-founder and CEO of Docquity) father gets severely sick and is diagnosed with just a few days of life. Luckily, the doctor leading the case makes a call to one of his colleagues abroad and gets recommendation for a treatment that saves his father life.
                            .swiper-slide.section-content.slider-count2
                                .slide-img
                                    img.w100(src="./img/about/2014.png", alt="")
                                .slide-content 
                                    .slide-icon 
                                        img.w100(src="./img/icons/logo-icon.svg", alt="")
                                    .slide-text 
                                        h2.h2.fnt-lex.fnt500.mb-24 We are driven by our values
                                        p.fnt-md.text-blackish.fnt500.fnt-man Indranil meets with Amit and discusses his father’s experience. The concept of Docquity is born.
                            .swiper-slide.section-content.slider-count3 
                                .slide-img
                                    img.w100(src="./img/about/2015.png", alt="")
                                .slide-content 
                                    .slide-icon 
                                        img.w100(src="./img/icons/logo-icon.svg", alt="")
                                    .slide-text 
                                        h2.h2.fnt-lex.fnt500.mb-24 We are driven by our values
                                        p.fnt-md.text-blackish.fnt500.fnt-man Docquity launches in Indonesia.
                            .swiper-slide.section-content.slider-count4 
                                .slide-img
                                    img.w100(src="./img/about/2017.png", alt="")
                                .slide-content 
                                    .slide-icon 
                                        img.w100(src="./img/icons/logo-icon.svg", alt="")
                                    .slide-text 
                                        h2.h2.fnt-lex.fnt500.mb-24 We are driven by our values
                                        p.fnt-md.text-blackish.fnt500.fnt-man Docquity has expanded to Indonesia, Malaysia and the Philippines and boasts a network of +100,000 doctors.
                            .swiper-slide.section-content.slider-count5
                                .slide-img
                                    img.w100(src="./img/about/2020.png", alt="")
                                .slide-content 
                                    .slide-icon 
                                        img.w100(src="./img/icons/logo-icon.svg", alt="")
                                    .slide-text 
                                        h2.h2.fnt-lex.fnt500.mb-24 We are driven by our values
                                        p.fnt-md.text-blackish.fnt500.fnt-man Docquity has expanded to Indonesia, Malaysia and the Philippines and boasts a network of +100,000 doctors.
                            .swiper-slide.section-content.slider-count6
                                .slide-img
                                    img.w100(src="./img/about/2020.png", alt="")
                                .slide-content 
                                    .slide-icon 
                                        img.w100(src="./img/about/2022.svg", alt="")
                                    .slide-text 
                                        h2.h2.fnt-lex.fnt500.mb-24 We are driven by our values
                                        p.fnt-md.text-blackish.fnt500.fnt-man Docquity launches the first developed markets Singapore and Taiwan.
                        .swiper-pagination
                    #progress-bar-container1
                        ul
                            li.step.step01.active
                            li.step.step02
                            li.step.step03
                            li.step.step04
                            li.step.step05
                            li.step.step06

