.container
    // -------------Platform Tour---------------
    .platform-tour-wrapper.py-3
        // Nav tabs
        ul.nav.nav-tabs.justify-content-between.border-0.horizontal-tabs-steps
            li.nav-item
                a.nav-link.active(data-toggle='tab' href='#step1')
                    span <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                h6.text-center.fnt-man.fnt800.mt-1 2012
            li.nav-item
                a.nav-link(data-toggle='tab' href='#step2')
                    span <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                h6.text-center.fnt-man.fnt800.mt-1 2014
            li.nav-item
                a.nav-link(data-toggle='tab' href='#step3')
                    span <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                h6.text-center.fnt-man.fnt800.mt-1 2015
            li.nav-item
                a.nav-link(data-toggle='tab' href='#step4')
                    span <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                h6.text-center.fnt-man.fnt800.mt-1 2017
            li.nav-item
                a.nav-link(data-toggle='tab' href='#step5')
                    span <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17 3.70215H3C1.89543 3.70215 1 4.59547 1 5.69743V19.6644C1 20.7663 1.89543 21.6597 3 21.6597H17C18.1046 21.6597 19 20.7663 19 19.6644V5.69743C19 4.59547 18.1046 3.70215 17 3.70215Z" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 1.70703V5.69751" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 9.6875H19" stroke="#FCFCFC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                h6.text-center.fnt-man.fnt800.mt-1 2020
        // Tab panes
        .tab-content.platform-content.mt-2.mb-4
            #step1.tab-pane.active.p-0
                // ----vertical Tabs-----------
                .row
                    .col-lg-1.col-md-2.col-sm-2.col-3.vertical-tabs-steps.pr-0
                    .col-lg-11.col-md-10.col-sm-10.col-9.p-0.pl-md-2
                        .tab-content.vertical-tabs-content
                            #step1_1.tab-pane.active(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step1_2.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step1_3.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step1_4.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step1_5.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                // -------- vertical Tabs End---------------
            #step2.tab-pane.fade.p-0
                // ----vertical Tabs-----------
                .row
                    .col-lg-1.col-md-2.col-sm-2.col-3.vertical-tabs-steps.pr-0
                    .col-lg-11.col-md-10.col-sm-10.col-9.p-0.pl-md-2
                        .tab-content.vertical-tabs-content
                            #step2_1.tab-pane.active(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step2_2.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step2_3.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step2_4.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step2_5.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                // -------- vertical Tabs End---------------
            #step3.tab-pane.fade.p-0
                // ----vertical Tabs-----------
                .row
                    .col-lg-1.col-md-2.col-sm-2.col-3.vertical-tabs-steps.pr-0
                    .col-lg-11.col-md-10.col-sm-10.col-9.p-0.pl-md-2
                        .tab-content.vertical-tabs-content
                            #step3_1.tab-pane.active(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step3_2.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step3_3.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step3_4.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step3_5.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                // -------- vertical Tabs End---------------
            #step4.tab-pane.fade.p-0
                // ----vertical Tabs-----------
                .row
                    .col-lg-1.col-md-2.col-sm-2.col-3.vertical-tabs-steps.pr-0
                    .col-lg-11.col-md-10.col-sm-10.col-9.p-0.pl-md-2
                        .tab-content.vertical-tabs-content
                            #step4_1.tab-pane.active(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step4_2.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step4_3.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step4_4.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step4_5.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                // -------- vertical Tabs End---------------
            #step5.tab-pane.fade.p-0
                // ----vertical Tabs-----------
                .row
                    .col-lg-1.col-md-2.col-sm-2.col-3.vertical-tabs-steps.pr-0
                    .col-lg-11.col-md-10.col-sm-10.col-9.p-0.pl-md-2
                        .tab-content.vertical-tabs-content
                            #step5_1.tab-pane.active(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step5_2.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step5_3.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                            #step5_4.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Vestibulum a pellentesque lorem. Nullam convallis consequat orci. Morbi dignissim tempor enim, vel facilisis nisl vestibulum vitae.
                                img.w-100(src='https://storage.googleapis.com/website-production/uploads/2017/04/demo-landing-pages.jpg' alt='')
                            #step5_5.tab-pane(role='tabpanel')
                                h3 Lorem ipsum
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis enim justo, tincidunt tristique dolor vitae, eleifend tempus orci.
                                img.w-100(src='https://www.saleshacker.com/wp-content/uploads/2017/10/sales-demo-tips-best-practices-feature-image.jpg' alt='')
                // -------- vertical Tabs End---------------
                // -------------Platform Tour End---------------



//- section.diverse-section 
//-     .container
//-         .row 
//-           .col-lg-6
//-             .swiper.diveSwiper
//-               .swiper-wrapper
//-                 .swiper-slide
//-                   .diverse-card 
//-                     img.counter-card__img(src="./img/about/Nintendo.svg" alt="")    
//-                     p.fnt-20.fnt-man.fnt700 We are builders-first
//-                     p.fnt-md.text-blackish.fnt500.fnt-man.opa Startup Framework contains components and complex blocks which can easily be inte-grated.
//-                 .swiper-slide 
//-                   .diverse-card 
//-                     img.counter-card__img(src="./img/about/Nintendo.svg" alt="")    
//-                     p.fnt-20.fnt-man.fnt700 We are builders-first
//-                     p.fnt-md.text-blackish.fnt500.fnt-man.opa Startup Framework contains components and complex blocks which can easily be inte-grated.
//-                 .swiper-slide 
//-                   .diverse-card 
//-                     img.counter-card__img(src="./img/about/Nintendo.svg" alt="")    
//-                     p.fnt-20.fnt-man.fnt700 We are builders-first
//-                     p.fnt-md.text-blackish.fnt500.fnt-man.opa Startup Framework contains components and complex blocks which can easily be inte-grated.
//-                 .swiper-slide 
//-                   .diverse-card 
//-                     img.counter-card__img(src="./img/about/Nintendo.svg" alt="")    
//-                     p.fnt-20.fnt-man.fnt700 We are builders-first
//-                     p.fnt-md.text-blackish.fnt500.fnt-man.opa Startup Framework contains components and complex blocks which can easily be inte-grated.
//-               .swiper-pagination

//-           .col-md-12.col-lg-6 
//-                 .counter-img-w 
//-                     img.counter-img(src="./img/about/Builder.png" alt="") 

//-         .row.counter-bottom 
//-             .col-md-12.col-lg-6
                
//-             .col-md-12.col-lg-6 
//-                 .counter-right.my-thing
//-                     h1.counter-heading.mb-0.gsap-heading  The things we value the most
//-                     p.small-text.small-text--black.counter-right__para.gsap-desc  Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars.





