section.timeline-section 
    .container-fluid 
        .row 
            .col-lg-12                 
                .swiper-container-wrapper.swiper-container-wrapper--timeline
                    // Timeline
                    ul.swiper-pagination-custom
                        li.swiper-pagination-switch.first.active
                            span.switch-title 2012
                        li.swiper-pagination-switch
                            span.switch-title 2014
                        li.swiper-pagination-switch
                            span.switch-title 2012
                        li.swiper-pagination-switch
                            span.switch-title 2012
                        li.swiper-pagination-switch.last
                            span.switch-title 2012
                    // Progressbar
                    .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal
                    // Swiper
                    .swiper.swiper-container.swiper-container--timeline
                        .swiper-wrapper
                            // Slides
                            .swiper-slide
                                .slide-img
                                    img.w100(src="./img/home/image4.png", alt="")
                                .slide-content 
                                    .slide-icon 
                                        img.w100(src="./img/icons/logo-icon.svg", alt="")
                                    .slide-text 
                                        h2.h2.fnt-lex We are driven by our values
                                        p.fnt-md.text-blackish.fnt500.fnt-man Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars let you watch them anytime at your convenience

                            .swiper-slide
                                span.title Title 2
                            .swiper-slide
                                span.title Title 3
                            .swiper-slide
                                span.title Title 4
                            .swiper-slide
                                span.title Title 5

