// .banner-section {
//     background: #FFF5F5;
//     margin: 0px 15px 0px 15px;
//     border-radius: 12px;

//     .banner-row {
//         @media (max-width: 768px) {
//             display: flex;
//             flex-direction: column-reverse;
//         }

//         .banner-left {
//             padding: 44px 15px 44px;           

//             @media (min-width: 768px) {
//                 padding: 220px 115px 244px 80px;
//                 text-align: left;
//             }
//         }
//         // banner-slider

//         .slider-banner {
//             position: relative;
//             overflow: hidden;

//             @media (max-width: 768px) {
//                 height: 500px;
//             }
//         }

//         .banner-list {
//             display: flex;
//             position: absolute;
//             transform: rotate(-8deg);
//             width: 100%;
//             top: -100px;
//             left: 26%;

//             @media (max-width: 768px) {
//                 position: relative;
//                 height: 450px;
//                 left: 0%;
//                 top: -22px;
//             }

//             &__item {
//                 float: left;
//                 width: 30%;
//                 margin-right: 25px;

//                 &:last-child {
//                     margin-right: 0px;
//                 }

//                 @media(max-width: 767px) {
//                     width: 30%;
//                 }
//             }
//         }

//         .banner-div {
//             position: relative;
//             height: 100%;
//             overflow: hidden;

//             @media (max-width: 768px) {
//                 height: 500px;
//             }

//             .slider {
//                 height: 100%;
//                 margin: auto;
//                 overflow: hidden;
//                 position: relative;

//                 @media(max-width: 767px) {
//                     height: 500px;
//                 }

//                 .slide-track {
//                     animation: scroll 20s linear infinite;
//                     display: block;

//                     .slide {
//                         height: auto;
//                         width: 100%;
//                         margin-bottom: 10px;

//                         img {
//                             object-fit: contain;
//                             width: 100%;
//                             height: 100%;
//                         }
//                     }
//                 }

//                 @keyframes scroll {
//                     0% {
//                         transform: translateY(0);
//                     }

//                     100% {
//                         transform: translateY(-2900px);
//                     }
//                 }

//                 @media(max-width: 767px) {
//                     @keyframes scroll {
//                         0% {
//                             transform: translateY(0);
//                         }

//                         100% {
//                             transform: translateY(-700px);
//                         }
//                     }
//                 }
//             }

//             .slider1 {
//                 height: 100%;
//                 margin: auto;
//                 overflow: hidden;
//                 position: relative;
//                 transform: translateY(-73%);

//                 @media(max-width: 767px) {
//                     height: 545px;
//                     transform: translateY(-10%);
//                 }

//                 .slide-track {
//                     animation: scroll1 20s linear infinite;
//                     display: block;

//                     .slide {
//                         height: auto;
//                         width: 100%;
//                         margin-bottom: 10px;

//                         img {
//                             object-fit: contain;
//                             width: 100%;
//                             height: 100%;
//                         }
//                     }
//                 }

//                 @keyframes scroll1 {
//                     0% {
//                         transform: translateY(0);
//                     }

//                     100% {
//                         transform: translateY(2700px);
//                     }
//                 }

//                 @media(max-width: 767px) {
//                     @keyframes scroll1 {
//                         0% {
//                             transform: translateY(0);
//                         }

//                         100% {
//                             transform: translateY(100px);
//                         }
//                     }
//                 }
//             }

//             .slider2 {
//                 height: 100%;
//                 margin: auto;
//                 overflow: hidden;
//                 position: relative;

//                 @media(max-width: 767px) {
//                     height: 500px;
//                 }

//                 .slide-track {
//                     animation: scroll2 20s linear infinite;
//                     display: block;

//                     .slide {
//                         height: auto;
//                         width: 100%;
//                         margin-bottom: 10px;

//                         img {
//                             object-fit: contain;
//                             width: 100%;
//                             height: 100%;
//                         }
//                     }
//                 }

//                 @keyframes scroll2 {
//                     0% {
//                         transform: translateY(0);
//                     }

//                     100% {
//                         transform: translateY(-2900px);
//                     }
//                 }

//                 @media(max-width: 767px) {
//                     @keyframes scroll2 {
//                         0% {
//                             transform: translateY(0);
//                         }

//                         100% {
//                             transform: translateY(-700px);
//                         }
//                     }
//                 }
//             }
//         }
//     }

// }


.region-section {
    padding: 62px 15px 84px;
    position: relative;

    @media (min-width: 768px) {
        padding: 127px 0px 131px;
    }

    .region-cardlist {

        &__item {
            position: relative;
            .region-card {
                box-shadow: 0px 21px 54px 0px #00000014;
                background: #fff;
                border: 1px solid #B1CBCF;
                border-radius: 24px;
                padding: 54px 40px 25px 40px;
                color: #1D1919;
                transition: all 0.5s ease 0s;
                width: 47%;

                &:hover {
                    background: #1B4A52;

                    h6 {
                        color: #fff !important;
                        opacity: 1;
                    }

                    p {
                        color: #fff !important;
                    }

                    .white {
                        fill: #fff !important;
                    }

                }

            }

            .region-card1 {
                position: relative;
                top: 140px;  
                @media (max-width: 768px) {
                    top: 0;
                    width: 100%;
                    margin: 0px auto 32px;
                }
            }
            .region-card2 {
                position: absolute;
                right: 0px;
                top: -255px; 
                @media (max-width: 768px) {
                    top: 0px;
                    transform: translateX(0px);
                    width: 100%;
                    margin: 0px auto 32px;
                    position: relative;
                }
            }
            .region-card3 {
                position: absolute;
                right: 0;                
                top: 30px;  
                @media (max-width: 768px) {
                    position: relative;
                    top: 0px;
                    transform: translateX(0px);
                    width: 100%;
                    right: 0px;
                    margin: 0px auto 0px;
                }
            }
        }
    }

    .region-right {
        padding: 62px 0px 0px;

        @media (min-width: 768px) {
            padding: 140px 60px 165px;
            text-align: left;
        }
    }

}


.individual-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    padding: 70px 15px 69px;

    @media(min-width: 767px) {
        padding: 100px 0px 100px;
        margin: 0px 15px;
        border-radius: 12px;
    }

    .individual-left {
        @media (max-width: 768px) {
            position: relative;
            transform: translateY(310px);
        }
    }

    .individualSwiper {
        margin-top: 100px;

        @media (max-width: 768px) {
            margin-top: 0px;
            transform: translateY(-351px);
        }

        .second-slide {
            position: relative;
            transform: translateY(20px);
        }

        .third-slide {
            position: relative;
            transform: translateY(40px);
        }

    }

}

.support-section {
    padding: 80px 15px;

    @media(min-width: 767px) {
        padding: 130px 0px 105px;
    }

    .support-list {
        display: block;

        &__item {
            float: left;
            margin-bottom: 20px;

            &:nth-child(7),
            &:nth-child(8) {
                margin-bottom: 0px;
            }


            .support-card {
                height: 295px;
                width: 361px;
                padding: 32px 32px;
                transition: all 0.4s ease 0s;
                position: relative;
                z-index: 0;

                .support-icon {
                    width: 20%;
                }

                .max2 {
                    line-height: 28px;
                    margin-top: 25px;
                }

                .max3 {
                    display: block;
                    display: -webkit-box;
                    max-width: 90%;
                    line-height: 28px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }

            }

            .hover-card {
                position: absolute;
                z-index: 1;
                top: 0px;
                background: #deeff2;
                width: 361px;
                // width: 100%;
                height: auto;
                opacity: 0;
                padding: 32px 32px;
                transition: all 0.4s ease 0s;
                border-radius: 24px;

                .support-icon {
                    width: 20%;
                }

                .max2 {
                    line-height: 28px;
                    margin-top: 25px;
                    color: #1B4A52 !important;
                }

                .max3 {
                    display: block;
                    line-height: 28px;
                    overflow: auto;
                }
            }

            &:hover {
                .hover-card {
                    opacity: 1;
                }
            }
        }
    }


    .supportSwiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;            
            align-items: baseline;

            .support-card {
                height: auto;
                padding: 32px 15px;
                border-radius: 24px;
                position: relative;
                background: #b1cbcf33;

                .support-icon {
                    width: 20%;
                }

                .max2 {
                    @media(max-width: 767px) {
                        line-height: 20px;
                        margin-top: 25px;
                        color: #1B4A52 !important;
                    }
                }
            }
        }

        .swiper-pagination-bullet {
            width: 15px !important;
            border-radius: 3px !important;
            height: 5px;
        }

        .swiper-pagination-bullet-active {
            background: #000 !important;
        }

    }

}




.diverse-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    margin: 0px 15px;
    border-radius: 12px;
    position: relative;

    @media(min-width: 767px) {
        padding: 80px 0px 0px;
    }
    .diverse-row{
        padding-bottom: 35px;
    }

    // diverse-swiper
    .swiper {
        width: 100%;
        // max-height: 800px;
        
        padding-left: 45px;
        @media(min-width:1202px) {
            max-height:510px;
        }

        @media(max-width: 767px) {
            max-height: 700px;
            padding-left: 0;
            padding-bottom: 20px;
        }
    }

    .swiper-slide {
        display: flex;
        &:nth-child(odd){
            @media(max-width: 767px) {
                background: #b1cbcf33;
                border-radius: 20px;
            }
            
        }
    }

    .swiper-pagination-bullets {
        right: inherit;
        left: 0px;
        top: 30% !important;
        height: 65px;

        @media(max-width: 767px) {
            transform: rotate(-90deg) !important;
            left: 105px;
            top: 91% !important;
            height: 58px;
            width: 40px;
            z-index: 9;
        }

        .swiper-pagination-bullet {
            // display: none !important;
            margin: 10px 0px !important;

            @media(max-width: 767px) {
                height: 20px;
                width: 3px;
                border-radius: 4px;
            }
        }

        .swiper-pagination-bullet-active {
            background: #1B4A52 !important;
        }
    }

    .diverse-card {
        padding: 15px 35px;
        transition: all 0.3s ease 0s;

        @media(max-width: 767px) {
            padding:25px 15px;
        }

        .diverse-div {
            .diverse-img {
                float: left;
                margin-right: 16px;
            }

            .diverse-text {
                display: table;
                padding-top: 5px;
            }

        }

        &:hover {
            background: #b1cbcf33;
            border-radius: 24px;
        }        
    }

    .diverse-right {
        // background-image: url(../img/career/diverse-back.png);
        // background-repeat: no-repeat;
        // background-size: contain;
        // background-position: bottom;

        .diverse-right-img {
            width: 55%;
            margin: 0px auto;
        }
    }
}

.review-section {
    padding: 121px 15px 85px;

    @media(min-width: 767px) {
        padding: 136px 0px 136px;
    }

    .star-div {
        width: 20%;
        margin: 0px auto;
        position: relative;

        @media(max-width: 767px) {
            width: 65%;
        }

        .star-list {
            position: absolute;
            transform: translateX(80px);
            top: 4px;
            display: inline-flex;

            @media(max-width: 767px) {
                transform: translateX(50px);
            }

            &__item {
                width: 13%;
                margin-right: 7px;

                &:last-child {
                    width: 10%;
                }
            }
        }
    }

    .review-list {
        display: inline-block;
        margin-bottom: 64px;

        @media(max-width: 767px) {
            margin-bottom: 0px;
        }

        &__item {
            width: 32%;
            float: left;
            text-align: center;
            padding: 15px 55px;

            @media(max-width: 767px) {
                width: 100%;
                padding: 45px 30px;
            }

            .review-icon {
                background: #b1cbcf1a;
                width: 20%;
                margin: 0px auto 28px;
                border-radius: 50%;
            }

            &:first-child,
            &:nth-child(2) {
                border-right: 1px solid #EEEEEE;

                @media(max-width: 767px) {
                    border-right: none;
                }
            }
        }
    }
}

.talk-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    margin: 0px 15px;
    border-radius: 12px;

    @media(min-width: 767px) {
        padding: 76px 0px 64px;
    }

    .search-container {
        width: 66%;
        display: block;
        margin: 40px auto 64px;
        position: relative;

        @media(max-width: 767px) {
            width: 100%;
        }

        input#search-bar {
            margin: 0 auto;
            width: 100%;
            height: 45px;
            padding: 0px 20px 0px 45px;
            font-size: 1rem;
            border: 1px solid #EEEEEE;
            outline: 0;
            background: #fff;
            border-radius: 8px;
            color: #C4C4C4;

            &:focus {
                border: 1px solid #ffff;
                transition: 0.35s ease;
                color: #000;

                &::-webkit-input-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;

                }

                &::-moz-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }

                &:-ms-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }
            }
        }

        .search-icon {
            position: relative;
            float: left;
            width: 18px;
            height: 18px;
            top: -30px;
            left: 15px;
        }

        .dfilter-icon {
            position: absolute;
            right: 15px;
            transform: translateY(15px);
        }
    }

    .talk-nav {
        padding: 0px 0px;
    }


    #nav-tab {
        .nav-item {
            padding: 0px 0px 19px 0px;
            line-height: 32px !important;
            letter-spacing: -0.5px;
            font-weight: 500;
            color: #1D1919;
            opacity: 0.7;
            background: transparent;
            border: none;
            cursor: pointer;

            @media(max-width: 767px) {
                // flex: none;
                font-size: 16px !important;
                padding: 16px 5px;
            }
        }

        .nav-item.active {
            padding: 0px 0px 16px 0px;
            line-height: 32px !important;
            letter-spacing: -0.5px;
            font-weight: 800;
            color: #1B4A52;
            opacity: 1;
            background: transparent;
            border-bottom: 3px solid #1B4A52;

            @media(max-width: 767px) {
                font-size: 16px !important;
                padding: 16px 5px;
            }
        }
    }

    .department-list {
        margin-top: 40px;


        &__item {
            margin-bottom: 20px;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            position: relative;

            .department-card {
                background: #FFFFFF;
                display: flex;
                border-radius: 16px;
                position: relative;

                @media(max-width: 767px) {
                    display: block;
                    position: relative;
                    padding: 15px 15px;
                }

                &:hover {
                    box-shadow: 0 7px 23px 0 #0000000f;
                }

                .department-logo {
                    margin-right: 24px;

                    @media(max-width: 767px) {
                        margin-bottom: 25px;
                    }
                }

                .position {
                    margin-right: 76px;
                    padding-top: 8px;
                    p{
                        margin-bottom: 0 !important;
                    }

                    @media(max-width: 767px) {
                        position: absolute;
                        right:15px;
                        top: 15px;
                        margin-right: 0;
                    }
                }

                .location {
                    background: #1B4A521A;
                    border-radius: 200px;
                    height: 31px;
                    padding: 3px 16px;
                    margin-right: 12px;
                    position: relative;
                    transform: translateY(20px);
                }

                .faq-btn {
                    position: absolute;
                    right: 30px;
                    top: 29px;
                    line-height: 16px !important;
                    padding: 20px 25px;

                    @media(max-width: 767px) {
                        margin-left: 0px;
                        margin-top: 20px;
                        width: 100%;
                        text-align: center;
                        box-shadow: none;
                        padding: 15px 20px;
                        position: relative;
                        right: inherit;
                    }

                }

                @media(min-width: 767px) {
                    padding: 24px 24px;
                }
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.product-section {
    padding: 94px 15px 84px;

    @media(min-width: 767px) {
        padding: 130px 0px 137px;
    }

    .visit-btn {
        padding: 20px 58px;
    }
}

.banner-section1 {
    background: #fff5f5;
    margin: 0 15px;   
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    height: 600px;
    @media (max-width: 768px) {
        height: auto;
    }
    .banner-row {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
        }

        .banner-left {
            padding: 44px 15px 44px;           

            @media (min-width: 768px) {
                padding: 125px 115px 130px 80px;
                text-align: left;
            }
        }      
    }

    .careerbanner-list {
        width: 100%;
        display: flex;
        display: flex;
        position: relative;
        height: 730px;
        top: -65px;
        transform: rotate(-9deg);
        @media (max-width: 768px) {
            height: 600px;
            overflow: hidden;
            transform: rotate(0deg);
        }
        &__item{
            width: 33%;
            float: left;
            margin: 0px 10px;
            .swiper-container {    
                height: 730px;
                position: relative; 
                @media (max-width: 768px) {                    
                    transform: rotate(-12deg);
                } 
                .swiper-wrapper{
                    -webkit-transition-timing-function:linear!important;    
                    transition-timing-function:linear!important; 
                    position: relative;
                    .swiper-slide {    
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        position: relative;
                        overflow: hidden;   
                        margin-bottom:10px; 
                        img{object-fit:scale-down;height: 100%;width: 100%;}
                      }
                  } 
              }  
              @keyframes line-slide {
                0% {
                  background-position: -5% 0;
                }
                100% {
                  background-position: 100% 0;
                }
              }
            }
            .swiper--top{                
                    .swiper-wrapper{
                        .swiper-slide { 
                            height: 430px!important;
                            @media (max-width: 768px) {                    
                                height: 230px!important;
                            } 
                           }
                    }                
            }
            .swiper--bottom{               
                    .swiper-wrapper{
                        .swiper-slide { 
                            height:330px!important;
                            @media (max-width: 768px) {                    
                                height: 130px!important;
                            } 
                           }
                    }                
            }            
            .swiper--third{               
                .swiper-wrapper{
                    .swiper-slide { 
                        height:430px!important;
                        @media (max-width: 768px) {                    
                            height: 230px!important;
                        } 
                       }
                }                
        }
        }
    }