.banner-section {
    background: #FFF5F5;
    margin: 0px 15px 15px 15px;
    border-radius: 12px;

}


@keyframes no-transform {
    100% {
        transform: none;
    }
}

.scrollbox {
    $root: &;
    $items: 5;

    display: flex;
    align-items: center;
    padding: 32px 0;
    overflow: hidden;

    &--primary {
        position: relative;
        transform: rotate(70deg);
    }

    &--secondary {
        position: relative;
        transform: rotate(70deg);
        left: -110px;
    }

    &--reverse {
        #{$root}__item {
            animation-direction: reverse;
        }
    }

    &:hover {
        #{$root}__item {
            animation-play-state: paused;
        }
    }

    &__item {
        flex: 1 0 auto;
        width: 100% / ($items - 1);
        max-width: 100% / ($items - 1);
        // font-size: 1.5rem;
        transform: translateX(-100%);
        animation: no-transform 3s linear infinite;
    }
}



.region-section {
    padding: 62px 36px 84px;
    position: relative;

    @media (min-width: 768px) {
        padding: 131px 0px;
    }

    .region-card {
        box-shadow: 0px 21px 54px 0px #00000014;
        background: #fff;
        border: 1px solid #B1CBCF;
        border-radius: 24px;
        padding: 60px 40px 25px 40px;
        color: #1D1919;
        transition: all 0.5s ease 0s;

        &:hover {
            background: #1B4A52;

            p {
                color: #fff !important
            }

            .white {
                fill: #fff !important
            }

        }

    }

    .region-card1 {
        position: relative;
        top: 165px;
        width: 47%;

        @media (max-width: 768px) {
            top: 0;
            width: 100%;
            margin: 0px auto 32px;
        }
    }

    .region-card2 {
        position: relative;
        transform: translateX(300px);
        top: -260px;
        width: 47%;

        @media (max-width: 768px) {
            top: 0px;
            transform: translateX(0px);
            width: 100%;
            margin: 0px auto 32px;
        }
    }

    .region-card3 {
        position: absolute;
        right: 25px;
        width: 45%;
        top: 300px;

        @media (max-width: 768px) {
            position: relative;
            top: 0px;
            transform: translateX(0px);
            width:100%;
            right: 0px;
            margin: 0px auto 0px;
        }
    }

    .region-right {
        padding: 62px 0px 0px;
        text-align: center;

        @media (min-width: 768px) {
            padding: 166px 60px;
            text-align: left;
        }
    }

}


.individual-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    padding: 70px 15px 69px;

    @media(min-width: 767px) {
        padding: 100px 0px 104px;
        margin: 0px 15px;
        border-radius: 12px;
    }

    .individual-left {
        @media (max-width: 768px) {
            position: relative;
            transform: translateY(170px);
        }
    }

    .individualSwiper {
        margin-top: 100px;

        @media (max-width: 768px) {
            margin-top: 0px;
            transform: translateY(-315px);
        }

        .second-slide {
            position: relative;
            transform: translateY(20px);
        }

        .third-slide {
            position: relative;
            transform: translateY(40px);
        }

    }

}

.support-section {
    padding: 80px 15px;

    @media(min-width: 767px) {
        padding: 130px 0px 105px;
    }

    .support-list {
        display: block;

        &__item {
            width: 32%;
            float: left;
            margin: 0px 8px;

            .support-card {
                height: 295px;
                padding: 32px 32px;
                transition: all 0.3s ease 0s;
                position: relative;
                z-index: 0;

                .support-icon {
                    width: 20%;
                }

                .max2 {
                    line-height: 28px;
                    margin-top: 25px;
                }

                .max3 {
                    display: block;
                    display: -webkit-box;
                    max-width: 90%;
                    line-height: 28px;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }

            }

            .hover-card {
                position: absolute;
                z-index: 1;
                top: 0px;
                background: #deeff2;
                width: 350px;
                height: auto;
                opacity: 0;
                padding: 32px 32px;
                transition: all 0.3s ease 0s;
                border-radius: 24px;

                .support-icon {
                    width: 20%;
                }

                .max2 {
                    line-height: 28px;
                    margin-top: 25px;
                }

                .max3 {
                    display: block;
                    line-height: 28px;
                    overflow: auto;
                }
            }

            &:hover {
                .hover-card {
                    opacity: 1;
                }
            }
        }
    }


    .supportSwiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            .support-card {
                height: 357px;
                padding: 32px 15px;
                border-radius: 24px;
                position: relative;                
                background: #b1cbcf33;
                margin-bottom: 45px;

                .support-icon {
                    width: 20%;
                }

                .max2 {
                    
                    @media(max-width: 767px) {
                        line-height: 20px;
                        margin-top: 25px;
                    }
                }
            }          
          }
          .swiper-pagination-bullet{
            width: 15px!important;
            border-radius: 3px!important;
            height: 5px;
        }
        .swiper-pagination-bullet-active{
            background: #000!important;
        }
        
      }

}




.diverse-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    margin: 0px 15px;
    border-radius: 12px;
    position: relative;

    @media(min-width: 767px) {
        padding: 80px 0px 0px;
    }

    // diverse-swiper
    .swiper {
        width: 100%;
        max-height: 800px;
        @media(max-width: 767px) {
            max-height: 630px;
        }
    }

    .swiper-slide {
        display: flex;
    }

    .swiper-pagination-bullets {
        right: inherit;
        left: 0px;
        top: 50% !important;
        height: 65px;
        @media(max-width: 767px) {
           transform: rotate(-90deg)!important;
           left: 105px;
            top: 91%!important;
            height: 58px;
            width: 40px;
            z-index: 9;
        }

        .swiper-pagination-bullet {
            // display: none !important;
            margin: 10px 0px !important;
            @media(max-width: 767px) {
                height: 20px;
                width:3px;
                border-radius: 4px;
            }

            // &:nth-child(1) {
            //     display: block !important;
            // }

            // &:nth-child(2) {
            //     display: block !important;
            // }

            // &:nth-child(3) {
            //     display: block !important;
            // }

            // &:nth-child(7){display: none;}
        }

        .swiper-pagination-bullet-active {
            background: #1B4A52 !important;
        }
    }

    .diverse-card {
        padding: 32px 40px;
        transition: all 0.3s ease 0s;
        @media(max-width: 767px) {
            padding: 32px 15px;
        }

        .diverse-div {
            .diverse-img {
                float: left;
                margin-right: 16px;
            }

            .diverse-text {
                display: table;
            }

        }

        &:hover {
            background: #b1cbcf33;
            border-radius: 24px;
        }
    }

    .diverse-right {
        background-image: url(../img/career/diverse-back.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;

        .diverse-right-img {
            width: 90%;
            margin: 0px auto;
        }
    }
}

.review-section {
    padding: 131px 0px 85px;

    @media(min-width: 767px) {
        padding: 136px 0px 136px;
    }

    .star-div {
        width: 20%;
        margin: 0px auto;
        position: relative;

        @media(max-width: 767px) {
            width: 65%;
        }

        .star-list {
            position: absolute;
            right: 0px;
            top: 0px;
            display: inline-flex;
        }
    }

    .review-list {
        display: inline-block;
        margin-bottom: 64px;

        &__item {
            width: 32%;
            float: left;
            text-align: center;
            padding: 15px 55px;

            @media(max-width: 767px) {
                width: 100%;
            }

            .review-icon {
                background: #b1cbcf1a;
                width: 20%;
                margin: 0px auto 28px;
                border-radius: 50%;
            }

            &:first-child,
            &:nth-child(2) {
                border-right: 1px solid #EEEEEE;

                @media(max-width: 767px) {
                    border-right: none;
                }
            }
        }
    }
}

.talk-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    margin: 0px 15px;
    border-radius: 12px;

    @media(min-width: 767px) {
        padding: 76px 0px 64px;
    }

    .search-container {
        width: 66%;
        display: block;
        margin: 40px auto 64px;
        position: relative;
        @media(max-width: 767px) {
            width: 100%;
        }

        input#search-bar {
            margin: 0 auto;
            width: 100%;
            height: 45px;
            padding: 0px 20px 0px 45px;
            font-size: 1rem;
            border: 1px solid #EEEEEE;
            outline: 0;
            background: #fff;
            border-radius: 8px;
            color: #C4C4C4;

            &:focus {
                border: 1px solid #ffff;
                transition: 0.35s ease;
                color: #000;

                &::-webkit-input-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;

                }

                &::-moz-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }

                &:-ms-placeholder {
                    transition: opacity 0.45s ease;
                    opacity: 0;
                }
            }
        }

        .search-icon {
            position: relative;
            float: left;
            width: 25px;
            height: 25px;
            top: -35px;
            left: 15px;
        }

        .dfilter-icon {
            position: absolute;
            right: 15px;
            transform: translateY(15px);
        }
    }
    .talk-nav{padding: 0px 0px;}
    .nav-link {
        padding: 0px 9px;
    }
    .nav-fill .nav-item {
        @media(max-width: 767px) {
            flex: none;
        }
       
    }

    .department-list {
        margin-top: 40px;

        &__item {
            margin-bottom: 20px;
            transition: all 0.3s ease 0s;

            .department-card {
                background: #FFFFFF;
                display: flex;
                border-radius: 16px;
                @media(max-width: 767px) {
                    display: block;
                    position: relative;
                    padding: 15px 15px;
                }            

                &:hover {
                    box-shadow: 0 7px 23px 0 #0000000f;
                }

                .department-logo {
                    margin-right: 24px;
                    @media(max-width: 767px){
                        margin-bottom: 25px;
                    }
                }

                .position {
                    margin-right: 76px;
                    @media(max-width: 767px) {
                        position: absolute;
                        right: 25px;
                        top: 20px;
                        margin-right: 0px;
                    }
                }

                .location {
                    background: #1B4A521A;
                    border-radius: 200px;
                    height: 24px;
                    padding: 3px 10px;
                    margin-right: 12px;
                    position: relative;
                    transform: translateY(20px);
                }

                .faq-btn {
                    margin-left: 90px;
                    @media(max-width: 767px){
                        margin-left: 0px;
                        margin-top: 20px;
                        width: 100%;
                        text-align: center;
                        box-shadow: none;
                        padding: 15px 20px;
                    }

                }

                @media(min-width: 767px) {
                    padding: 23px 24px;
                }
            }
        }
    }
}

.product-section {
    padding: 94px 15px 84px;
    @media(min-width: 767px) {
        padding: 130px 0px 136px;
    }
}