section.termsbanner-section 
    .container 
        .row 
            .col-md-6.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.fnt500.mb-16.text-white Terms & Conditions
                p.txt-md.text-white.fnt500.fnt-man.mb-0 Effective Date: 01 February 2021