section.termstabs-section
	.container
		.termtabs.scroll-section
			.row 
				.col-md-4
					.sticky-tab-list
						ul.mb-0.vertical-tab-list
							li.vertical-tab-list__item.active(data-index='0')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Collection of Information								
							li.vertical-tab-list__item(data-index='1')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Uses of Information									
							li.vertical-tab-list__item(data-index='2')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Sharing of Information
							li.vertical-tab-list__item(data-index='3')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Cookies and  Technologies	
							li.vertical-tab-list__item(data-index='4')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Third Party Links								
							li.vertical-tab-list__item(data-index='5')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Security
							li.vertical-tab-list__item(data-index='6')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Data Retention
							li.vertical-tab-list__item(data-index='7')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Choices Regarding Information
							li.vertical-tab-list__item(data-index='8')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Changes to this Privacy Policy
							li.vertical-tab-list__item(data-index='9')
								.light
								p.fnt-20.lh28.fnt-man.mb-0 Contact Us
				.col-md-8
					.tabs-card
						.tabs-card__item.first
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This privacy policy describes how DOCQUITY HOLDINGS PTE. LTD. (UEN: 201703503D), a company incorporated in Singapore with its registered office at 150 Beach Road, #35-28, The Gateway West, Singapore 189720, its subsidiaries, affiliates and related corporations (“Docquity,” “we,” “us,” or “our”) collects, uses, shares, and otherwise handles personal information about individuals (“you” and/or “your”) who visit and use our website located at www.docquity.com, all affiliated websites (including the Docquity Mobile App), APIs and any other applications published by us or our affiliates (“Sites”) for access to or use of the Site owned and operated by us, our predecessors or successors in interest, or our affiliates, and any related products, features, and the Services.
						.tabs-card__item.second
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Uses of Information
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
						.tabs-card__item.third
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Sharing of Information
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
						.tabs-card__item.fourth
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Cookies and  Technologies
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
						.tabs-card__item.fifth
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Third Party Links
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
						.tabs-card__item.sixth
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Security
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
						.tabs-card__item.seventh
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Data Retention
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
						.tabs-card__item.eight
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Choices Regarding Information
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
						.tabs-card__item.ninth
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Changes to this Privacy Policy
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.
						.tabs-card__item.ten
							h6.fnt-24.fnt-lex.text-blackish.fnt500.mb-24 Contact Us
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 Personal Data may be collected from covered individuals/ users through a variety of means, including, for example, through websites, Mobile Applications, other ordering channels, and service or employment processes.
							p.fnt-md.text-blackish.fnt500.fnt-man.mb-0 This Privacy and Data Protection Policy aims to facilitate “Privacy-by-Design” principles in the engineering and implementation of systems and processes by Docquity. Therefore, among other things it is intended to govern customer and employee data protection policies, and to influence system implementation standards; rulebooks; business processes; applications; web, product, and service developments; and technology roadmaps.