section.articlebanner-section 
    .container 
        .row 
            .col-md-6.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.fnt500.mb-16.text-white Read about all things healthcare.
                p.txt-md.text-white.fnt500.fnt-man.mb-0 Join healthcare professionals from around the world that receive our newsletter.
                form.search-container
                    input#search-bar(type='text' placeholder='Enter Email')
                    a.gray-btn.fnt-md.fnt800.fnt-man.sub-btn(href="") Subscribe
                        //- img.ml-16(src="./img/icons/right-arrow.svg", alt="")
                ul.social-list
                    li.social-list__item.facebook
                        a(href="#") 
                            img(src="./img/icons/facebook.svg", alt="")
                    li.social-list__item.twitter
                        a(href="#") 
                            img(src="./img/icons/twitter.svg", alt="")
                    li.social-list__item.insta
                        a(href="#") 
                            img(src="./img/icons/insta.svg", alt="")
                    li.social-list__item.linked
                        a(href="#") 
                            img(src="./img/icons/linkedin.svg", alt="")        