section.articletabs-section 
    .container
        .row 
            .col-lg-5.ml-auto.mr-auto.text-center 
                h2.h2.fnt-lex.fnt500.mb-24 Industry leading events
                p.txt-md.text-blackish.fnt500.fnt-man.opacity-text.mb-45 Our events bring together key opinion leaders, leading experts, and like-minded healthcare professionals. 
    .container
        .row.justify-content-center
            .col-md-4.ml-auto.mr-auto.text-center 
                nav
                    #nav-tab.nav.nav-tabs.nav-fill(role='tablist')
                        #nav-home-tab.nav-item.nav-link.active.fnt-20.fnt-man(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') On Demand
                        #nav-profile-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false') Popular
        .row.article-tabs-row
            .col-lg-8
                #nav-tabContent.tab-content.article-tabpane
                    #nav-home.mar-tp.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
                        .row.recent-row 
                            .col-lg-12
                                ul.article-list 
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/article/article1.png", alt="")
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Guide to Becoming a Social Media Savvy Nephrologists nowadays
                                                    ul.cardtop-list
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/location.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Delhi, India
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/calendar.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Mon, Feb 7 @ 11:30 PM IST
                                                    ul.cardbottom-list
                                                        li.cardbottom-list__item
                                                            .eventscard-sec
                                                                .events-img1 
                                                                    img.w100(src="./img/events/image1.jpeg", alt="")
                                                                .events-img2
                                                                    img.w100(src="./img/events/image2.jpeg", alt="")
                                                                .events-img3
                                                                    img.w100(src="./img/events/image3.jpeg", alt="")
                                                                .events-text
                                                                    span.fnt-14.text-blackish.fnt400.fnt-man.op-5 40K+ People Attended                                                        
                                                        li.cardbottom-list__item
                                                            .status.online
                                                                span.fnt-14.text-blackish.fnt600.fnt-man Online Events
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/article/article1.png", alt="")
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Guide to Becoming a Social Media Savvy Nephrologists nowadays
                                                    ul.cardtop-list
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/location.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Delhi, India
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/calendar.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Mon, Feb 7 @ 11:30 PM IST
                                                    ul.cardbottom-list
                                                        li.cardbottom-list__item
                                                            .eventscard-sec
                                                                .events-img1 
                                                                    img.w100(src="./img/events/image1.jpeg", alt="")
                                                                .events-img2
                                                                    img.w100(src="./img/events/image2.jpeg", alt="")
                                                                .events-img3
                                                                    img.w100(src="./img/events/image3.jpeg", alt="")
                                                                .events-text
                                                                    span.fnt-14.text-blackish.fnt400.fnt-man.op-5 40K+ People Attended                                                        
                                                        li.cardbottom-list__item
                                                            .status.live
                                                                span.fnt-14.text-blackish.fnt600.fnt-man Live
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/article/article1.png", alt="")
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Guide to Becoming a Social Media Savvy Nephrologists nowadays
                                                    ul.cardtop-list
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/location.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Delhi, India
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/calendar.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Mon, Feb 7 @ 11:30 PM IST
                                                    ul.cardbottom-list
                                                        li.cardbottom-list__item
                                                            .eventscard-sec
                                                                .events-img1 
                                                                    img.w100(src="./img/events/image1.jpeg", alt="")
                                                                .events-img2
                                                                    img.w100(src="./img/events/image2.jpeg", alt="")
                                                                .events-img3
                                                                    img.w100(src="./img/events/image3.jpeg", alt="")
                                                                .events-text
                                                                    span.fnt-14.text-blackish.fnt400.fnt-man.op-5 40K+ People Attended                                                        
                                                        li.cardbottom-list__item
                                                            .status.offline
                                                                span.fnt-14.text-blackish.fnt600.fnt-man Offline Events
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/article/article1.png", alt="")
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Guide to Becoming a Social Media Savvy Nephrologists nowadays
                                                    ul.cardtop-list
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/location.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Delhi, India
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/calendar.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Mon, Feb 7 @ 11:30 PM IST
                                                    ul.cardbottom-list
                                                        li.cardbottom-list__item
                                                            .eventscard-sec
                                                                .events-img1 
                                                                    img.w100(src="./img/events/image1.jpeg", alt="")
                                                                .events-img2
                                                                    img.w100(src="./img/events/image2.jpeg", alt="")
                                                                .events-img3
                                                                    img.w100(src="./img/events/image3.jpeg", alt="")
                                                                .events-text
                                                                    span.fnt-14.text-blackish.fnt400.fnt-man.op-5 40K+ People Attended                                                        
                                                        li.cardbottom-list__item
                                                            .status.online
                                                                span.fnt-14.text-blackish.fnt600.fnt-man Online Events 
                                                 
                    #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab')
                        .row.popular-row 
                            .col-lg-12
                                ul.article-list 
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/article/article1.png", alt="")
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Guide to Becoming a Social Media Savvy Nephrologists nowadays
                                                    ul.cardtop-list
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/location.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Delhi, India
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/calendar.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Mon, Feb 7 @ 11:30 PM IST
                                                    ul.cardbottom-list
                                                        li.cardbottom-list__item
                                                            .eventscard-sec
                                                                .events-img1 
                                                                    img.w100(src="./img/events/image1.jpeg", alt="")
                                                                .events-img2
                                                                    img.w100(src="./img/events/image2.jpeg", alt="")
                                                                .events-img3
                                                                    img.w100(src="./img/events/image3.jpeg", alt="")
                                                                .events-text
                                                                    span.fnt-14.text-blackish.fnt400.fnt-man.op-5 40K+ People Attended                                                        
                                                        li.cardbottom-list__item
                                                            .status.online
                                                                span.fnt-14.text-blackish.fnt600.fnt-man Online Events
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/article/article1.png", alt="")
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Guide to Becoming a Social Media Savvy Nephrologists nowadays
                                                    ul.cardtop-list
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/location.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Delhi, India
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/calendar.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Mon, Feb 7 @ 11:30 PM IST
                                                    ul.cardbottom-list
                                                        li.cardbottom-list__item
                                                            .eventscard-sec
                                                                .events-img1 
                                                                    img.w100(src="./img/events/image1.jpeg", alt="")
                                                                .events-img2
                                                                    img.w100(src="./img/events/image2.jpeg", alt="")
                                                                .events-img3
                                                                    img.w100(src="./img/events/image3.jpeg", alt="")
                                                                .events-text
                                                                    span.fnt-14.text-blackish.fnt400.fnt-man.op-5 40K+ People Attended                                                        
                                                        li.cardbottom-list__item
                                                            .status.online
                                                                span.fnt-14.text-blackish.fnt600.fnt-man Online Events
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/article/article1.png", alt="")
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Guide to Becoming a Social Media Savvy Nephrologists nowadays
                                                    ul.cardtop-list
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/location.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Delhi, India
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/calendar.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Mon, Feb 7 @ 11:30 PM IST
                                                    ul.cardbottom-list
                                                        li.cardbottom-list__item
                                                            .eventscard-sec
                                                                .events-img1 
                                                                    img.w100(src="./img/events/image1.jpeg", alt="")
                                                                .events-img2
                                                                    img.w100(src="./img/events/image2.jpeg", alt="")
                                                                .events-img3
                                                                    img.w100(src="./img/events/image3.jpeg", alt="")
                                                                .events-text
                                                                    span.fnt-14.text-blackish.fnt400.fnt-man.op-5 40K+ People Attended                                                        
                                                        li.cardbottom-list__item
                                                            .status.online
                                                                span.fnt-14.text-blackish.fnt600.fnt-man Online Events
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/article/article1.png", alt="")
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Guide to Becoming a Social Media Savvy Nephrologists nowadays
                                                    ul.cardtop-list
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/location.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Delhi, India
                                                        li.cardtop-list__item
                                                            img.card-icon(src="./img/events/calendar.svg", alt="") 
                                                            span.fnt-14.text-blackish.fnt400.fnt-man.op-5 Mon, Feb 7 @ 11:30 PM IST
                                                    ul.cardbottom-list
                                                        li.cardbottom-list__item
                                                            .eventscard-sec
                                                                .events-img1 
                                                                    img.w100(src="./img/events/image1.jpeg", alt="")
                                                                .events-img2
                                                                    img.w100(src="./img/events/image2.jpeg", alt="")
                                                                .events-img3
                                                                    img.w100(src="./img/events/image3.jpeg", alt="")
                                                                .events-text
                                                                    span.fnt-14.text-blackish.fnt400.fnt-man.op-5 40K+ People Attended                                                        
                                                        li.cardbottom-list__item
                                                            .status.online
                                                                span.fnt-14.text-blackish.fnt600.fnt-man Online Events
                                    
                           
            .col-lg-4 
                .article-filter 
                    form.search-container
                        input#search-bar(type='text' placeholder='Search here...')
                        a(href='#')
                            img.search-icon(src='./img/article/search.svg')  
                        img.filter-icon(src='./img/article/filter.svg') 
                    .filter-box      
                        p.lh40.fnt-20.fnt-lex.fnt500.op1.mb-16 Language
                        ul
                            li
                                input#styled-checkbox-2.styled-checkbox(type='checkbox' value='value2')
                                label(for='styled-checkbox-2') English                                        
                            li
                                input#styled-checkbox-3.styled-checkbox(type='checkbox' value='value3')
                                label(for='styled-checkbox-3') Hindi                                       
                            li
                                input#styled-checkbox-4.styled-checkbox(type='checkbox' value='value4')
                                label(for='styled-checkbox-4') Tamil          
                            li
                                input#styled-checkbox-5.styled-checkbox(type='checkbox' value='value5')
                                label(for='styled-checkbox-5') Telugu  
                        p.lh40.fnt-20.fnt-lex.fnt500.op1.mb-16 Recent Posts
                        ul.post-list 
                            li.post-list__item
                                img.post-icon(src='./img/article/arrow.svg')  
                                a.txt-md.text-blackish.fnt600.fnt-man.ml-16(href="#") Category 1
                            li.post-list__item
                                img.post-icon(src='./img/article/arrow.svg')  
                                a.txt-md.text-blackish.fnt600.fnt-man.ml-16(href="#") Category 2
                            li.post-list__item
                                img.post-icon(src='./img/article/arrow.svg')  
                                a.txt-md.text-blackish.fnt600.fnt-man.ml-16(href="#") Category 3
                            li.post-list__item
                                img.post-icon(src='./img/article/arrow.svg')  
                                a.txt-md.text-blackish.fnt600.fnt-man.ml-16(href="#") Category 4
                        p.lh40.fnt-20.fnt-lex.fnt500.op1.mb-16 Tags
                        ul.tag-list 
                            li.tag-list__item
                                a.fnt-14.fnt400.fnt-man(href="#") Business 
                            li.tag-list__item
                                a.fnt-14.fnt400.fnt-man(href="#") Gear
                            li.tag-list__item
                                a.fnt-14.fnt400.fnt-man(href="#") Internet
                            li.tag-list__item
                                a.fnt-14.fnt400.fnt-man(href="#") Marketing
                            li.tag-list__item
                                a.fnt-14.fnt400.fnt-man(href="#") Mobile
                            li.tag-list__item
                                a.fnt-14.fnt400.fnt-man(href="#") Online
                            li.tag-list__item
                                a.fnt-14.fnt400.fnt-man(href="#") Popular 
            //- .col-lg-12
            //-     #pagination-container