section.counter-section 
    .container
        .row
            .col-lg-10.col-12.ml-auto.mr-auto.d-none.d-md-block 
                ul.counter-list 
                    li.counter-list__item 
                        .counter-icon 
                            img(src="./img/events/Eventsconducted.svg", alt="")
                        .counter-text 
                            h6.fnt-20.fnt-lex.fnt700.mb-6 105+
                            p.fnt-md.fnt500.fnt-man Events conducted
                    li.counter-list__item 
                        .counter-icon 
                            img(src="./img/events/speakers.svg", alt="")
                        .counter-text 
                            h6.fnt-20.fnt-lex.fnt700.mb-6 105+
                            p.fnt-md.fnt500.fnt-man Events conducted                            
                    li.counter-list__item 
                        .counter-icon 
                            img(src="./img/events/healthcareprofessionals.svg", alt="")
                        .counter-text 
                            h6.fnt-20.fnt-lex.fnt700.mb-6 105+
                            p.fnt-md.fnt500.fnt-man Events conducted
        .row
            .col-lg-12.d-md-none.d-block 
                .swiper.counterSwiper
                    .swiper-wrapper
                        .swiper-slide                                                           
                            .counter-icon 
                                img(src="./img/events/Eventsconducted.svg", alt="")
                            .counter-text 
                                h6.fnt-20.fnt-lex.fnt700.mb-6 105+
                                p.fnt-md.fnt500.fnt-man Events conducted
                        .swiper-slide                             
                            .counter-icon 
                                img(src="./img/events/Eventsconducted.svg", alt="")
                            .counter-text 
                                h6.fnt-20.fnt-lex.fnt700.mb-6 105+
                                p.fnt-md.fnt500.fnt-man Events conducted
                        .swiper-slide
                            .counter-icon 
                                img(src="./img/events/Eventsconducted.svg", alt="")
                            .counter-text 
                                h6.fnt-20.fnt-lex.fnt700.mb-6 105+
                                p.fnt-md.fnt500.fnt-man Events conducted
                    .swiper-pagination
        

