* {
    box-sizing                 : border-box;
    // user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {

    &,
    &:hover,
    &:active,
    &:focus {
        outline        : 0;
        text-decoration: none !important;
        color          : #1D1919;
    }
}

html,
body {
    font-family: 'Manrope', sans-serif;
    color      : #2D343B;
    @include font-smoothing();

    p {
        opacity       : 0.7;
        letter-spacing: 0.1px;

        @media (min-width: $md) {
            font-size  : 16px;
            line-height: 28px;
        }
    }
}


.container {
    position: relative;

    @media (min-width: 1400px) {
        max-width: 1200px;
    }
}

.container-bn {
    position: relative;
    margin  : 0 auto;
    padding : 0 2rem;

    @media (min-width: 1400px) {
        max-width: 1250px;
    }
}

//font sizes
.fnt-14 {
    font-size  : 14px;
    line-height: 28px;
}

.fnt-18 {
    font-size  : 18px;
    line-height: 25px;
}

.fnt-42 {
    font-size  : 30px;
    line-height: 119.8%;

    @media (min-width: $md) {
        font-size: 42px;
    }
}

.fnt-20 {
    font-size  : 20px;
    line-height: 40px;
    // @media (min-width: $md) {
    //     font-size  : 20px;
    //     line-height: 40px;
    // }
}

.fnt-24 {
    font-size  :20px;
    line-height: 24px;

    @media (min-width: $md) {
        font-size  : 24px;
        line-height: 24px;
    }
}


//head class
.c-h1 {
    font-size  : 42px;
    line-height: 50px;
    color      : #FFFFFF;
}

.mb-57 {
    margin-bottom: 32px;

    @media (min-width: $md) {
        margin-bottom: 57px;
    }
}

.sec-100 {
    padding: 56px 0;

    @media (min-width: $md) {
        padding: 100px 0;
    }

    background: #FFFFFF;
}

.w100 {
    width: 100%;
}

.small-heading {
    margin-left: 33px;

    @media (min-width: 767px) {
        margin-left: 0px;
    }

}

.mb40 {
    @media (min-width: 767px) {
        margin-bottom: 40px !important;
    }
}

.mb52 {
    @media (min-width: 767px) {
        margin-bottom: 52px !important;
    }
}

.mb104 {
    @media (min-width: 767px) {
        margin-bottom: 104px !important;
    }
}

.pt152 {
    @media (min-width: 767px) {
        padding-top: 152px !important;
    }
}

.footer-link {
    color         : #fff !important;
    opacity       : 0.7;
    font-weight   : 500 !important;
    font-size     : 14px;
    line-height   : 21px;
    letter-spacing: 0.1px;
}

.op-5 {
    opacity: 0.5;
}

.gray-btn {
    background   : linear-gradient(94.21deg, #252424 4.48%, #424242 87.94%);
    padding      : 19px 32px;
    line-height  : 16px !important;
    color        : #fff !important;
    border-radius: 12px;
    display      : inline-block;
    box-shadow   : 0 20px 30px -6px rgba(60, 59, 61, 0.5);
    transition   : all 0.5s ease-in-out;

    &:hover {
        box-shadow: none;
    }
}

.op1 {
    opacity: 1;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.mb-4 {
    margin-bottom: 3px !important;
}


.mb-6 {
    margin-bottom: 6px;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-13 {
    margin-bottom: 13px !important;
}

.mb-18 {
    margin-bottom: 18px !important;
}

.lh24 {
    line-height: 24px !important;
}

.lh32 {
    line-height: 32px !important;
}

.lh38 {
    line-height: 38px !important;
}

.lh20 {
    line-height: 20px !important;
}

.lh21 {
    line-height: 21px !important;
}

.lh80 {
    line-height: 30px !important;

    @media (min-width: 768px) {
        line-height: 80px !important;
    }
}

.mb-12 {
    margin-bottom: 12px !important;

    @media (min-width: 768px) {
        margin-bottom: 12px !important;
    }
}

.mb-16 {
    margin-bottom: 24px !important;

    @media (min-width: 768px) {
        margin-bottom: 16px !important;
    }
}

.mb-19 {
    margin-bottom: 19px !important;

    @media (min-width: 768px) {
        margin-bottom: 19px !important;
    }
}

.mb-24 {
    margin-bottom: 16px;

    @media (min-width: 768px) {
        margin-bottom: 24px !important;
    }
}

.mb-22 {
    margin-bottom: 16px;

    @media (min-width: 768px) {
        margin-bottom: 22px !important;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-44 {
    margin-bottom: 44px !important;
}

.mb-45 {
    margin-bottom: 39px !important;

    @media (min-width: 768px) {
        margin-bottom: 45px !important;
    }
}

.mb-51 {
    margin-bottom: 51px !important;
}

.mb-58 {
    margin-bottom: 60px !important;

    @media (min-width: 768px) {
        margin-bottom: 58px !important;
    }
}

.ml-16 {
    margin-left: 16px;
}

.ml-7 {
    margin-left: 7px;
}

.ml-25 {
    margin-left: 25px;
}

main {
    padding-top: 130px;

    @media(max-width: 768px) {
        padding-top: 113px;
    }
}

.ls15 {
    letter-spacing: 0.15px;
}


// mobile and desktop combined

.dq-only-desktop {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.dq-only-mobile {
    display: block;

    @media (min-width: 768px) {
        display: none;
    }
}

.dq-flexcenter {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

// Circles

.dq-circle {
    border-radius: 50%;

    &--bluish {
        background: rgba($color: #B1CBCF, $alpha: .15);
    }

    &--lg {
        height: 117px;
        width : 117px;
        margin: 0 auto;
    }
}