* {
    box-sizing: border-box;
    // user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a {

    &,
    &:hover,
    &:active,
    &:focus {
        outline: 0;
        text-decoration: none !important;
        color: #1D1919;
    }
}

html,
body {
    font-family: $robo;
    font-weight: $fnt-reg;
    color: #2D343B;
    @include font-smoothing();

    p {
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #2D343B;

        @media (min-width: $md) {
            font-size: 24px;
            line-height: 38px;
        }
    }
}


.container {
    position: relative;

    @media (min-width: 1400px) {
        max-width: 1200px;
    }
}

.container-bn {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;

    @media (min-width: 1400px) {
        max-width: 1250px;
    }
}

//font sizes
.fnt-14 {
    font-size: 14px;
    line-height: 22px;
    color: #393939;
}

.fnt-18 {
    font-size: 18px;
    line-height: 25px;
}

.fnt-42 {
    font-size: 30px;
    line-height: 119.8%;

    @media (min-width: $md) {
        font-size: 42px;
    }
}

.fnt-20 {

    @media (min-width: $md) {
        font-size: 20px;
        line-height: 40px;
    }
}


//head class
.c-h1 {
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
}

.mb-57 {
    margin-bottom: 32px;

    @media (min-width: $md) {
        margin-bottom: 57px;
    }
}

.sec-100 {
    padding: 56px 0;

    @media (min-width: $md) {
        padding: 100px 0;
    }

    background: #FFFFFF;
}

.w100 {
    width: 100%;
}

.small-heading {
    margin-left: 33px;

    @media (min-width: 767px) {
        margin-left: 0px;
    }

}

.mb40 {
    @media (min-width: 767px) {
        margin-bottom: 40px !important;
    }
}

.mb52 {
    @media (min-width: 767px) {
        margin-bottom: 52px !important;
    }
}

.mb104 {
    @media (min-width: 767px) {
        margin-bottom: 104px !important;
    }
}

.pt152 {
    @media (min-width: 767px) {
        padding-top: 152px !important;
    }
}

.footer-link {
    color: #fff !important;
    opacity: 0.7;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 21px;
}

.op-5 {
    opacity: 0.5;
}

.gray-btn {
    background: linear-gradient(94.21deg, #252424 4.48%, #424242 87.94%);
    padding: 20px 42px;
    color: #fff !important;
    border-radius: 12px;
    display: inline-block;
    box-shadow: 0 20px 30px -6px rgba(60, 59, 61, 0.5);
    transition: all 0.5s ease-in-out;

    &:hover {
        box-shadow: none;
    }
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-44 {
    margin-bottom: 44px !important;
}