html,
body {
    font-family            : 'Manrope', sans-serif;
    font-weight            : $fnt-reg;
    color                  : #2D343B;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering         : optimizeLegibility;

    p {
        font-weight: normal;
        font-size  : 14px;
        line-height: 24px;
        color      : #2D343B;

        @media (min-width: $md) {
            font-size  : 24px;
            line-height: 38px;
        }
    }
}

.container {
    position: relative;

    @media (min-width: 1400px) {
        max-width: 1200px;
    }
}

.container-bn {
    position: relative;
    margin  : 0 auto;
    padding : 0 2rem;

    @media (min-width: 1400px) {
        max-width: 1250px;
    }
}

.is-hidden {
    display: none !important;
}

.w-1100 {
    max-width: 1100px !important;
}

.w-1600 {
    @media (min-width: 1440px) {
        width    : 100%;
        max-width: 1600px !important;
    }
}

.v-hidden {
    overflow: hidden;
}

.rec-flx-rev {
    @media (max-width: 767px) {
        flex-direction: column-reverse;
    }
}

// flex
.flex-center {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.rec-txt-block {
    @extend .fnt-xl;
    font-weight: $fnt-medium !important;
    display    : block;
}

// image info
.border-radius {
    border-radius: 50%;
}

.n-gsap-text,
.n-gsap-image {
    opacity     : 0;
    // transform: translate(100px, 100px);
}

.animating-bg {
    position        : relative;
    background-color: #fff;
}

.banner--home {
    z-index    : 10;
    background : $w;
    // position: relative;
}

.naskLoader {
    position           : fixed;
    top                : 0;
    left               : 0;
    right              : 0;
    bottom             : -10px;
    background         : center #33bc8c no-repeat;
    // background   : center #f2f2f2 no-repeat;
    z-index            : 9999999;
    // z-index         : 999;
}

#loader-wrapper {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : 10000;
}

#loader {
    display          : block;
    position         : relative;
    top              : 50%;
    left             : 50%;
    width            : 150px;
    height           : 150px;
    margin           : -75px 0 0 -75px;
    border           : 3px solid transparent;
    border-top-color : transparent;
    border-radius    : 100%;
    -webkit-animation: spin 2s linear infinite;
    animation        : spin 2s linear infinite;
    z-index          : 1001;
}

#loader:before {
    content          : "";
    position         : absolute;
    top              : 5px;
    left             : 5px;
    right            : 5px;
    bottom           : 5px;
    border           : 3px solid transparent;
    border-top-color : transparent;
    border-radius    : 100%;
    -webkit-animation: spin 3s linear infinite;
    animation        : spin 3s linear infinite;
}

#loader:after {
    content          : "";
    position         : absolute;
    top              : 12px;
    left             : 12px;
    right            : 12px;
    bottom           : 12px;
    border           : 3px solid transparent;
    border-top-color : transparent;
    border-radius    : 100%;
    -webkit-animation: spin 1.5s linear infinite;
    animation        : spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform    : rotate(0deg);
        transform        : rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform    : rotate(360deg);
        transform        : rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform    : rotate(0deg);
        transform        : rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform    : rotate(360deg);
        transform        : rotate(360deg);
    }
}

#loader-wrapper .loader-section {
    position     : fixed;
    top          : 0;
    background   : #151945;
    // background: linear-gradient(to right, #FFFFFF, #FFFFFF, #FFFFFF);
    width        : 51%;
    height       : 100%;
    z-index      : 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}


/* Loaded Styles */

.loaded #loader-wrapper .loader-section.section-left {
    transform : translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    transform : translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity   : 0;
    transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform : translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

// END: Loader
.more {
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight   : $fnt-medium;
    position      : relative;
    color         : $primary;

    &:after {
        content   : "";
        position  : absolute;
        bottom    : -0.5rem;
        height    : 2px;
        width     : 60%;
        background: $primary;
        margin    : 0 auto;
        left      : 0;
        right     : 0;
    }
}

.slick-arrow.slick-disabled {
    // display: none;
    opacity: 0;
}

.slidingVertical {
    display       : inline;
    // text-indent: 8px;
}



.fnt-400 {
    font-weight: 400;
}

.fnt-300 {
    font-weight: 300;
}

.fnt-700 {
    font-weight: 700;
}

.js-custom-pagination {
    margin-top: 62px;

    .swiper-pagination-bullet {
        // background: #fff6;
        // opacity: 0.4;
        margin-right: 13px;
        transition  : .5s ease all;
    }

    .swiper-pagination-bullet-active {
        transition   : .5s ease all;
        background   : #F2B94C;
        border-radius: 50px;
        opacity      : 1;
        width        : 31px;
    }
}

.link-nav {
    font-size     : 18px;
    line-height   : 32px;
    /* identical to box height, or 178% */
    letter-spacing: 1px;

    &__blue {
        color: #0D3486;

        &:hover {
            color: #0D3486 !important;
        }
    }

    &__orange {
        color: #F2B94C;

        &:hover {
            color: #F2B94C !important;
        }
    }

    .right-arrow {
        margin-left : 12px;
        border      : solid;
        border-color: inherit;
        border-width: 0 1px 1px 0;
        display     : inline-block;
        padding     : 4px;
        transform   : rotate(-45deg);
        transition  : .5s ease-in-out all;
    }

    &:hover {
        color: inherit;

        .right-arrow {
            margin-left: 18px;
            transition : .5s ease all;
        }
    }
}

//font sizes

.fnt-14 {
    font-size  : 14px;
    line-height: 22px;
}

.fnt-18 {
    font-size  : 18px;
    line-height: 25px;
}

.fnt-42 {
    font-size  : 30px;
    line-height: 119.8%;

    @media (min-width: $md) {
        font-size: 42px;
    }
}

.fnt-20 {

    @media (min-width: $md) {
        font-size  : 20px;
        line-height: 40px;
    }
}


//head class
.c-h1 {
    font-size  : 42px;
    line-height: 50px;
    color      : #FFFFFF;
}

.mb-57 {
    margin-bottom: 32px;

    @media (min-width: $md) {
        margin-bottom: 57px;
    }
}

.sec-100 {
    padding: 56px 0;

    @media (min-width: $md) {
        padding: 100px 0;
    }

    background: #FFFFFF;
}

.w100 {
    width: 100%;
}


.sub-heading {
    margin-left  : 33px;
    margin-bottom: 32px !important;

    @media (min-width: 767px) {
        margin-bottom: 64px !important;
    }

}

.sub-heading-mechanical {
    margin-left  : 15px;
    margin-bottom: 32px !important;

    @media (min-width: 767px) {
        margin-bottom: 64px !important;
    }

}

.small-heading {
    margin-left: 33px;

    @media (min-width: 767px) {
        margin-left: 0px;
    }

}

.mb40 {
    @media (min-width: 767px) {
        margin-bottom: 40px !important;
    }
}

.mb52 {
    @media (min-width: 767px) {
        margin-bottom: 52px !important;
    }
}

.mb104 {
    @media (min-width: 767px) {
        margin-bottom: 104px !important;
    }
}

.pt152 {
    @media (min-width: 767px) {
        padding-top: 152px !important;
    }
}


.vertical-tab-list-content {
    &__item {

        @media (min-width: 768px) {
            display: none;
        }

        .tab-card {
            @media (max-width: 767px) {
                display   : none;
                margin-top: 20px;
            }
        }

        &.active {
            @media (min-width: 768px) {
                display: block;
            }

            .tab-card {
                @media (max-width: 767px) {
                    display: block;
                }
            }

        }
    }
}


.footer-link {
    color      : #fff !important;
    opacity    : 0.7;
    font-weight: 500 !important;
    font-size  : 14px;
    line-height: 21px;
}

.op-5 {
    opacity: 0.5;
}

.gray-btn {
    background   : linear-gradient(94.21deg, #252424 4.48%, #424242 87.94%);
    padding      : 20px 42px;
    color        : #fff !important;
    border-radius: 12px;
    display      : inline-block;
    box-shadow   : 0 20px 30px -6px rgba(60, 59, 61, 0.5);
    transition   : all 0.5s ease-in-out;

    &:hover {
        box-shadow: none;
    }
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-44 {
    margin-bottom: 44px !important;
}