section.clientstories-details 
    .container 
        .row 
            .col-lg-10.ml-auto.mr-auto
                .swiper.similarSwiper
                    p.lh24.fnt-20.fnt-lex.fnt500.op1.mb-24 Related Case studies
                    a.txt-md.text-blackish.fnt700.fnt-man.view-btn(href="#") View all
                    .swiper-wrapper
                        .swiper-slide
                           
                                .clientstories-details-card
                                    .clientstories-details-card-img
                                        img.w100(src="./img/clientstories-details/image 2.png", alt="")
                                        span.fnt-14.text-white.fnt600.fnt-man.ml-16.category Category 1
                                    .clientstories-details-card-text                                                    
                                        p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading An Introduction and Guide to Becoming a Social Media Savvy Nephrologists
                                        p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Share Payments links with individual customers or paste it in Bio.
                                        ul.tag-list 
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") Indonesia
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") Singapore
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") India
                        .swiper-slide 
                            
                                .clientstories-details-card
                                    .clientstories-details-card-img
                                        img.w100(src="./img/clientstories-details/image 1.png", alt="")
                                        span.fnt-14.text-white.fnt600.fnt-man.ml-16.category Category 1
                                    .clientstories-details-card-text                                                    
                                        p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading An Introduction and Guide to Becoming a Social Media Savvy Nephrologists
                                        p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Share Payments links with individual customers or paste it in Bio.
                                        ul.tag-list 
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") Indonesia
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") Singapore
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") India
                        .swiper-slide 
                            
                                .clientstories-details-card
                                    .clientstories-details-card-img
                                        img.w100(src="./img/clientstories-details/image 2.png", alt="")
                                        span.fnt-14.text-white.fnt600.fnt-man.ml-16.category Category 1
                                    .clientstories-details-card-text                                                    
                                        p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading An Introduction and Guide to Becoming a Social Media Savvy Nephrologists
                                        p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Share Payments links with individual customers or paste it in Bio.
                                        ul.tag-list 
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") Indonesia
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") Singapore
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") India 
                        .swiper-slide 
                        
                                .clientstories-details-card
                                    .clientstories-details-card-img
                                        img.w100(src="./img/clientstories-details/image 1.png", alt="")
                                        span.fnt-14.text-white.fnt600.fnt-man.ml-16.category Category 1
                                    .clientstories-details-card-text                                                    
                                        p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading An Introduction and Guide to Becoming a Social Media Savvy Nephrologists
                                        p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Share Payments links with individual customers or paste it in Bio.
                                        ul.tag-list 
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") Indonesia
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") Singapore
                                            li.tag-list__item
                                                a.fnt-14.fnt300.fnt-man(href="#") India

                    .swiper-button-next
                        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                        </svg>
                    .swiper-button-prev
                        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                        </svg>
                    .swiper-pagination