section.articledetails-section11
section.articledetails-section  
    .container 
        .row 
            .col-lg-6.ml-auto.mr-auto.text01 
                span.fnt-14.text-bluey.fnt600.fnt-man Category 1
                h2.h2.fnt-lex.fnt500.mb-16 An Introduction and Guide to Becoming a Social Media Savvy Nephrologists 
                p.fnt-14.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures brought to you by doctors from academia, research institutions and experts.
            .col-lg-10.ml-auto.mr-auto.text-left
                .articledetails-img
                    img.image-desk.w100(src="./img/clientstories-details/Group1.png", alt="")
                    img.image-mob.w100(src="./img/clientstories-details/image 3.png", alt="")
                p.txt-md.text-blackish.fnt500.fnt-man As a Product Designer, you will work within a Product Delivery Team fused with UX, engineering, product and data talent. You will help the team design beautiful interfaces that solve business challenges for our clients. We work with a number of Tier 1 banks on building web-based applications for AML, KYC and Sanctions List management workflows. This role is ideal if you are looking to segue your career into the FinTech or Big Data arenas.
                p.txt-md.text-blackish.fnt500.fnt-man As a Product Designer, you will work within a Product Delivery Team fused with UX, engineering, product and data talent. You will help the team design beautiful interfaces that solve business challenges for our clients. We work with a number of Tier 1 banks on building web-based applications for AML, KYC and Sanctions List management workflows. This role is ideal if you are looking to segue your career into the FinTech or Big Data arenas.
                
                .video-container-article
                    .js-video.ng-isolate-scope
                        .video-poster
                        .play
                            img.w100(src="./img/webinars/play-button.svg", alt="")
                p.lh24.fnt-20.fnt-lex.fnt500.op1.mb-24 Information That You Provide To Us Directly Docquity User Accounts
                p.txt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                p.txt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.


                .author-div     
                    p.lh24.fnt-20.fnt-lex.fnt500.op1.mb-24 Authours
                    .author
                        .author-img 
                            img.w100(src="./img/clientstories-details/Lady avatar1.svg", alt="")
                        .author-text 
                            p.txt-md.text-blackish.fnt800.fnt-man.mb-0 Annette Black
                            p.fnt-xs.text-blackish.fnt500.fnt-man Surgeon | Cardiologist
                p.txt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                .share-div
                    p.lh24.fnt-20.fnt-lex.fnt500.op1.mb-24 Share it with
                    ul.share-list 
                        li.share-list__item
                            a.share-link(href="#")
                                .share-img 
                                    img.w100(src="./img/article/mail.svg", alt="")
                                span.txt-.fnt600.fnt-man.text-blackish.share-item  Mail
                        li.share-list__item 
                            a.share-link(href="#")
                                .share-img 
                                    img.w100(src="./img/article/facebook.svg", alt="")
                                span.txt-.fnt600.fnt-man.text-blackish.share-item  Facebook
                        li.share-list__item
                            a.share-link(href="#")
                                .share-img  
                                    img.w100(src="./img/article/twitter.svg", alt="")
                                span.txt-.fnt600.fnt-man.text-blackish.share-item  Twitter
                        li.share-list__item 
                            a.share-link(href="#")
                                .share-img 
                                    img.w100(src="./img/article/copylink.svg", alt="")
                                span.txt-.fnt600.fnt-man.text-blackish.share-item  Copy Link