section.ns-accordion-ui.bg-white
    .container
        .row.captions
            .col-md-12
                h2.h2.mb-lg-5.pb-4.gsap-captions-item  Frequently Asked Questions
            
            .col-lg-11.col-xl-10.titles
                ol#accordion.ns-accordion-v.gsap-list-item
                    li.ns-accordion-v__item.card.current
                        #one-accordion.panel-header
                            h5.h5(data-toggle='collapse' data-target='#oneAccordion' aria-expanded='true' aria-controls='oneAccordion') Why are UI Services important?
                        #oneAccordion.collapse.show(aria-labelledby='one-accordion' data-parent='#accordion')
                            .card-body
                                p A good user interface is more effective when it comes to solving user problems. A well-defined interface makes it easier to gauge the propositions of a product and in turn, contributes to adding value to its user’s life. Here’s a list of benefits that come along with UI Services:
                                ol.n-unorder-list
                                    li  A user-friendly UI fosters quick learning about the system and product features.
                                    li  It aims to drive the user’s attention in a way that enables them to complete the desired task quickly and effectively, especially in the context of mobile user interface design.
                                    li  It reduces the degree of ambiguity in the system by using clearly defined elements such as buttons, images, illustrations, text labels, etc.
                                    li  It standardizes the product across various platforms.
                                    li  It results in reduced development efforts.
                    li.ns-accordion-v__item.card
                        #two-accordion.panel-header
                            h5.h5.collapsed(data-toggle='collapse' data-target='#twoAccordion' aria-expanded='false' aria-controls='twoAccordion') How can UI services help your brand?
                        #twoAccordion.collapse(aria-labelledby='two-accordion' data-parent='#accordion')
                            .card-body
                                p A good user interface is more effective when it comes to solving user problems. A well-defined interface makes it easier to gauge the propositions of a product and in turn, contributes to adding value to its user’s life. Here’s a list of benefits that come along with UI Services:
                    li.ns-accordion-v__item.card
                        #three-accordion.panel-header
                            h5.h5.collapsed(data-toggle='collapse' data-target='#threeAccordion' aria-expanded='false' aria-controls='threeAccordion') What is an interactive prototype?
                        #threeAccordion.collapse(aria-labelledby='three-accordion' data-parent='#accordion')
                            .card-body
                                p A good user interface is more effective when it comes to solving user problems. A well-defined interface makes it easier to gauge the propositions of a product and in turn, contributes to adding value to its user’s life. Here’s a list of benefits that come along with UI Services: