.col-md-4.d-flex
    .rec-card.rec-card--blog
        span.rec-publish-dt.fnt-md Jan 24th 2020
        .rec-card--blog__body
            h5.fnt-xl.fnt-medium Use of spreadsheet in the corporate world
            .rec-card--blog__fig-wrap.pt-2
                img(src="./img/home/blog/blog-post.png" alt="Blog image")
                a.rect-play-btn.flex-center
                    img(src="./img/home/blog/play-btn.svg" alt="play button")
            a.rect-link.fnt-md.mt-md-4
                span.mr-2 Watch video
                img(src="./img/arrow.svg" alt="arrown icon")
.col-md-4.d-flex
    .rec-card.rec-card--blog
        span.rec-publish-dt.fnt-md Jan 24th 2020
        .rec-card--blog__body
            h5.fnt-xl.fnt-medium Use of spreadsheet in the corporate world
            p Corporate teams tend to use spreadsheets all the time, but they’ve never taught how to be awesome at spreadsheets in the way that bankers,  but they’ve never taught how to be awesome at spreadsheets in the way all the time that bankers...
            a.rect-link.fnt-md.mt-md-3
                span.mr-2 Read more
                img(src="./img/arrow.svg" alt="arrown icon")