section.bg-blue.section-padding5.text-center.gsap-hero-panel
    .rec-gsap-bg-pri
    .container
        .row
            .col-md-12.col-lg-10.offset-lg-1
                h3.mb-2.mb-md-3.hero-title.gsap-hero-item Join our weekly open house class
                button.rec-btn.rec-btn--white.mt-2.gsap-hero-item try a class