
section.section-padding7
    .container.new-service-slider
        .row
            .col-md-5.new-service-slider__white
                .col-md-12.px-0
                    .slide-count-2
                ul.new-service-slider-expert
                    li.new-service-slider-expert__item
                        h4.fnt-reg.h4.mt-3.mt-md-4 Design Experts On The Team 1
                    li.new-service-slider-expert__item
                        h4.fnt-reg.h4.mt-3.mt-md-4 Design Experts On The Team 2
                .row
                    nav.nav-arrow.mt-md-4
                        .slide-nav__arrow.slide-nav__prev.nav-prevNew.mx-1.mx-md-2
                            img(src="./img/footer/arrow.svg" alt="Prev/Next Arrow")
                        .slide-nav__arrow.slide-nav__next.nav-nextNew.mx-1.mx-md-2
                            img(src="./img/footer/arrow.svg" alt="Prev/Next Arrow")
            .col-md-7.new-service-slider__blue
                ul.new-service-slider-expert-for
                    li.new-service-slider-expert-for__item
                        p 1 With something as critical as a creative logo design, we trust our experienced professionals to do it for you 2With something as critical as a creative logo design, we trust our experienced professionals to do it for you 2With something as critical as a creative logo design, we trust our experienced professionals to do it for you
                    li.new-service-slider-expert-for__item
                        p 2 With something as critical as a creative logo design, we trust our experienced professionals to do it for you 2With something as critical as a creative logo design, we trust our experienced professionals to do it for you 2With something as critical as a creative logo design, we trust our experienced professionals to do it for you
