.rec-card.rec-card--testi
    .rec-border-top.rec-border-top--pri
    .rec-card__fig-wrap
        img.imgfluid.img99x99(src="./img/home/testimonials/testimonial1.png" alt="Author profile")

    .rec-card--testi__body
        blockquote.rec-quote-wrap.px-0
            p “Our team members love Recalc training.  It has become a favorite part of our ongoing professional development.“

    .rec-card--testi__footer
        img.imgfluid.mb-2.rec-mb100(src="./img/home/client-logos/client1.svg")
        span.d-block.fnt-medium  Carolyn Frey,
        span Chief People Officer, Philz Coffee