aside.dq-only-desktop
    .dq-sideleft-sticky
        .dq-sidepanel
            span.dq-sidepanel-title Job Role
            h1.dq-job-title Account Management Executive
            ul.dq-tags-list
                li.dq-tags-list__item Singapore
                li.dq-tags-list__item India
                li.dq-tags-list__item Indonesia

            .dq-sidepanel__btn-apply
                a.dq-btn.dq-btn--lg(href="javascript:void(0);")
                    span Apply Now
                    img.dq-btn--figwrap(src="./img/icons/right-arrow.svg")
                
                a(href="javascript:void(0);").dq-sharebtn.ml-3
                    img(src="./img/caree-details/share-icon.svg" alt="Share icon")
