aside
    .dq-sideleft-sticky
        .dq-sidepanel
            span.dq-sidepanel-title Job Role
            h1.dq-job-title Account Management Executive
            ul.dq-tags-list
                li.dq-tags-list__item Singapore
                li.dq-tags-list__item India
                li.dq-tags-list__item Indonesia
