section.articletabs-section 
    .container
        .row 
            .col-lg-5.ml-auto.mr-auto.text-center 
                h2.h2.fnt-lex.fnt500.mb-24 Learn how thought leaders get more done with Docquity
                p.txt-md.text-blackish.fnt500.fnt-man.opacity-text.mb-45 We continually deploy improvements to our platform, which facilitates discussions between +350,000 healthcare professionals every day. 

        .row.article-tabs-row.clientstories-row    
            .col-lg-8
                #nav-tabContent.tab-content.article-tabpane
                    #nav-home.mar-tp.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
                        .row.recent-row 
                            .col-lg-12
                                ul.article-list 
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/clientstories/clientstories1.png", alt="")
                                                    span.fnt-14.text-white.fnt600.fnt-man.ml-16.newest Category1
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading An Introduction and Guide to Becoming a Social Media Savvy Nephrologists
                                                    p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Share Payments links with individual customers or paste it in Bio.
                                                    ul.tag-list 
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") Indonesia
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") Singapore
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") India
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/clientstories/clientstories2.png", alt="")
                                                    span.fnt-14.text-white.fnt600.fnt-man.ml-16.newest Category1
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading An Introduction and Guide to Becoming a Social Media Savvy Nephrologists
                                                    p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Share Payments links with individual customers or paste it in Bio.
                                                    ul.tag-list 
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") Indonesia
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") Singapore
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") India
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/clientstories/clientstories3.png", alt="")
                                                    span.fnt-14.text-white.fnt600.fnt-man.ml-16.newest Category1
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading An Introduction and Guide to Becoming a Social Media Savvy Nephrologists
                                                    p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Share Payments links with individual customers or paste it in Bio.
                                                    ul.tag-list 
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") Indonesia
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") Singapore
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") India
                                    li.article-list__item
                                        a(href="article-details") 
                                            .article-card
                                                .article-card-img
                                                    img.w100(src="./img/clientstories/clientstories4.png", alt="")
                                                    span.fnt-14.text-white.fnt600.fnt-man.ml-16.newest Category1
                                                .article-card-text                                                    
                                                    p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading An Introduction and Guide to Becoming a Social Media Savvy Nephrologists
                                                    p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Share Payments links with individual customers or paste it in Bio.
                                                    ul.tag-list 
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") Indonesia
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") Singapore
                                                        li.tag-list__item
                                                            a.fnt-14.fnt300.fnt-man(href="#") India                                                  
                   
            .col-lg-12
                #pagination-container