.section.investor-section 
    .container-fluid 
        .row 
            .col-lg-12 
                .col-lg-6.ml-auto.mr-auto.text-center 
                    h2.h2.fnt-lex.fnt500.mb-16 Trusted by the leading pharmaceutical companies
                    p.txt-md.text-blackish.fnt500.fnt-man.opacity-text Companies of all sizes rely on Docquity for engagement with healthcare professionals. We continually deploy improvements to our platform, which handles more than 350,000 doctors across Southeast Asia. 
            .col-lg-12.pad-0
                include ../about/investor-slider.pug                