section.banner-section 
    .container-fluid
        .row 
            .col-lg-5
                .banner-left 
                    h1.h1.fnt-lex.fnt700.text-blackish.mb-16 Come 
                        span.text-red work 
                        br
                        | with us
                    p.fnt-md.text-blackish.fnt500.fnt-man.mb-24 We are doing the difficult-but-necessary work of building a global community of healthcare professionals – so doctors and the entire healthcare ecosystem can focus on saving lives.
                    a.gray-btn.fnt-md.fnt800.fnt-man(href="") See Open Roles
                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
            .col-lg-7.pr-0
                img.w100(src="./img/career/careerbanner.png", alt="")