section.banner-section 
    .container-fluid
        .row.banner-row 
            .col-lg-5.col-12
                .banner-left 
                    h1.h1.fnt-lex.fnt700.text-blackish.mb-16 Come 
                        span.text-red work                         
                        | with us
                    p.fnt-md.text-blackish.fnt500.fnt-man.mb-24 We are doing the difficult-but-necessary work of building a global community of healthcare professionals – so doctors and the entire healthcare ecosystem can focus on saving lives.
                    a.gray-btn.fnt-md.fnt600.fnt-man(href="") See Open Roles                        
            .col-lg-7.col-12.pr-0.slider-banner               
                ul.banner-list 
                    li.banner-list__item
                        .banner-div
                            .slider0
                                .slide-track
                                    .slide
                                        img(src="./img/career/g1.png", alt="")
                                    .slide
                                        img(src="./img/career/g2.png", alt="")
                                    .slide
                                        img(src="./img/career/g3.png", alt="")
                                    .slide
                                        img(src="./img/career/g4.png", alt="")
                                    .slide
                                        img(src="./img/career/g5.png", alt="")
                                    .slide
                                        img(src="./img/career/g6.png", alt="")
                    li.banner-list__item
                        .banner-div
                            .slider1
                                .slide-track
                                    .slide
                                        img(src="./img/career/h1.png", alt="")
                                    .slide
                                        img(src="./img/career/h2.png", alt="")
                                    .slide
                                        img(src="./img/career/h3.png", alt="")
                                    .slide
                                        img(src="./img/career/h4.png", alt="")
                                    .slide
                                        img(src="./img/career/h5.png", alt="")
                                    .slide
                                        img(src="./img/career/h6.png", alt="")
                                    .slide
                                        img(src="./img/career/h7.png", alt="")
                                    .slide
                                        img(src="./img/career/h8.png", alt="")
                                    .slide
                                        img(src="./img/career/h9.png", alt="")
                    li.banner-list__item
                        .banner-div
                            .slider2
                                .slide-track
                                    .slide
                                        img(src="./img/career/i1.png", alt="")
                                    .slide
                                        img(src="./img/career/i2.png", alt="")
                                    .slide
                                        img(src="./img/career/i3.png", alt="")
                                    .slide
                                        img(src="./img/career/i4.png", alt="")
                                    .slide
                                        img(src="./img/career/i5.png", alt="")
                                    .slide
                                        img(src="./img/career/i6.png", alt="")