section.individual-section 
    .container-fluid
        .row.individual-left 
            .col-lg-6.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 We are looking for ambitious individuals who want to shape the future of health
            .col-lg-7.ml-auto.mr-auto.text-center
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-20 We care less about hours worked and more about the outcome — and the impact you make. We have worked hard to create an autonomous working culture with an emphasis on work/life balance and a fun-working environment.
        .row    
            .col-lg-12
                //- .offset-md-2  
                .swiper.individualSwiper
                    .swiper-wrapper
                        .swiper-slide
                            .first-slide 
                                img.w100(src="./img/career/career1.png", alt="")
                        .swiper-slide 
                            .first-slide.scale1 
                                img.w100(src="./img/career/career2.png", alt="")
                        .swiper-slide
                            .first-slide 
                                img.w100(src="./img/career/career3.png", alt="")
                        .swiper-slide
                            .first-slide.scale1  
                                img.w100(src="./img/career/career4.png", alt="")
                        .swiper-slide
                            .first-slide.scale1  
                                img.w100(src="./img/career/career5.png", alt="")
                        .swiper-slide 
                            .first-slide.scale1  
                                img.w100(src="./img/career/career6.png", alt="")
                        .swiper-slide
                            .first-slide  
                                img.w100(src="./img/career/career7.png", alt="")                       
                    //- .swiper-pagination

