section.review-section 
    .container
        .row
            .col-lg-12
                .star-div.mb-13
                    p.fnt-lg.text-blackish.fnt700.fnt-man.op1 4.6
                    ul.star-list
                        li.star-list__item
                            img.w100(src="./img/icons/review-star.svg", alt="")
                        li.star-list__item 
                            img.w100(src="./img/icons/review-star.svg", alt="")
                        li.star-list__item 
                            img.w100(src="./img/icons/review-star.svg", alt="")
                        li.star-list__item 
                            img.w100(src="./img/icons/review-star.svg", alt="")
                        li.star-list__item 
                            img.w100(src="./img/icons/review-substar.svg", alt="")
            .col-lg-7.ml-auto.mr-auto.text-center                
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 Don't just take our word for it, see what other employees are saying.
            .col-lg-9.ml-auto.mr-auto.text-center
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-51 Our employees are founders, professionals, and doctors working on frontier ideas in health tech. Check out our Glassdoor ratings to see how they feel about working with us on building the future of health in Asia.
            .col-lg-12 
                ul.review-list 
                    li.review-list__item 
                        .review-icon 
                            img(src="./img/icons/rating.png", alt="")
                        .review-text 
                            p.fnt-md.text-blackish.fnt500.fnt-man Glassdoor rating of 
                                span.fnt700 4.6,49 
                                | employees have rated us as one of the best startups to work at.  
                    li.review-list__item 
                        .review-icon 
                            img(src="./img/icons/approval.png", alt="")
                        .review-text 
                            p.fnt-md.text-blackish.fnt500.fnt-man 
                                span.fnt700 100% 
                                | CEO approval rate All employees agree that our CEO and founding team are awesome.
                            
                    li.review-list__item 
                        .review-icon 
                            img(src="./img/icons/Recommendation.png", alt="")
                        .review-text 
                            p.fnt-md.text-blackish.fnt500.fnt-man 
                                span.fnt700 97% 
                                | recommendation rate Nearly 100% of all employees would recommend working at Docquity.
            .col-lg-12.text-center
                a.gray-btn.fnt-md.fnt800.fnt-man(href="") Read Our Reviews
                    img.ml-7(src="./img/icons/right-arrow.svg", alt="")  

