section.support-section 
    .container
        .row 
            .col-lg-6.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 Support to do your best work
            .col-lg-8.ml-auto.mr-auto.text-center
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-44 We offer competitive and comprehensive benefits, although lots of companies can offer you those. We also have a rarer opportunity: The impact you can make from being at a nimble startup, working on a platform that operates at a significant (and quickly growing) scale.
            .col-lg-12.d-none.d-md-block 
                ul.support-list.row 
                    li.col-lg-4.support-list__item
                        .support-card
                            .support-icon                                 
                                <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg" id="square1">
                                <g clip-path="url(#clip0_1360_10999)">
                                <path d="M18.8 1.5H7.74C4.29374 1.5 1.5 4.29374 1.5 7.74V14.66C1.5 18.1063 4.29374 20.9 7.74 20.9H18.8C22.2463 20.9 25.04 18.1063 25.04 14.66V7.74C25.04 4.29374 22.2463 1.5 18.8 1.5Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.02002 4.42969L5.02002 9.52969C5.21247 10.0206 5.54803 10.4422 5.98312 10.74C6.41822 11.0378 6.93278 11.198 7.46002 11.1997H19.08C19.6193 11.1981 20.1449 11.0301 20.5852 10.7187C21.0254 10.4073 21.3589 9.96763 21.54 9.45969L23.34 4.45969" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M30.32 11.2002C32.7954 11.2002 35.2466 11.6878 37.5335 12.6351C39.8205 13.5824 41.8985 14.9708 43.6489 16.7212C45.3993 18.4716 46.7878 20.5496 47.7351 22.8366C48.6824 25.1236 49.17 27.5748 49.17 30.0502C49.1673 35.0478 47.1802 39.8398 43.6454 43.3727C40.1106 46.9056 35.3176 48.8902 30.32 48.8902C25.3224 48.8902 20.5293 46.9056 16.9945 43.3727C13.4598 39.8398 11.4726 35.0478 11.47 30.0502C11.4685 28.3782 11.6905 26.7134 12.13 25.1002" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M47.37 31.2402H13.27" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M30.32 11.2002C30.6437 11.2172 30.9604 11.3016 31.2497 11.4479C31.5389 11.5943 31.7945 11.7994 32 12.0502C34.29 14.4302 36 21.5902 36 30.0502C36 40.4502 33.47 48.8902 30.36 48.8902C27.25 48.8902 24.73 40.4502 24.73 30.0502C24.73 28.6202 24.73 27.2402 24.86 25.9102" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_10999">
                                <rect width="50.67" height="50.4" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Work anywhere 
                                br
                                | in the world
                            p.fnt-md.fnt500.fnt-man.max3 You do you. Just send us a postcard..We all know that the ability to travel and work from around the world is exciting during these times and we want you to enjoy your time. We are not here to count the hours you are working, we are here for our common mission.
                        .hover-card 
                            .support-icon 
                                <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1360_10999)">
                                <path d="M18.8 1.5H7.74C4.29374 1.5 1.5 4.29374 1.5 7.74V14.66C1.5 18.1063 4.29374 20.9 7.74 20.9H18.8C22.2463 20.9 25.04 18.1063 25.04 14.66V7.74C25.04 4.29374 22.2463 1.5 18.8 1.5Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M3.02002 4.42969L5.02002 9.52969C5.21247 10.0206 5.54803 10.4422 5.98312 10.74C6.41822 11.0378 6.93278 11.198 7.46002 11.1997H19.08C19.6193 11.1981 20.1449 11.0301 20.5852 10.7187C21.0254 10.4073 21.3589 9.96763 21.54 9.45969L23.34 4.45969" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M30.32 11.2002C32.7954 11.2002 35.2466 11.6878 37.5335 12.6351C39.8205 13.5824 41.8985 14.9708 43.6489 16.7212C45.3993 18.4716 46.7878 20.5496 47.7351 22.8366C48.6824 25.1236 49.17 27.5748 49.17 30.0502C49.1673 35.0478 47.1802 39.8398 43.6454 43.3727C40.1106 46.9056 35.3176 48.8902 30.32 48.8902C25.3224 48.8902 20.5293 46.9056 16.9945 43.3727C13.4598 39.8398 11.4726 35.0478 11.47 30.0502C11.4685 28.3782 11.6905 26.7134 12.13 25.1002" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M47.37 31.2402H13.27" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M30.32 11.2002C30.6437 11.2172 30.9604 11.3016 31.2497 11.4479C31.5389 11.5943 31.7945 11.7994 32 12.0502C34.29 14.4302 36 21.5902 36 30.0502C36 40.4502 33.47 48.8902 30.36 48.8902C27.25 48.8902 24.73 40.4502 24.73 30.0502C24.73 28.6202 24.73 27.2402 24.86 25.9102" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_10999">
                                <rect width="50.67" height="50.4" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Work anywhere 
                                br
                                | in the world
                            p.fnt-md.fnt500.fnt-man.max3 You do you. Just send us a postcard..We all know that the ability to travel and work from around the world is exciting during these times and we want you to enjoy your time. We are not here to count the hours you are working, we are here for our common mission.
                    li.col-lg-4.support-list__item 
                        .support-card 
                            .support-icon                                
                                <svg width="55" height="50" viewBox="0 0 55 50" fill="none" xmlns="http://www.w3.org/2000/svg" id="square2">
                                <g clip-path="url(#clip0_1360_11011)">
                                <path d="M37.15 48.1502H8.18L1.5 24.2002H30.48L37.15 48.1502Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M35.78 43.2305H51.59L52.96 48.1505H37.15" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.7258 37.6273C21.8789 36.4763 21.754 34.4817 20.4468 33.1723C19.1397 31.8629 17.1454 31.7345 15.9923 32.8856C14.8393 34.0366 14.9642 36.0312 16.2713 37.3406C17.5784 38.65 19.5728 38.7784 20.7258 37.6273Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.6001 20.11V14.35L26.2301 1.5L44.8501 14.35V39.22" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.60007 14.3496L3.82007 16.8396" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M44.8501 14.3496L48.7201 17.0996" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11011">
                                <rect width="54.46" height="49.65" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Come into the office.
                                br
                                | Or don't! It's up to you...
                            p.fnt-md.fnt500.fnt-man.max3 We want you to work from wherever is most comfortable for you and are here to make this a reality, whether that is in an office or at home.
                        .hover-card 
                            .support-icon 
                                <svg width="55" height="50" viewBox="0 0 55 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1360_11011)">
                                <path d="M37.15 48.1502H8.18L1.5 24.2002H30.48L37.15 48.1502Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M35.78 43.2305H51.59L52.96 48.1505H37.15" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.7258 37.6273C21.8789 36.4763 21.754 34.4817 20.4468 33.1723C19.1397 31.8629 17.1454 31.7345 15.9923 32.8856C14.8393 34.0366 14.9642 36.0312 16.2713 37.3406C17.5784 38.65 19.5728 38.7784 20.7258 37.6273Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.6001 20.11V14.35L26.2301 1.5L44.8501 14.35V39.22" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M7.60007 14.3496L3.82007 16.8396" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M44.8501 14.3496L48.7201 17.0996" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11011">
                                <rect width="54.46" height="49.65" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Come into the office.
                                br
                                | Or don't! It's up to you...
                            p.fnt-md.fnt500.fnt-man.max3 We want you to work from wherever is most comfortable for you and are here to make this a reality, whether that is in an office or at home.
                    li.col-lg-4.support-list__item
                        .support-card 
                            .support-icon 
                                <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg" id="square3">
                                <g clip-path="url(#clip0_1360_11022)">
                                <path d="M1.5 47.2402H48.19" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.65991 47.2402V33.6502C4.66255 32.6591 5.05743 31.7093 5.75824 31.0085C6.45905 30.3077 7.4088 29.9128 8.3999 29.9102H11.1199C12.111 29.9128 13.0608 30.3077 13.7616 31.0085C14.4624 31.7093 14.8573 32.6591 14.8599 33.6502V47.2402" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M19.76 47.24V16.74C19.76 15.7481 20.1541 14.7968 20.8554 14.0954C21.5568 13.394 22.5081 13 23.5 13H26.22C27.2119 13 28.1632 13.394 28.8646 14.0954C29.566 14.7968 29.96 15.7481 29.96 16.74V47.24" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M34.8601 47.2404V23.3504C34.8627 22.3593 35.2576 21.4095 35.9584 20.7087C36.6593 20.0079 37.609 19.613 38.6001 19.6104H41.3201C42.3112 19.613 43.261 20.0079 43.9618 20.7087C44.6626 21.4095 45.0575 22.3593 45.0601 23.3504V47.2404" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.65991 18.1L21.2599 1.5L37.3299 12.16L45.0599 3.58" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M39.45 4.12047L46.2099 2.23047V9.01047" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11022">
                                <rect width="49.69" height="48.74" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Uncapped 
                                br
                                | Growth
                            p.fnt-md.fnt500.fnt-man.max3 We're here to empower you.There is unlimited opportunity to grow your mandate...
                        .hover-card 
                            .support-icon 
                                <svg width="50" height="49" viewBox="0 0 50 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1360_11022)">
                                <path d="M1.5 47.2402H48.19" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.65991 47.2402V33.6502C4.66255 32.6591 5.05743 31.7093 5.75824 31.0085C6.45905 30.3077 7.4088 29.9128 8.3999 29.9102H11.1199C12.111 29.9128 13.0608 30.3077 13.7616 31.0085C14.4624 31.7093 14.8573 32.6591 14.8599 33.6502V47.2402" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M19.76 47.24V16.74C19.76 15.7481 20.1541 14.7968 20.8554 14.0954C21.5568 13.394 22.5081 13 23.5 13H26.22C27.2119 13 28.1632 13.394 28.8646 14.0954C29.566 14.7968 29.96 15.7481 29.96 16.74V47.24" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M34.8601 47.2404V23.3504C34.8627 22.3593 35.2576 21.4095 35.9584 20.7087C36.6593 20.0079 37.609 19.613 38.6001 19.6104H41.3201C42.3112 19.613 43.261 20.0079 43.9618 20.7087C44.6626 21.4095 45.0575 22.3593 45.0601 23.3504V47.2404" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M4.65991 18.1L21.2599 1.5L37.3299 12.16L45.0599 3.58" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M39.45 4.12047L46.2099 2.23047V9.01047" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11022">
                                <rect width="49.69" height="48.74" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Uncapped 
                                br
                                | Growth
                            p.fnt-md.fnt500.fnt-man.max3 We're here to empower you.There is unlimited opportunity to grow your mandate...
                    li.col-lg-4.support-list__item
                        .support-card 
                            .support-icon 
                                <svg width="55" height="50" viewBox="0 0 55 50" fill="none" xmlns="http://www.w3.org/2000/svg" id="square4">
                                <g clip-path="url(#clip0_1360_11033)">
                                <path d="M49.77 47.9404H4.83C3.94683 47.9404 3.09983 47.5896 2.47533 46.9651C1.85084 46.3406 1.5 45.4936 1.5 44.6104V39.4004H18.89L21.89 41.7404H31.89L35.51 39.4004H53.08V44.6104C53.08 45.4901 52.7319 46.3341 52.1117 46.958C51.4916 47.5819 50.6497 47.9351 49.77 47.9404V47.9404Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.3599 13.7002H10.4299C9.10385 13.7002 7.83208 14.227 6.8944 15.1647C5.95672 16.1023 5.42993 17.3741 5.42993 18.7002V39.4002" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M49.67 39.4002V18.6602C49.67 18.0035 49.5407 17.3534 49.2894 16.7467C49.0381 16.1401 48.6698 15.5889 48.2056 15.1246C47.7413 14.6603 47.1901 14.292 46.5834 14.0408C45.9768 13.7895 45.3266 13.6602 44.67 13.6602H41.77" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M37.46 13.7C37.46 13.51 37.46 13.33 37.46 13.14C37.4434 12.8704 37.5019 12.6015 37.629 12.3631C37.7562 12.1248 37.9469 11.9264 38.18 11.79L39.59 10.98L35.67 4.21L34.26 5.02C34.0304 5.16264 33.7654 5.23822 33.495 5.23822C33.2247 5.23822 32.9597 5.16264 32.73 5.02C32.42 4.82 32.1 4.63 31.73 4.46C31.4908 4.33518 31.2906 4.14693 31.1512 3.91586C31.0119 3.68479 30.9388 3.41983 30.94 3.15V1.5H23.15V3.12C23.1513 3.38983 23.0782 3.65479 22.9389 3.88586C22.7995 4.11693 22.5993 4.30518 22.36 4.43C22.03 4.6 21.7 4.79 21.36 4.99C21.1319 5.13176 20.8686 5.20689 20.6 5.20689C20.3314 5.20689 20.0682 5.13176 19.84 4.99L18.43 4.18L14.54 10.99L15.95 11.8C16.1838 11.9347 16.3763 12.1307 16.5067 12.3669C16.6372 12.6031 16.7005 12.8704 16.69 13.14C16.69 13.33 16.69 13.51 16.69 13.7C16.69 13.89 16.69 14.07 16.69 14.25C16.7017 14.5198 16.6388 14.7875 16.5082 15.0239C16.3777 15.2603 16.1846 15.4562 15.95 15.59L14.54 16.41L18.46 23.19L19.87 22.37C20.099 22.2304 20.3619 22.1566 20.63 22.1566C20.8982 22.1566 21.1611 22.2304 21.39 22.37C21.7118 22.5737 22.0457 22.7573 22.39 22.92C22.6293 23.0448 22.8295 23.2331 22.9689 23.4641C23.1082 23.6952 23.1813 23.9602 23.18 24.23V25.86H30.98V24.27C30.9788 24.0002 31.0519 23.7352 31.1912 23.5041C31.3306 23.2731 31.5308 23.0848 31.77 22.96C32.1145 22.7977 32.4485 22.614 32.77 22.41C33.0009 22.2706 33.2654 22.197 33.535 22.197C33.8047 22.197 34.0692 22.2706 34.3 22.41L35.71 23.23L39.63 16.45L38.18 15.59C37.944 15.4579 37.7496 15.2624 37.6188 15.0256C37.488 14.7888 37.4261 14.5201 37.44 14.25C37.45 14.07 37.46 13.88 37.46 13.7Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M27.0601 18.2002C29.5453 18.2002 31.5601 16.1855 31.5601 13.7002C31.5601 11.2149 29.5453 9.2002 27.0601 9.2002C24.5748 9.2002 22.5601 11.2149 22.5601 13.7002C22.5601 16.1855 24.5748 18.2002 27.0601 18.2002Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11033">
                                <rect width="54.6" height="49.44" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Laptop 
                                br
                                | Setup
                            p.fnt-md.fnt500.fnt-man.max3 Remote-first toys for remote calls.As a globally distributed company we will ensure you have the necessary tech to do your best work.
                        .hover-card 
                            .support-icon 
                                <svg width="55" height="50" viewBox="0 0 55 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1360_11033)">
                                <path d="M49.77 47.9404H4.83C3.94683 47.9404 3.09983 47.5896 2.47533 46.9651C1.85084 46.3406 1.5 45.4936 1.5 44.6104V39.4004H18.89L21.89 41.7404H31.89L35.51 39.4004H53.08V44.6104C53.08 45.4901 52.7319 46.3341 52.1117 46.958C51.4916 47.5819 50.6497 47.9351 49.77 47.9404V47.9404Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.3599 13.7002H10.4299C9.10385 13.7002 7.83208 14.227 6.8944 15.1647C5.95672 16.1023 5.42993 17.3741 5.42993 18.7002V39.4002" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M49.67 39.4002V18.6602C49.67 18.0035 49.5407 17.3534 49.2894 16.7467C49.0381 16.1401 48.6698 15.5889 48.2056 15.1246C47.7413 14.6603 47.1901 14.292 46.5834 14.0408C45.9768 13.7895 45.3266 13.6602 44.67 13.6602H41.77" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M37.46 13.7C37.46 13.51 37.46 13.33 37.46 13.14C37.4434 12.8704 37.5019 12.6015 37.629 12.3631C37.7562 12.1248 37.9469 11.9264 38.18 11.79L39.59 10.98L35.67 4.21L34.26 5.02C34.0304 5.16264 33.7654 5.23822 33.495 5.23822C33.2247 5.23822 32.9597 5.16264 32.73 5.02C32.42 4.82 32.1 4.63 31.73 4.46C31.4908 4.33518 31.2906 4.14693 31.1512 3.91586C31.0119 3.68479 30.9388 3.41983 30.94 3.15V1.5H23.15V3.12C23.1513 3.38983 23.0782 3.65479 22.9389 3.88586C22.7995 4.11693 22.5993 4.30518 22.36 4.43C22.03 4.6 21.7 4.79 21.36 4.99C21.1319 5.13176 20.8686 5.20689 20.6 5.20689C20.3314 5.20689 20.0682 5.13176 19.84 4.99L18.43 4.18L14.54 10.99L15.95 11.8C16.1838 11.9347 16.3763 12.1307 16.5067 12.3669C16.6372 12.6031 16.7005 12.8704 16.69 13.14C16.69 13.33 16.69 13.51 16.69 13.7C16.69 13.89 16.69 14.07 16.69 14.25C16.7017 14.5198 16.6388 14.7875 16.5082 15.0239C16.3777 15.2603 16.1846 15.4562 15.95 15.59L14.54 16.41L18.46 23.19L19.87 22.37C20.099 22.2304 20.3619 22.1566 20.63 22.1566C20.8982 22.1566 21.1611 22.2304 21.39 22.37C21.7118 22.5737 22.0457 22.7573 22.39 22.92C22.6293 23.0448 22.8295 23.2331 22.9689 23.4641C23.1082 23.6952 23.1813 23.9602 23.18 24.23V25.86H30.98V24.27C30.9788 24.0002 31.0519 23.7352 31.1912 23.5041C31.3306 23.2731 31.5308 23.0848 31.77 22.96C32.1145 22.7977 32.4485 22.614 32.77 22.41C33.0009 22.2706 33.2654 22.197 33.535 22.197C33.8047 22.197 34.0692 22.2706 34.3 22.41L35.71 23.23L39.63 16.45L38.18 15.59C37.944 15.4579 37.7496 15.2624 37.6188 15.0256C37.488 14.7888 37.4261 14.5201 37.44 14.25C37.45 14.07 37.46 13.88 37.46 13.7Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M27.0601 18.2002C29.5453 18.2002 31.5601 16.1855 31.5601 13.7002C31.5601 11.2149 29.5453 9.2002 27.0601 9.2002C24.5748 9.2002 22.5601 11.2149 22.5601 13.7002C22.5601 16.1855 24.5748 18.2002 27.0601 18.2002Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11033">
                                <rect width="54.6" height="49.44" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Laptop 
                                br
                                | Setup
                            p.fnt-md.fnt500.fnt-man.max3 Remote-first toys for remote calls.As a globally distributed company we will ensure you have the necessary tech to do your best work.
                    li.col-lg-4.support-list__item 
                        .support-card 
                            .support-icon 
                                <svg width="45" height="50" viewBox="0 0 45 50" fill="none" xmlns="http://www.w3.org/2000/svg" id="square5">
                                <g clip-path="url(#clip0_1360_11043)">
                                <path d="M1.5 27.2499C1.5 27.2499 22.5 24.8399 22.5 48.2499C22.5 48.2599 1.5 49.2999 1.5 27.2499Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.63992 27.1699C4.91988 23.5207 5.06371 19.7536 6.05992 16.1699C6.05992 16.1699 25.6599 18.7399 21.8099 39.4499" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M43.51 27.2499C43.51 27.2499 22.51 24.8399 22.51 48.2499C22.5 48.2599 43.51 49.2999 43.51 27.2499Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M39.1401 27.3501C39.9154 23.6299 39.7816 19.7776 38.7501 16.1201C38.7501 16.1201 19.0701 18.7101 23.0301 39.5901" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M31.2699 3.21966C30.7247 2.6733 30.0771 2.23983 29.3641 1.94408C28.6511 1.64833 27.8868 1.49609 27.1149 1.49609C26.343 1.49609 25.5788 1.64833 24.8658 1.94408C24.1528 2.23983 23.5052 2.6733 22.9599 3.21966L22.4999 3.66966L22.0499 3.21966C21.5047 2.6733 20.8571 2.23983 20.1441 1.94408C19.4311 1.64833 18.6668 1.49609 17.8949 1.49609C17.123 1.49609 16.3588 1.64833 15.6458 1.94408C14.9328 2.23983 14.2852 2.6733 13.7399 3.21966V3.21966C13.1936 3.7649 12.7601 4.41254 12.4644 5.12551C12.1686 5.83848 12.0164 6.60279 12.0164 7.37466C12.0164 8.14654 12.1686 8.91084 12.4644 9.62382C12.7601 10.3368 13.1936 10.9844 13.7399 11.5297L22.4499 20.2497V20.1997L22.5099 20.2497L31.2199 11.5297C31.7696 10.9877 32.207 10.3427 32.507 9.6315C32.8071 8.92031 32.9639 8.15692 32.9686 7.38504C32.9732 6.61315 32.8255 5.84793 32.5341 5.13318C32.2426 4.41843 31.813 3.76818 31.2699 3.21966V3.21966Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11043">
                                <rect width="45" height="49.77" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Health and 
                                br
                                | Wellbeing 
                            p.fnt-md.fnt500.fnt-man.max3 We offer comprehensive benefits.Including health insurance as well as unlimited sick days.
                        .hover-card 
                            .support-icon 
                                <svg width="45" height="50" viewBox="0 0 45 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1360_11043)">
                                <path d="M1.5 27.2499C1.5 27.2499 22.5 24.8399 22.5 48.2499C22.5 48.2599 1.5 49.2999 1.5 27.2499Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5.63992 27.1699C4.91988 23.5207 5.06371 19.7536 6.05992 16.1699C6.05992 16.1699 25.6599 18.7399 21.8099 39.4499" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M43.51 27.2499C43.51 27.2499 22.51 24.8399 22.51 48.2499C22.5 48.2599 43.51 49.2999 43.51 27.2499Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M39.1401 27.3501C39.9154 23.6299 39.7816 19.7776 38.7501 16.1201C38.7501 16.1201 19.0701 18.7101 23.0301 39.5901" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M31.2699 3.21966C30.7247 2.6733 30.0771 2.23983 29.3641 1.94408C28.6511 1.64833 27.8868 1.49609 27.1149 1.49609C26.343 1.49609 25.5788 1.64833 24.8658 1.94408C24.1528 2.23983 23.5052 2.6733 22.9599 3.21966L22.4999 3.66966L22.0499 3.21966C21.5047 2.6733 20.8571 2.23983 20.1441 1.94408C19.4311 1.64833 18.6668 1.49609 17.8949 1.49609C17.123 1.49609 16.3588 1.64833 15.6458 1.94408C14.9328 2.23983 14.2852 2.6733 13.7399 3.21966V3.21966C13.1936 3.7649 12.7601 4.41254 12.4644 5.12551C12.1686 5.83848 12.0164 6.60279 12.0164 7.37466C12.0164 8.14654 12.1686 8.91084 12.4644 9.62382C12.7601 10.3368 13.1936 10.9844 13.7399 11.5297L22.4499 20.2497V20.1997L22.5099 20.2497L31.2199 11.5297C31.7696 10.9877 32.207 10.3427 32.507 9.6315C32.8071 8.92031 32.9639 8.15692 32.9686 7.38504C32.9732 6.61315 32.8255 5.84793 32.5341 5.13318C32.2426 4.41843 31.813 3.76818 31.2699 3.21966V3.21966Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11043">
                                <rect width="45" height="49.77" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Health and 
                                br
                                | Wellbeing 
                            p.fnt-md.fnt500.fnt-man.max3 We offer comprehensive benefits.Including health insurance as well as unlimited sick days.
                    li.col-lg-4.support-list__item
                        .support-card 
                            .support-icon 
                                <svg width="49" height="54" viewBox="0 0 49 54" fill="none" xmlns="http://www.w3.org/2000/svg" id="square6">
                                <g clip-path="url(#clip0_1360_11053)">
                                <path d="M1.5 24.9004L14.2 16.4004" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M46.51 24.8998L41 18.5898" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.98 28.1998L19.28 6.08984L37.02 12.7398L28.96 34.2298" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M25.3301 7.75L30.6801 1.5L45.0701 13.83L30.1001 31.3" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M46.51 51.7304H1.5V24.9004L24 38.3104L46.51 24.9004V51.7304Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.48 16.91L22.08 12.71L30.18 15.8L28.41 20.09" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.4199 30.8404C23.7616 30.8404 25.6599 28.942 25.6599 26.6004C25.6599 24.2587 23.7616 22.3604 21.4199 22.3604C19.0782 22.3604 17.1799 24.2587 17.1799 26.6004C17.1799 28.942 19.0782 30.8404 21.4199 30.8404Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.5 51.7298L18.11 34.7998" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M46.51 51.7301L31.53 33.8301" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11053">
                                <rect width="48.01" height="53.23" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Competitive 
                                br
                                | Full-time Salary
                            p.fnt-md.fnt500.fnt-man.max3 It's pretty simple. We want the best, so we offer the best.Docquity offers competitive compensation packages - both salary and equity.
                        .hover-card 
                            .support-icon 
                                <svg width="49" height="54" viewBox="0 0 49 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1360_11053)">
                                <path d="M1.5 24.9004L14.2 16.4004" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M46.51 24.8998L41 18.5898" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.98 28.1998L19.28 6.08984L37.02 12.7398L28.96 34.2298" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M25.3301 7.75L30.6801 1.5L45.0701 13.83L30.1001 31.3" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M46.51 51.7304H1.5V24.9004L24 38.3104L46.51 24.9004V51.7304Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.48 16.91L22.08 12.71L30.18 15.8L28.41 20.09" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M21.4199 30.8404C23.7616 30.8404 25.6599 28.942 25.6599 26.6004C25.6599 24.2587 23.7616 22.3604 21.4199 22.3604C19.0782 22.3604 17.1799 24.2587 17.1799 26.6004C17.1799 28.942 19.0782 30.8404 21.4199 30.8404Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.5 51.7298L18.11 34.7998" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M46.51 51.7301L31.53 33.8301" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11053">
                                <rect width="48.01" height="53.23" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Competitive 
                                br
                                | Full-time Salary
                            p.fnt-md.fnt500.fnt-man.max3 It's pretty simple. We want the best, so we offer the best.Docquity offers competitive compensation packages - both salary and equity.
                    li.col-lg-4.support-list__item 
                        .support-card 
                            .support-icon 
                                <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg" id="square7">
                                <g clip-path="url(#clip0_1360_11067)">
                                <path d="M17.3301 40.3799H49.0001" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.5 36.1304C1.5 36.1304 18.02 33.5004 20.77 51.4304" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.6699 46.2998H43.6599" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.7701 13.9404C20.0801 30.6404 9.07007 36.1204 9.07007 36.1204" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.7699 13.94C11.1399 10.76 7.66992 20.57 7.66992 20.57" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.7701 13.9402C16.2101 4.87021 6.8501 9.37021 6.8501 9.37021" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.1799 13.5201C30.3199 12.9101 31.1299 23.2701 31.1299 23.2701" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M34.8099 12.6695C34.8099 12.6695 26.9199 5.91953 20.1799 13.5195C20.1799 13.5195 20.3599 3.44953 25.3299 1.51953" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M43.6601 31.6404C47.3051 31.6404 50.2601 28.6855 50.2601 25.0404C50.2601 21.3954 47.3051 18.4404 43.6601 18.4404C40.015 18.4404 37.0601 21.3954 37.0601 25.0404C37.0601 28.6855 40.015 31.6404 43.6601 31.6404Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11067">
                                <rect width="51.76" height="52.93" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Paid 
                                br
                                | Time off
                            p.fnt-md.fnt500.fnt-man.max3 Take the time you need to relax, so that you can bring your best self.We are a global company so holidays vary, but ew encourage you to take any holiday that is important to you.
                        .hover-card 
                            .support-icon 
                                <svg width="52" height="53" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1360_11067)">
                                <path d="M17.3301 40.3799H49.0001" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.5 36.1304C1.5 36.1304 18.02 33.5004 20.77 51.4304" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M22.6699 46.2998H43.6599" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.7701 13.9404C20.0801 30.6404 9.07007 36.1204 9.07007 36.1204" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.7699 13.94C11.1399 10.76 7.66992 20.57 7.66992 20.57" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.7701 13.9402C16.2101 4.87021 6.8501 9.37021 6.8501 9.37021" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M20.1799 13.5201C30.3199 12.9101 31.1299 23.2701 31.1299 23.2701" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M34.8099 12.6695C34.8099 12.6695 26.9199 5.91953 20.1799 13.5195C20.1799 13.5195 20.3599 3.44953 25.3299 1.51953" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M43.6601 31.6404C47.3051 31.6404 50.2601 28.6855 50.2601 25.0404C50.2601 21.3954 47.3051 18.4404 43.6601 18.4404C40.015 18.4404 37.0601 21.3954 37.0601 25.0404C37.0601 28.6855 40.015 31.6404 43.6601 31.6404Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11067">
                                <rect width="51.76" height="52.93" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Paid 
                                br
                                | Time off
                            p.fnt-md.fnt500.fnt-man.max3 Take the time you need to relax, so that you can bring your best self.We are a global company so holidays vary, but ew encourage you to take any holiday that is important to you.
                    li.col-lg-4.support-list__item 
                        .support-card 
                            .support-icon 
                                <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg" id="square8">
                                <g clip-path="url(#clip0_1360_11081)">
                                <path d="M19.41 15.72C23.3368 15.72 26.52 12.5367 26.52 8.61C26.52 4.68326 23.3368 1.5 19.41 1.5C15.4833 1.5 12.3 4.68326 12.3 8.61C12.3 12.5367 15.4833 15.72 19.41 15.72Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M40.0001 35.8302C42.8554 35.8302 45.1701 33.5155 45.1701 30.6602C45.1701 27.8049 42.8554 25.4902 40.0001 25.4902C37.1448 25.4902 34.8301 27.8049 34.8301 30.6602C34.8301 33.5155 37.1448 35.8302 40.0001 35.8302Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M30.49 51.24C29.9476 51.2405 29.4132 51.1089 28.9331 50.8566C28.453 50.6042 28.0415 50.2387 27.7343 49.7917C27.4271 49.3447 27.2334 48.8296 27.1699 48.2909C27.1064 47.7522 27.1751 47.2062 27.37 46.7C28.2822 44.3674 29.8767 42.3641 31.9453 40.9519C34.0139 39.5396 36.4603 38.7842 38.965 38.7842C41.4697 38.7842 43.9161 39.5396 45.9847 40.9519C48.0533 42.3641 49.6478 44.3674 50.56 46.7C50.7549 47.2062 50.8236 47.7522 50.7601 48.2909C50.6966 48.8296 50.5029 49.3447 50.1957 49.7917C49.8885 50.2387 49.477 50.6042 48.9969 50.8566C48.5168 51.1089 47.9824 51.2405 47.44 51.24H30.49Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M28.95 37.6704H5.3C4.71756 37.6702 4.14298 37.5361 3.62062 37.2784C3.09825 37.0208 2.6421 36.6465 2.2874 36.1846C1.9327 35.7226 1.68892 35.1852 1.57493 34.6141C1.46095 34.0429 1.47981 33.4531 1.63002 32.8904C2.46782 29.7766 4.10877 26.9374 6.38866 24.6571C8.66854 22.3768 11.5074 20.7353 14.621 19.8969C17.7347 19.0584 21.014 19.0526 24.1306 19.8798C27.2472 20.707 30.092 22.3383 32.38 24.6104" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11081">
                                <rect width="52.3" height="52.74" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Parental 
                                br
                                | leave
                            p.fnt-md.fnt500.fnt-man.max3 You're our team, so you're family. And we want you to be able to care for yours.Docquity understands the importance of parental leave and offers biological, adoptive and foster parents paid time off to spend quality time with your family.
                        .hover-card 
                            .support-icon 
                                <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1360_11081)">
                                <path d="M19.41 15.72C23.3368 15.72 26.52 12.5367 26.52 8.61C26.52 4.68326 23.3368 1.5 19.41 1.5C15.4833 1.5 12.3 4.68326 12.3 8.61C12.3 12.5367 15.4833 15.72 19.41 15.72Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M40.0001 35.8302C42.8554 35.8302 45.1701 33.5155 45.1701 30.6602C45.1701 27.8049 42.8554 25.4902 40.0001 25.4902C37.1448 25.4902 34.8301 27.8049 34.8301 30.6602C34.8301 33.5155 37.1448 35.8302 40.0001 35.8302Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M30.49 51.24C29.9476 51.2405 29.4132 51.1089 28.9331 50.8566C28.453 50.6042 28.0415 50.2387 27.7343 49.7917C27.4271 49.3447 27.2334 48.8296 27.1699 48.2909C27.1064 47.7522 27.1751 47.2062 27.37 46.7C28.2822 44.3674 29.8767 42.3641 31.9453 40.9519C34.0139 39.5396 36.4603 38.7842 38.965 38.7842C41.4697 38.7842 43.9161 39.5396 45.9847 40.9519C48.0533 42.3641 49.6478 44.3674 50.56 46.7C50.7549 47.2062 50.8236 47.7522 50.7601 48.2909C50.6966 48.8296 50.5029 49.3447 50.1957 49.7917C49.8885 50.2387 49.477 50.6042 48.9969 50.8566C48.5168 51.1089 47.9824 51.2405 47.44 51.24H30.49Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M28.95 37.6704H5.3C4.71756 37.6702 4.14298 37.5361 3.62062 37.2784C3.09825 37.0208 2.6421 36.6465 2.2874 36.1846C1.9327 35.7226 1.68892 35.1852 1.57493 34.6141C1.46095 34.0429 1.47981 33.4531 1.63002 32.8904C2.46782 29.7766 4.10877 26.9374 6.38866 24.6571C8.66854 22.3768 11.5074 20.7353 14.621 19.8969C17.7347 19.0584 21.014 19.0526 24.1306 19.8798C27.2472 20.707 30.092 22.3383 32.38 24.6104" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1360_11081">
                                <rect width="52.3" height="52.74" fill="white"/>
                                </clipPath>
                                </defs>
                                </svg>
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Parental 
                                br
                                | leave
                            p.fnt-md.fnt500.fnt-man.max3 You're our team, so you're family. And we want you to be able to care for yours.Docquity understands the importance of parental leave and offers biological, adoptive and foster parents paid time off to spend quality time with your family.
            
            .col-lg-12.d-md-none.d-block 
                .swiper.supportSwiper
                    .swiper-wrapper
                        .swiper-slide 
                            .support-card
                                .support-icon 
                                    img.w100(src="./img/career/work-anywhere.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Work anywhere 
                                    br
                                    | in the world
                                p.fnt-md.fnt500.fnt-man You do you. Just send us a postcard..We all know that the ability to travel and work from around the world is exciting during these times and we want you to enjoy your time. We are not here to count the hours you are working, we are here for our common mission.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Come-into-ofiice.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Come into the office.
                                    br
                                    | Or don't! It's up to you...
                                p.fnt-md.fnt500.fnt-man We want you to work from wherever is most comfortable for you and are here to make this a reality, whether that is in an office or at home.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Uncapped-Growth.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Uncapped 
                                    br
                                    | Growth
                                p.fnt-md.fnt500.fnt-man We're here to empower you.There is unlimited opportunity to grow your mandate...
                        .swiper-slide
                            .support-card  
                                .support-icon 
                                    img.w100(src="./img/career/Laptop-setup.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Laptop 
                                    br
                                    | Setup
                                p.fnt-md.fnt500.fnt-man Remote-first toys for remote calls.As a globally distributed company we will ensure you have the necessary tech to do your best work.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Health-and-wellbeing.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Health and 
                                    br
                                    | Wellbeing 
                                p.fnt-md.fnt500.fnt-man We offer comprehensive benefits.Including health insurance as well as unlimited sick days.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Competitive-full.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Competitive 
                                    br
                                    | Full-time Salary
                                p.fnt-md.fnt500.fnt-man It's pretty simple. We want the best, so we offer the best.Docquity offers competitive compensation packages - both salary and equity.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Paid-time-off.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Paid 
                                    br
                                    | Time off
                                p.fnt-md.fnt500.fnt-man Take the time you need to relax, so that you can bring your best self.We are a global company so holidays vary, but ew encourage you to take any holiday that is important to you.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    <svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg" id="square9">
                                    <g clip-path="url(#clip0_1360_11081)">
                                    <path class="sw" d="M19.41 15.72C23.3368 15.72 26.52 12.5367 26.52 8.61C26.52 4.68326 23.3368 1.5 19.41 1.5C15.4833 1.5 12.3 4.68326 12.3 8.61C12.3 12.5367 15.4833 15.72 19.41 15.72Z" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path class="sw" d="M40.0001 35.8302C42.8554 35.8302 45.1701 33.5155 45.1701 30.6602C45.1701 27.8049 42.8554 25.4902 40.0001 25.4902C37.1448 25.4902 34.8301 27.8049 34.8301 30.6602C34.8301 33.5155 37.1448 35.8302 40.0001 35.8302Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path class="sw" d="M30.49 51.24C29.9476 51.2405 29.4132 51.1089 28.9331 50.8566C28.453 50.6042 28.0415 50.2387 27.7343 49.7917C27.4271 49.3447 27.2334 48.8296 27.1699 48.2909C27.1064 47.7522 27.1751 47.2062 27.37 46.7C28.2822 44.3674 29.8767 42.3641 31.9453 40.9519C34.0139 39.5396 36.4603 38.7842 38.965 38.7842C41.4697 38.7842 43.9161 39.5396 45.9847 40.9519C48.0533 42.3641 49.6478 44.3674 50.56 46.7C50.7549 47.2062 50.8236 47.7522 50.7601 48.2909C50.6966 48.8296 50.5029 49.3447 50.1957 49.7917C49.8885 50.2387 49.477 50.6042 48.9969 50.8566C48.5168 51.1089 47.9824 51.2405 47.44 51.24H30.49Z" stroke="#E2504B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path class="sw" d="M28.95 37.6704H5.3C4.71756 37.6702 4.14298 37.5361 3.62062 37.2784C3.09825 37.0208 2.6421 36.6465 2.2874 36.1846C1.9327 35.7226 1.68892 35.1852 1.57493 34.6141C1.46095 34.0429 1.47981 33.4531 1.63002 32.8904C2.46782 29.7766 4.10877 26.9374 6.38866 24.6571C8.66854 22.3768 11.5074 20.7353 14.621 19.8969C17.7347 19.0584 21.014 19.0526 24.1306 19.8798C27.2472 20.707 30.092 22.3383 32.38 24.6104" stroke="#1B4A52" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_1360_11081">
                                    <rect width="52.3" height="52.74" fill="white"/>
                                    </clipPath>
                                    </defs>
                                    </svg>
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Parental 
                                    br
                                    | leave
                                p.fnt-md.fnt500.fnt-man.max3 You're our team, so you're family. And we want you to be able to care for yours.Docquity understands the importance of parental leave and offers biological, adoptive and foster parents paid time off to spend quality time with your family.
                    //- .swiper-button-next
                    //- .swiper-button-prev
                    .swiper-pagination