section.support-section 
    .container
        .row 
            .col-lg-6.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 Support to do your best work
            .col-lg-8.ml-auto.mr-auto.text-center
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-44 We offer competitive and comprehensive benefits, although lots of companies can offer you those. We also have a rarer opportunity: The impact you can make from being at a nimble startup, working on a platform that operates at a significant (and quickly growing) scale.
            .col-lg-12.d-none.d-md-block 
                ul.support-list.row 
                    li.col-lg-4.support-list__item
                        .support-card
                            .support-icon 
                                img.w100(src="./img/career/work-anywhere.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Work anywhere 
                                br
                                | in the world
                            p.fnt-md.fnt500.fnt-man.max3 You do you. Just send us a postcard..We all know that the ability to travel and work from around the world is exciting during these times and we want you to enjoy your time. We are not here to count the hours you are working, we are here for our common mission.
                        .hover-card 
                            .support-icon 
                                img.w100(src="./img/career/work-anywhere.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Work anywhere 
                                br
                                | in the world
                            p.fnt-md.fnt500.fnt-man.max3 You do you. Just send us a postcard..We all know that the ability to travel and work from around the world is exciting during these times and we want you to enjoy your time. We are not here to count the hours you are working, we are here for our common mission.
                    li.col-lg-4.support-list__item 
                        .support-card 
                            .support-icon 
                                img.w100(src="./img/career/Come-into-ofiice.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Come into the office.
                                br
                                | Or don't! It's up to you...
                            p.fnt-md.fnt500.fnt-man.max3 We want you to work from wherever is most comfortable for you and are here to make this a reality, whether that is in an office or at home.
                        .hover-card 
                            .support-icon 
                                img.w100(src="./img/career/Come-into-ofiice.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Come into the office.
                                br
                                | Or don't! It's up to you...
                            p.fnt-md.fnt500.fnt-man.max3 We want you to work from wherever is most comfortable for you and are here to make this a reality, whether that is in an office or at home.
                    li.col-lg-4.support-list__item
                        .support-card 
                            .support-icon 
                                img.w100(src="./img/career/Uncapped-Growth.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Uncapped 
                                br
                                | Growth
                            p.fnt-md.fnt500.fnt-man.max3 We're here to empower you.There is unlimited opportunity to grow your mandate...
                        .hover-card 
                            .support-icon 
                                img.w100(src="./img/career/Uncapped-Growth.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Uncapped 
                                br
                                | Growth
                            p.fnt-md.fnt500.fnt-man.max3 We're here to empower you.There is unlimited opportunity to grow your mandate...
                    li.col-lg-4.support-list__item
                        .support-card 
                            .support-icon 
                                img.w100(src="./img/career/Laptop-setup.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Laptop 
                                br
                                | Setup
                            p.fnt-md.fnt500.fnt-man.max3 Remote-first toys for remote calls.As a globally distributed company we will ensure you have the necessary tech to do your best work.
                        .hover-card 
                            .support-icon 
                                img.w100(src="./img/career/Laptop-setup.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Laptop 
                                br
                                | Setup
                            p.fnt-md.fnt500.fnt-man.max3 Remote-first toys for remote calls.As a globally distributed company we will ensure you have the necessary tech to do your best work.
                    li.col-lg-4.support-list__item 
                        .support-card 
                            .support-icon 
                                img.w100(src="./img/career/Health-and-wellbeing.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Health and 
                                br
                                | Wellbeing 
                            p.fnt-md.fnt500.fnt-man.max3 We offer comprehensive benefits.Including health insurance as well as unlimited sick days.
                        .hover-card 
                            .support-icon 
                                img.w100(src="./img/career/Health-and-wellbeing.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Health and 
                                br
                                | Wellbeing 
                            p.fnt-md.fnt500.fnt-man.max3 We offer comprehensive benefits.Including health insurance as well as unlimited sick days.
                    li.col-lg-4.support-list__item
                        .support-card 
                            .support-icon 
                                img.w100(src="./img/career/Competitive-full.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Competitive 
                                br
                                | Full-time Salary
                            p.fnt-md.fnt500.fnt-man.max3 It's pretty simple. We want the best, so we offer the best.Docquity offers competitive compensation packages - both salary and equity.
                        .hover-card 
                            .support-icon 
                                img.w100(src="./img/career/Competitive-full.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Competitive 
                                br
                                | Full-time Salary
                            p.fnt-md.fnt500.fnt-man.max3 It's pretty simple. We want the best, so we offer the best.Docquity offers competitive compensation packages - both salary and equity.
                    li.col-lg-4.support-list__item 
                        .support-card 
                            .support-icon 
                                img.w100(src="./img/career/Paid-time-off.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Paid 
                                br
                                | Time off
                            p.fnt-md.fnt500.fnt-man.max3 Take the time you need to relax, so that you can bring your best self.We are a global company so holidays vary, but ew encourage you to take any holiday that is important to you.
                        .hover-card 
                            .support-icon 
                                img.w100(src="./img/career/Paid-time-off.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Paid 
                                br
                                | Time off
                            p.fnt-md.fnt500.fnt-man.max3 Take the time you need to relax, so that you can bring your best self.We are a global company so holidays vary, but ew encourage you to take any holiday that is important to you.
                    li.col-lg-4.support-list__item 
                        .support-card 
                            .support-icon 
                                img.w100(src="./img/career/Parental-leave.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Parental 
                                br
                                | leave
                            p.fnt-md.fnt500.fnt-man.max3 You're our team, so you're family. And we want you to be able to care for yours.Docquity understands the importance of parental leave and offers biological, adoptive and foster parents paid time off to spend quality time with your family.
                        .hover-card 
                            .support-icon 
                                img.w100(src="./img/career/Parental-leave.gif", alt="")
                            p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Parental 
                                br
                                | leave
                            p.fnt-md.fnt500.fnt-man.max3 You're our team, so you're family. And we want you to be able to care for yours.Docquity understands the importance of parental leave and offers biological, adoptive and foster parents paid time off to spend quality time with your family.
            .col-lg-12.d-md-none.d-block 
                .swiper.supportSwiper
                    .swiper-wrapper
                        .swiper-slide 
                            .support-card
                                .support-icon 
                                    img.w100(src="./img/career/work-anywhere.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Work anywhere 
                                    br
                                    | in the world
                                p.fnt-md.fnt500.fnt-man You do you. Just send us a postcard..We all know that the ability to travel and work from around the world is exciting during these times and we want you to enjoy your time. We are not here to count the hours you are working, we are here for our common mission.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Come-into-ofiice.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Come into the office.
                                    br
                                    | Or don't! It's up to you...
                                p.fnt-md.fnt500.fnt-man We want you to work from wherever is most comfortable for you and are here to make this a reality, whether that is in an office or at home.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Uncapped-Growth.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Uncapped 
                                    br
                                    | Growth
                                p.fnt-md.fnt500.fnt-man We're here to empower you.There is unlimited opportunity to grow your mandate...
                        .swiper-slide
                            .support-card  
                                .support-icon 
                                    img.w100(src="./img/career/Laptop-setup.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Laptop 
                                    br
                                    | Setup
                                p.fnt-md.fnt500.fnt-man Remote-first toys for remote calls.As a globally distributed company we will ensure you have the necessary tech to do your best work.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Health-and-wellbeing.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Health and 
                                    br
                                    | Wellbeing 
                                p.fnt-md.fnt500.fnt-man We offer comprehensive benefits.Including health insurance as well as unlimited sick days.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Competitive-full.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Competitive 
                                    br
                                    | Full-time Salary
                                p.fnt-md.fnt500.fnt-man It's pretty simple. We want the best, so we offer the best.Docquity offers competitive compensation packages - both salary and equity.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Paid-time-off.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Paid 
                                    br
                                    | Time off
                                p.fnt-md.fnt500.fnt-man Take the time you need to relax, so that you can bring your best self.We are a global company so holidays vary, but ew encourage you to take any holiday that is important to you.
                        .swiper-slide 
                            .support-card 
                                .support-icon 
                                    img.w100(src="./img/career/Parental-leave.gif", alt="")
                                p.fnt-20.fnt-lex.fnt500.max2.text-blackish.mb-16.op1 Parental 
                                    br
                                    | leave
                                p.fnt-md.fnt500.fnt-man.max3 You're our team, so you're family. And we want you to be able to care for yours.Docquity understands the importance of parental leave and offers biological, adoptive and foster parents paid time off to spend quality time with your family.
                    //- .swiper-button-next
                    //- .swiper-button-prev
                    .swiper-pagination