section.talk-section 
    .container 
        .row 
            .col-lg-6.mr-auto.ml-auto.text-center 
                h2.h2.fnt-lex.mb-16.text-blackish We want to talk to you
            .col-lg-9.mr-auto.ml-auto.text-center 
                p.fnt-md.text-blackish.fnt500.fnt-man We're growing like crazy and need your help. In 2021, we've seen exponential growth. At the moment, our app is used by +300,000 verified doctors, more than 3.5M CME credits have been delivered, our team has reached 280+ employees and our revenue is growing at ~130% YoY. Most of that growth, took place last year.
                form.search-container
                    input#search-bar(type='text' placeholder='Search here...')
                    a(href='#')
                        img.search-icon(src='./img/icons/dsearch.svg')
                    img.dfilter-icon(src='./img/icons/dfilter.svg')
        .row.justify-content-center
            .col-md-6
                nav
                    #nav-tab.nav.nav-tabs.nav-fill(role='tablist')
                        #nav-department1-tab.nav-item.nav-link.active.p.fnt-20.fnt-man(data-toggle='tab' href='#nav-department1' role='tab' aria-controls='nav-home' aria-selected='true') Department 1
                        #nav-department2-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-department2' role='tab' aria-controls='nav-department2' aria-selected='false') Department 2
                        #nav-department3-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-department3' role='tab' aria-controls='nav-department3' aria-selected='false') Department 3
            .col-md-9.mr-auto.ml-auto
                #nav-tabContent.tab-content.py-3.px-3.px-sm-0
                    #nav-department1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-department1-tab')
                        ul.department-list 
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                    #nav-department2.tab-pane.fade(role='tabpanel' aria-labelledby='nav-department2-tab')
                        ul.department-list 
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                    #nav-department3.tab-pane.fade(role='tabpanel' aria-labelledby='nav-department3-tab')
                        ul.department-list 
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")
                            li.department-list__item
                                .department-card
                                    .department-logo 
                                        img.ml-2(src="./img/icons/logo.png", alt="")
                                    .position
                                        p.fnt-20.fnt-man.fnt700.mb-0 Account Executive 
                                        span 3+ Years of Experience 
                                    span.location.location1 Singapore
                                    span.location.location2 India
                                    span.location.location3 Indonesia
                                    a.gray-btn.fnt-md.fnt800.fnt-man.faq-btn(href="") Apply
                                        img.ml-2(src="./img/icons/right-arrow.svg", alt="")