section.section01
    .container 
        .row
            .col-md-6
                .section01-home-banner__cntsection01
                    h1.section01-home-banner__heading.fnt-500.fnt-lex
                        | Most trusted medical community for Pharma Companies
                    p.fnt-500.fnt-man See how the leading pharmaceutical companies are cooperating with Docquity to engage the region's largest network of HCPs.
                    a.dq-btn.dq-btn--default.mt-3(href="javascript;void(0);")
                        | Contact sales

                    .section01-banner
                        .section01-img1 
                            img(src="./img/events/image1.jpeg", alt="")
                        .section01-img2
                            img(src="./img/events/image2.jpeg", alt="")
                        .section01-img3
                            img(src="./img/events/image3.jpeg", alt="")
                        .section01-media__cnt.ml-3
                            span.fnt-man.span_text 96,000+ doctors have attended our academy.

            .col-md-6
                .dq-figwrap
                    img(src="./img/clientproduct/clientproduct.svg" alt="Banner illustratons")
