section.clienttabs-section
    .container
        .row
            .col-lg-5.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.fnt500.mb-24 How it Works
                p.txt-md.text-blackish.fnt500.fnt-man.opacity-text.mb-45
                    | Join our subscribers list for our newsletter to get latest news and  updates deliver
        .row.client-tabs-row.clientstories-row
            .col-lg-8
                .client-tabpane
                    .row.recent-row
                        .col-lg-12
                            ul.client-list
                                li.client-list__item
                                    a(href='client-details')
                                    .client-card
                                        a(href='client-details')
                                            .client-card-img
                                                img.w100(src='./img/clientproduct/img1.svg' alt='')
                                        .client-card-text
                                            a(href='client-details')
                                                p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Masterclass
                                                p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 Masterclasses are designed to bring together all pillars of the Healthcare community (HCPs, KOLs, pharma etc.) driven by the objective of learning and growth.

                                            
                                li.client-list__item
                                    a(href='client-details')
                                    .client-card
                                        a(href='client-details')
                                            .client-card-img
                                                img.w100(src='./img/clientproduct/img2.svg' alt='')
                                        .client-card-text
                                            a(href='client-details')
                                                p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading DocRx
                                                p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 An avenue for Pharmas to expose HCPs to brand pages.
                                           
                                li.client-list__item
                                    a(href='client-details')
                                    .client-card
                                        a(href='client-details')
                                            .client-card-img
                                                img.w100(src='./img/clientproduct/img3.svg' alt='')
                                        .client-card-text
                                            a(href='client-details')
                                                p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading MR Connect
                                                p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 A virtual platform that enables client Medical Reps to connect and interact with a wider reach of HCPs and promote their products.

                                            
                                li.client-list__item
                                    a(href='client-details')
                                    .client-card
                                        a(href='client-details')
                                            .client-card-img
                                                img.w100(src='./img/clientproduct/img4.svg' alt='')
                                        .client-card-text
                                            a(href='client-details')
                                                p.fnt-20.fnt-man.fnt700.op1.lh32.mb-12.blog-heading Patient Affordability Program (PAP)
                                                p.fnt-16.fnt-man.fnt300.op-7.lh28.mb-12 A platforms bringing together the pharma, HCP, and patient communities to offer affordable Patient Access Programs to patients in need

                                            
