section.product-section 
    .container.product-section-main
        .row 
            .col-lg-6.mr-auto.ml-auto.text-center 
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 Questions about Docquity Clinic?
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-18 Visit our Frequently Asked Questions page to find out the answers to all of your questions.
                a.gray-btn.fnt-md.fnt600.fnt-man.visit-btn(href="") Get in Touch
