section.dq-section-padding180
    .container
        .row.align-items-md-center
            .col-md-7
                .dq-webinar-fig
                    img.img-fluid(src="./img/home-new/thumbnail.png" alt="Thumbnail figure")
                    .dq-bg-waves
                        img(src="./img/home-new/waves.svg" alt="Waves")


            .col-md-5
                .dq-webinar-article
                    h3.dq-webinar-article__title.mb-3.fnt-manro-semi Live & Interactive Webinars
                    span.h2.fnt-Lexend-medi Access industry specific content you won’t find anywhere else.
                    p.my-3 Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars let you watch them anytime at your convenience
                    a.dq-btn.dq-btn--default.mt-2(href="javascript;void(0);")
                        | Get started
                        img.ml-4(src="./img/icons/right-arrow.svg", alt="Arrow icon")
                figure
                    blockquote.fnt-16.mb-0
                        | “ The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                    figcaption
                        .dq-media.mt-3.mt-md-4.pt-2
                            .dq-media__fig
                                img(src="./img/home-new/admin.png" alt="Admin Image")
                            .dq-media__cnt.ml-3
                                span.fnt-xl.fnt-manro-bold Denis Shepovalov
                                p.fnt-14 Co-Founder & CEO
