section.dq-section-padding180
    .container
        .row.align-items-md-center
            .col-md-7
                .dq-webinar-fig
                    img.img-fluid(src="./img/home-new/thumbnail.png" alt="Thumbnail figure")

            .col-md-5
                .dq-webinar-article
                    h3.dq-webinar-article__title.fnt-16 Live & Interactive Webinars
                    span.h2.my-3.fnt500 Access industry specific content you won’t find anywhere else.
                    p Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars let you watch them anytime at your convenience
                    a.dq-btn.dq-btn--default.mt-3(href="javascript;void(0);")
                        | Get started
                        img.ml-4(src="./img/icons/right-arrow.svg", alt="Arrow icon")
                figure
                    blockquote
                        | “ The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                    figcaption
                        .dq-media.mt-4.mt-md-5
                            .dq-media__fig
                                img(src="./img/home-new/admin.png" alt="Admin Image")
                            .dq-media__cnt.ml-3
                                span Denis Shepovalov
                                p Co-Founder & CEO
