section.dq-section-padding180.pb-md-5.liveInteractive
    .container
        .row.align-items-md-center
            .col-md-7
                .dq-webinar-fig
                    img.img-fluid.ellipse(src="./img/home-new/Ellipse-live.png" alt="Thumbnail background")
                    img.img-fluid.fig-img(src="./img/home-new/thumbnail-fig.png" alt="Thumbnail figure")

            .col-md-5
                .dq-webinar-article
                    h3.dq-webinar-article__title.mb-3.fnt-manro-semi Live & Interactive Webinars
                    span.h2.fnt-Lexend-medi Access industry specific content you won’t find anywhere else.
                    p.my-3 Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars let you watch them anytime at your convenience
                    a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
                figure
                    blockquote.fnt-16.mb-0
                        | “ The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                    figcaption
                        .dq-media.mt-3.mt-md-4.pt-2
                            .dq-media__fig
                                img(src="./img/home-new/admin.png" alt="Admin Image")
                            .dq-media__cnt.ml-3
                                span.fnt-xl.fnt-manro-bold Denis Shepovalov
                                p.fnt-14 Co-Founder & CEO
