section.test-section
    .container-fluid
        .row.thoughts-row 
            .col-lg-5.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 Everything you need to save human lives, for years to come
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-24 Our webinars cover a variety of topics across oncology, cardiology, clinical nutrition, dermatology, neurology and a lot more.
            .col-lg-12.col-8.ml-auto.mr-auto.p-0 
                // Slider main container
                .swiper-container.testswiper
                    // Additional required wrapper
                    .swiper-wrapper
                        // Slides
                        .swiper-slide
                            img.w100(src="./img/article/poster8.png", alt="")                            
                        .swiper-slide
                            img.w100(src="./img/article/poster9.png", alt="")
                        .swiper-slide
                            img.w100(src="./img/article/poster10.png", alt="")
                        .swiper-slide
                            img.w100(src="./img/article/poster11.png", alt="")
                        .swiper-slide
                            img.w100(src="./img/article/poster12.png", alt="")
                        .swiper-slide
                            img.w100(src="./img/article/poster11.png", alt="")
                        .swiper-slide
                            img.w100(src="./img/article/poster12.png", alt="")
                            
                    // If we need navigation buttons
                    .swiper-pagination                   
