section.dq-section-padding100
    .container
        .row.pb-md-5.mb-md-5
            .col-md-10.offset-md-1.col-lg-8.offset-lg-2.text-center
                .dq-sec-cntinfo
                    span.dq-sec-subtxt Everything you need to save human lives, for years to come
                p.my-4.px-4.px-lg-5
                    | Our webinars cover a variety of topics across oncology, cardiology, 
                    br
                    | clinical nutrition, dermatology, neurology and a lot more.
    
    .container-fluid.px-0.position-relative.pb-md-5
        .dq-mockup-bg
            img(src="./img/home-new/testimonial/testimonail-mockup.png")
        .swiper.mySwiper.dq-humansSlider
            .swiper-wrapper.text-center
                .col-md-3.swiper-slide
                    .dq-humansSlider__figwrap
                        img.img-fluid(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
                        
                        .dq-humansSlider__media
                            .dq-media.text-left
                                .dq-media__fig
                                    img.img54x54(src="./img/home-new/admin.png" alt="Admin Image")
                                .dq-media__cnt.ml-3
                                    span.fnt-16.fnt-manro-bold Erica Chidi Cohen
                                    p.fnt-12.mb-0 Organisation Name

                .col-md-3.swiper-slide
                    .dq-humansSlider__figwrap
                        img.img-fluid(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
                .col-md-3.swiper-slide
                    .dq-humansSlider__figwrap
                        img.img-fluid(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
                .col-md-3.swiper-slide
                    .dq-humansSlider__figwrap
                        img.img-fluid(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
                .col-md-3.swiper-slide
                    .dq-humansSlider__figwrap
                        img.img-fluid(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")

        // Pagination            
        .swiper-pagination.swiper-pagination-flatindic
