//- section.dq-section-padding100.everything
//-     .container
//-         //- .row.pb-md-5.mb-md-5
//-         .row.pb-md-5
//-             .col-md-10.offset-md-1.col-lg-8.offset-lg-2.text-center
//-                 .dq-sec-cntinfo
//-                     span.dq-sec-subtxt Everything you need to save human lives, for years to come
//-                 p.my-4.px-4.px-lg-5
//-                     | Our webinars cover a variety of topics across oncology, cardiology, 
//-                     br
//-                     | clinical nutrition, dermatology, neurology and a lot more.
    
//-     .container-fluid.px-0.position-relative.pb-md-5
//-         .dq-mockup-bg
//-             img(src="./img/home-new/testimonial/testimonail-mockup.png")
//-         .swiper.mySwiper.dq-humansSlider
//-             .swiper-wrapper.text-center
//-                 .col-md-3.swiper-slide
//-                     .dq-humansSlider__figwrap
//-                         img.img-fluid-save(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
                        
//-                         .dq-humansSlider__media
//-                             .dq-humansSlider__media__info
//-                                 .dq-media.text-left
//-                                     .dq-media__fig
//-                                         img.img54x54(src="./img/home-new/admin.png" alt="Admin Image")
//-                                     .dq-media__cnt.ml-3
//-                                         span.fnt-16.fnt-manro-bold Erica Chidi Cohen
//-                                         p.fnt-12.mb-0 Organisation Name

//-                 .col-md-3.swiper-slide
//-                     .dq-humansSlider__figwrap
//-                         img.img-fluid-save(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
//-                         .dq-humansSlider__media
//-                             .dq-humansSlider__media__info
//-                                 .dq-media.text-left
//-                                     .dq-media__fig
//-                                         img.img54x54(src="./img/home-new/admin.png" alt="Admin Image")
//-                                     .dq-media__cnt.ml-3
//-                                         span.fnt-16.fnt-manro-bold Erica Chidi Cohen
//-                                         p.fnt-12.mb-0 Organisation Name
//-                 .col-md-3.swiper-slide
//-                     .dq-humansSlider__figwrap
//-                         img.img-fluid-save(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
//-                         .dq-humansSlider__media
//-                             .dq-humansSlider__media__info
//-                                 .dq-media.text-left
//-                                     .dq-media__fig
//-                                         img.img54x54(src="./img/home-new/admin.png" alt="Admin Image")
//-                                     .dq-media__cnt.ml-3
//-                                         span.fnt-16.fnt-manro-bold Erica Chidi Cohen
//-                                         p.fnt-12.mb-0 Organisation Name
//-                 .col-md-3.swiper-slide
//-                     .dq-humansSlider__figwrap
//-                         img.img-fluid-save(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
//-                         .dq-humansSlider__media
//-                             .dq-humansSlider__media__info
//-                                 .dq-media.text-left
//-                                     .dq-media__fig
//-                                         img.img54x54(src="./img/home-new/admin.png" alt="Admin Image")
//-                                     .dq-media__cnt.ml-3
//-                                         span.fnt-16.fnt-manro-bold Erica Chidi Cohen
//-                                         p.fnt-12.mb-0 Organisation Name
//-                 .col-md-3.swiper-slide
//-                     .dq-humansSlider__figwrap
//-                         img.img-fluid-save(src="./img/home-new/testimonial/frame-screen.png", alt="Mobile screen image")
//-                         .dq-humansSlider__media
//-                             .dq-humansSlider__media__info
//-                                 .dq-media.text-left
//-                                     .dq-media__fig
//-                                         img.img54x54(src="./img/home-new/admin.png" alt="Admin Image")
//-                                     .dq-media__cnt.ml-3
//-                                         span.fnt-16.fnt-manro-bold Erica Chidi Cohen
//-                                         p.fnt-12.mb-0 Organisation Name
//-             // Pagination            
//-             .swiper-pagination.swiper-pagination-flatindic


section.test-section
    .container-fluid
        .row.thoughts-row 
            .col-lg-5.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 Everything you need to save human lives, for years to come
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-20 Our webinars cover a variety of topics across oncology, cardiology, clinical nutrition, dermatology, neurology and a lot more.
            .col-lg-12.p-0 
                // Slider main container
                .swiper-container.testswiper
                    // Additional required wrapper
                    .swiper-wrapper
                        // Slides
                        .swiper-slide
                            img.w100(src="./img/home/poster8.png", alt="")                            
                        .swiper-slide
                            img.w100(src="./img/home/poster9.png", alt="")
                            
                        .swiper-slide
                            img.w100(src="./img/home/poster10.png", alt="")
                            
                        .swiper-slide
                            img.w100(src="./img/home/poster11.png", alt="")
                            
                        .swiper-slide
                            img.w100(src="./img/home/poster12.png", alt="")
                            
                    // If we need navigation buttons
                    .swiper-pagination