section.dq-section-padding100
    .container
        .row.pb-md-5.mb-md-5
            .col-md-10.offset-md-2.col-lg-8.offset-lg-2.text-center
                h4.dq-sec-title.mb-3 What Docquity offers
                .dq-sec-cntinfo
                    span.dq-sec-subtxt Most trusted community for doctors
                p.my-4.px-4.px-lg-5 Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars let you watch them anytime.
                
                .dq-playstore-group.pt-3
                    .dq-plastore-btn.dq-plastore-btn--sec.mr-3
                        .dq-plastore-btn__figwrap
                            img(src="./img/home-new/apple-icon.svg" alt="Apple-icon")
                        .dq-plastore-btn__cnt.ml-2
                            span.d-block.fnt-10 Available on the
                            span.dq-apptext.fnt-700 App Store
                        
                    .dq-plastore-btn.dq-plastore-btn--sec
                        .dq-plastore-btn__figwrap
                            img(src="./img/home-new/googlplay-icon.svg" alt="Googleplay icon")
                        .dq-plastore-btn__cnt.ml-2
                            span.d-block.fnt-10 Get it on
                            span.dq-apptext.fnt-700 Google Play
        
        .row
            .col-md-4.text-center
                .dq-feature-list
                    .dq-feature-list__item
                        .dq-feature-thumbnail
                            .dq-circle.dq-circle--md.dq-circle--bluish.dq-flexcenter
                                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_1475_11625)">
                                <path d="M30.8248 27.87C30.7066 27.87 30.5896 27.8467 30.4804 27.8015C30.3712 27.7563 30.272 27.69 30.1884 27.6064C30.1048 27.5228 30.0385 27.4236 29.9933 27.3144C29.9481 27.2052 29.9248 27.0882 29.9248 26.97V12.195C29.9248 11.9563 30.0196 11.7274 30.1884 11.5586C30.3572 11.3898 30.5861 11.295 30.8248 11.295C31.0635 11.295 31.2924 11.3898 31.4612 11.5586C31.63 11.7274 31.7248 11.9563 31.7248 12.195V26.97C31.7248 27.2087 31.63 27.4376 31.4612 27.6064C31.2924 27.7752 31.0635 27.87 30.8248 27.87V27.87Z" fill="#FF6961"/>
                                <path d="M30.8248 33C30.5861 33 30.3572 32.9052 30.1884 32.7364C30.0196 32.5676 29.9248 32.3387 29.9248 32.1V29.265C29.9248 29.0263 30.0196 28.7974 30.1884 28.6286C30.3572 28.4598 30.5861 28.365 30.8248 28.365C31.0635 28.365 31.2924 28.4598 31.4612 28.6286C31.63 28.7974 31.7248 29.0263 31.7248 29.265V32.1C31.7248 32.3387 31.63 32.5676 31.4612 32.7364C31.2924 32.9052 31.0635 33 30.8248 33V33Z" fill="#FF6961"/>
                                <path d="M18 20.07C17.8765 20.0667 17.7546 20.0413 17.64 19.995L3.6 13.785C3.43166 13.7236 3.28506 13.6141 3.1784 13.4701C3.07174 13.3261 3.00971 13.1539 3 12.975C3.00088 12.8039 3.04895 12.6363 3.13893 12.4907C3.22892 12.3452 3.35732 12.2273 3.51 12.15L17.55 5.29499C17.6671 5.23905 17.7952 5.21002 17.925 5.21002C18.0548 5.21002 18.1829 5.23905 18.3 5.29499L32.34 11.295C32.495 11.3683 32.6272 11.4824 32.7223 11.6251C32.8175 11.7678 32.872 11.9337 32.88 12.105C32.8805 12.2746 32.8347 12.4411 32.7475 12.5865C32.6602 12.7319 32.5349 12.8507 32.385 12.93L18.345 19.905C18.2448 19.9867 18.1265 20.0433 18 20.07ZM6.105 12.915L18 18.165L29.91 12.24L18 7.09499L6.105 12.915Z" fill="#1B4A52" stroke="2"/>
                                <path d="M18.0001 29.385C13.7401 29.385 9.99012 27.75 8.16012 25.065C8.05459 24.9157 7.99704 24.7378 7.99512 24.555V15.15C7.99512 14.9113 8.08994 14.6824 8.25872 14.5136C8.4275 14.3448 8.65642 14.25 8.89512 14.25C9.13381 14.25 9.36273 14.3448 9.53151 14.5136C9.7003 14.6824 9.79512 14.9113 9.79512 15.15V24.27C10.8267 25.4024 12.0997 26.2883 13.52 26.8621C14.9403 27.4359 16.4714 27.683 18.0001 27.585H18.3001C21.7951 27.585 24.7801 26.265 26.1751 24.285V15.15C26.1751 14.9113 26.2699 14.6824 26.4387 14.5136C26.6075 14.3448 26.8364 14.25 27.0751 14.25C27.3138 14.25 27.5427 14.3448 27.7115 14.5136C27.8803 14.6824 27.9751 14.9113 27.9751 15.15V24.555C27.9735 24.7263 27.9213 24.8933 27.8251 25.035C26.1901 27.63 22.5601 29.295 18.3301 29.385H18.0001Z" fill="#1B4A52" stroke="2"/>
                                <path d="M30.825 30.57C30.5848 30.5729 30.3532 30.4814 30.18 30.315L28.995 29.13C28.8291 28.9592 28.7363 28.7306 28.7363 28.4925C28.7363 28.2545 28.8291 28.0258 28.995 27.855L30.18 26.67C30.3507 26.5042 30.5794 26.4114 30.8175 26.4114C31.0555 26.4114 31.2842 26.5042 31.455 26.67L32.64 27.855C32.7257 27.9376 32.7939 28.0366 32.8405 28.1461C32.8871 28.2557 32.9111 28.3735 32.9111 28.4925C32.9111 28.6115 32.8871 28.7294 32.8405 28.8389C32.7939 28.9484 32.7257 29.0474 32.64 29.13L31.455 30.315C31.3719 30.3969 31.2735 30.4616 31.1654 30.5054C31.0573 30.5492 30.9416 30.5711 30.825 30.57V30.57Z" fill="#FF6961"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_1475_11625">
                                <rect width="36" height="36" fill="#1B4A52" stroke="5"/>
                                </clipPath>
                                </defs>
                                </svg>
                            h5.dq-thumbnail__heading.mb-1.pb-2.mt-md-4 CPD/CME credits
                            p Content designed to educate while offering CPD/CME credits.
                    .dq-feature-list__item
                        .dq-feature-thumbnail
                            .dq-circle.dq-circle--md.dq-circle--bluish.dq-flexcenter
                                img(src="./img/what-doquity/feature-2.svg" alt="Secure illustration")
                            h5.dq-thumbnail__heading.mb-1.pb-2.mt-md-4 Feature 1
                            p Live Medical Case Discussions for sharing clinical insights
                    .dq-feature-list__item
                        .dq-feature-thumbnail
                            .dq-circle.dq-circle--md.dq-circle--bluish.dq-flexcenter
                                img(src="./img/what-doquity/feature-3.svg" alt="Secure illustration")
                            h5.dq-thumbnail__heading.mb-1.pb-2.mt-md-4 Feature 2
                            p Live Medical Case Discussions for sharing clinical insights


            .col-md-4.text-center
                .dq-mobile-mockupwrap
                    .dq-mobile-mockupwrap__box
                        img.img-fluid(src="./img/home-new/mobile-skele.svg" alt="Mobile skeleton")
                    

            .col-md-4.text-center
                .dq-feature-list
                    .dq-feature-list__item
                        .dq-feature-thumbnail
                            .dq-circle.dq-circle--md.dq-circle--bluish.dq-flexcenter
                                img(src="./img/what-doquity/feature1.svg" alt="Secure illustration")
                            h5.dq-thumbnail__heading.mb-1.pb-2.mt-md-4 Feature 3
                            p Live Medical Case Discussions for sharing clinical insights
                    .dq-feature-list__item
                        .dq-feature-thumbnail
                            .dq-circle.dq-circle--md.dq-circle--bluish.dq-flexcenter
                                img(src="./img/what-doquity/feature-4.svg" alt="Secure illustration")
                            h5.dq-thumbnail__heading.mb-1.pb-2.mt-md-4 Feature 4
                            p Live Medical Case Discussions for sharing clinical insights
                    .dq-feature-list__item
                        .dq-feature-thumbnail
                            .dq-circle.dq-circle--md.dq-circle--bluish.dq-flexcenter
                                img(src="./img/what-doquity/feature-5.svg" alt="Secure illustration")
                            h5.dq-thumbnail__heading.mb-1.pb-2.mt-md-4 Feature 5
                            p Live Medical Case Discussions for sharing clinical insights