section.dq-section-padding100
    .container
        .row.pb-md-5.mb-md-5
            .col-md-10.offset-md-2.col-lg-8.offset-lg-2.text-center
                h4.dq-sec-title.mb-4 What Docquity offers
                .dq-sec-cntinfo
                    span.dq-sec-subtxt Most trusted community for doctors
                p.my-4.px-4.px-lg-5 Discussing variety of specialized medical topics. Interact with the speakers live during the webinars. Recorded version of the webinars let you watch them anytime.
                
                .dq-playstore-group.pt-4
                    .dq-plastore-btn.dq-plastore-btn--sec.mr-3
                        .dq-plastore-btn__figwrap
                            img(src="./img/home-new/apple-icon.svg" alt="Apple-icon")
                        .dq-plastore-btn__cnt.ml-2
                            span.d-block.fnt-10 Available on the
                            span.dq-apptext.fnt-700 App Store
                        
                    .dq-plastore-btn.dq-plastore-btn--sec
                        .dq-plastore-btn__figwrap
                            img(src="./img/home-new/googlplay-icon.svg" alt="Googleplay icon")
                        .dq-plastore-btn__cnt.ml-2
                            span.d-block.fnt-10 Get it on
                            span.dq-apptext.fnt-700 Google Play