section.dq-bg-gradient-pri.-secondary
    .container
        .row.dq-bg-gradient
            .col
                .dq-maincnt-leftwrap
                    .dq-sec-cntinfo.mb-4
                        span.dq-sec-subtxt Don't just take our word for it
                    p DocTalks is a library of short video lectures brought to you by doctors from academia, research institutions and experts across specializations, globally.

                    a.dq-btn.dq-btn--default.mt-3(href="javascript;void(0);")
                        | Wall of Love
                        img.ml-4(src="./img/icons/right-arrow.svg", alt="Arrow icon")
            
            .col-md-8
                .card-columns.card-columns--overide
                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-12 Co-Founder & CEO

                    
                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. “
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-12 Co-Founder & CEO
                    
                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-14 Co-Founder & CEO

                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-12 Co-Founder & CEO
                    
                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-14 Co-Founder & CEO
                    
                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | he best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-12 Co-Founder & CEO
                    
                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-14 Co-Founder & CEO
                    
                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-12 Co-Founder & CEO
                    .card
                        figure.mb-0
                            blockquote.fnt-16.mb-0
                                img.d-block.mb-4(src="./img/home-new/quote.svg" alt="Quote icon")
                                | The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                            figcaption
                                .dq-media.mt-3.mt-md-4
                                    .dq-media__fig
                                        img.dq-img41x41(src="./img/home-new/admin.png" alt="Admin Image")
                                    .dq-media__cnt.ml-3
                                        span.fnt-14.fnt-manro-bold Denis Shepovalov
                                        p.mb-0.fnt-12 Co-Founder & CEO
            