section.dq-section-padding100
    .container
        .row.pb-md-5.mb-md-5
            .col-md-10.offset-md-2.col-lg-6.offset-lg-3.text-center
                .dq-sec-cntinfo
                    span.dq-sec-subtxt Explore Docquity’s ecosystem
                p.my-4.px-4.px-lg-5 Our products provide education, community, and support to supercharge your career.





section.leadership.gsap-section-trig  
    .leadership-section 
        .container 
            .row.leadership-card
                .col-lg-12 
                    h3.leadership__head.heading.heading--black.text-center.gsap-heading   Meet Our Leadership Team 
                .col-lg-12.leadership-mobile  
                    .options
                        .option
                            .option-card.option-card--one                                
                                 img.option__img(src="./img/easebuzz/about/led1.png", alt="")
                            .shadow
                            .label
                                .info
                                    h4.info__head Rai Rohit Prasad
                                    span.info__span CEO and MD
                                    p.info__para Rohit has worked in varied industries and has been in the banking and financial sector for over 12 years. He has worked with Tata Consultancy Services and Accenture before he became an entrepreneur himself. He was also part of another successful start up within digital media marketing.
                        .option
                            .option-card.option-card--two 
                                 img.option__img(src="./img/easebuzz/about/led2.png", alt="")
                            .shadow
                            .label
                                .info                                   
                                    h4.info__head Amit Kumar
                                    span.info__span CEO and MD
                                    p.info__para Rohit has worked in varied industries and has been in the banking and financial sector for over 12 years. He has worked with Tata Consultancy Services and Accenture before he became an entrepreneur himself. He was also part of another successful start up within digital media marketing.
                        .option
                            .option-card.option-card--three 
                                 img.option__img(src="./img/easebuzz/about/led3.png", alt="")
                            .shadow
                            .label
                                .info
                                    h4.info__head Siddharth Dani
                                    span.info__span CEO and MD
                                    p.info__para Rohit has worked in varied industries and has been in the banking and financial sector for over 12 years. He has worked with Tata Consultancy Services and Accenture before he became an entrepreneur himself. He was also part of another successful start up within digital media marketing.