//- section.dq-section-padding100
//-     .container
//-         .row.pb-md-5.mb-md-5
//-             .col-md-10.offset-md-2.col-lg-6.offset-lg-3.text-center
//-                 .dq-sec-cntinfo
//-                     span.dq-sec-subtxt Explore Docquity’s ecosystem
//-                 p.my-4.px-4.px-lg-5 Our products provide education, community, and support to supercharge your career.

section.explore.dq-section-padding100  
    .explore-section 
        .container 
            .row
                .col-md-10.offset-md-2.col-lg-6.offset-lg-3.text-center
                    .dq-sec-cntinfo
                        span.exp-sec-subtxt Explore Docquity’s ecosystem
                    p.exp-sec-txt.my-4.px-4.px-lg-5 Our products provide education, community, and support to supercharge your career.
                .col-lg-12.explore-mobile  
                    .options
                        .option-img(style='margin-left: 35px;')
                            img.option__img(src="./img/home-new/Phone 1.png", alt="")
                            img.option__img1(src="./img/home-new/Mask Group (1).png", alt="")
                        .option 
                            .option-card.option-card--one(style='margin-right: 15px;')                                
                                 
                            .label
                                .info
                                    span.info__span.fnt-man Live & Interactive Webinars 
                                    h4.info__head.fnt-lex Docquity Clinic
                                    p.info__para.fnt-man For doctors who want to run a more efficient practice and connect with patients from the comfort of your home.
                                    a.exp-btn.mt-2(href="javascript;void(0);")
                                        | Get started
                                        img.ml-4(src="./img/icons/right-arrow.svg", alt="Arrow icon")
                        .option.active
                            .option-img1(style='margin-right: 35px;')
                                img.option__img11(src="./img/home-new/Phone 1.png", alt="")
                                img.option__img2(src="./img/home-new/Mask Group.png", alt="")
                            .option-card.option-card--two 
                                
                            .label.secondlabel
                                .info  
                                    span.info__span.fnt-man  Live & Interactive Webinars                                 
                                    h4.info__head.fnt-lex CME/CPD credits
                                    p.info__para.fnt-man For doctors who want to improve their knowledge while securing the necessary CME/CPD credits.
                                    a.exp-btn.mt-2(href="javascript;void(0);")
                                        | Get started
                                        img.ml-4(src="./img/icons/right-arrow.svg", alt="Arrow icon")

