section.dq-section-padding100
    .container
        .row.pb-md-5.mb-md-5
            .col-md-10.offset-md-2.col-lg-6.offset-lg-3.text-center
                .dq-sec-cntinfo
                    span.dq-sec-subtxt Explore Docquity’s ecosystem
                p.my-4.px-4.px-lg-5 Our products provide education, community, and support to supercharge your career.