section.dq-bg-gradient-pri.-secondary.wallhome-setion
    .container-fluid
        .row.dq-bg-gradient
            .col-lg-4.col-12
                .dq-maincnt-leftwrap
                    .dq-sec-cntinfo.mb-4
                        span.dq-sec-subtxt Don't just take our word for it
                    p DocTalks is a library of short video lectures brought to you by doctors from academia, research institutions and experts across specializations, globally.
                    a.gray-btn.fnt-md.fnt600.fnt-man(href="wall.html") Wall of Love
            .col-lg-8.col-12.wallhome-right
                ul.wallhome-list 
                    li.wallhome-list__item                
                        .swiper.swiper-container.wall--top1
                            .swiper-wrapper
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide 
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide 
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name                        
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                    li.wallhome-list__item 
                        .swiper.swiper-container.wall--top2
                            .swiper-wrapper
                                .swiper-slide 
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide 
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name                                                          
                    li.wallhome-list__item 
                        .swiper.swiper-container.wall--top3
                            .swiper-wrapper
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide 
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name
                                .swiper-slide 
                                    .wall-card
                                        .wall-icon 
                                            img.w100(src="./img/walloflove/comma.svg", alt="")
                                        p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                        .wall-div
                                            .wall-image
                                                img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                            .wall-text
                                                p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                                span.fnt-xs.text-blackish.fnt-man Organisation Name