//01
include 01_banner.pug

//02
include 02_most-trusted.pug

//03
include 03_why-use-docquity.pug

//04
include 04_live-interact-webinar.pug

//05
include 05_everthing-need-save.pug

//06
include 06_why-docuquity.pug

//07
include 07_why-docuquity-offers.pug

//08
include 08_wall-of-love.pug

//09
include 09_explore-ecosystem.pug

//09
include 10_thought-leadership.pug