.swiper.homeleadershipSwiper
  .swiper-wrapper
    .swiper-slide 
        .dq-thumbnailcard
            .dq-thumbnailcard__figwrap
                img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
            .dq-thumbnailcard__body
                span.dq-categ-name Pharma
                h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
    .swiper-slide 
        .dq-thumbnailcard
            .dq-thumbnailcard__figwrap
                img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
            .dq-thumbnailcard__body
                span.dq-categ-name Pharma
                h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
    .swiper-slide 
        .dq-thumbnailcard
            .dq-thumbnailcard__figwrap
                img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
            .dq-thumbnailcard__body
                span.dq-categ-name Pharma
                h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
    .swiper-slide 
        .dq-thumbnailcard
            .dq-thumbnailcard__figwrap
                img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
            .dq-thumbnailcard__body
                span.dq-categ-name Pharma
                h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
    .swiper-slide 
        .dq-thumbnailcard
            .dq-thumbnailcard__figwrap
                img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
            .dq-thumbnailcard__body
                span.dq-categ-name Pharma
                h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
    .swiper-slide 
        .dq-thumbnailcard
            .dq-thumbnailcard__figwrap
                img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
            .dq-thumbnailcard__body
                span.dq-categ-name Pharma
                h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
    .swiper-slide 
        .dq-thumbnailcard
            .dq-thumbnailcard__figwrap
                img.dq405x222.dq-brder-12(src="./img/home-new/docotor-thumbnail.png" alt="thumbnail image")
            .dq-thumbnailcard__body
                span.dq-categ-name Pharma
                h5.dq-thumbnailcard__heading.fnt-20 Future of customer support
                p Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions for sharing clinical insightsLive
  .swiper-pagination
//-   .swiper-button-next
//-   .swiper-button-prev
//-   .swiper-pagination