.dq-tab {
    border: 1px solid transparent !important;

    .nav-link {
        font-size    : 14px !important;
        line-height  : 22px !important;
        border-radius: 20px;
        margin-right : 1rem;

        padding: {
            top   : .6rem !important;
            bottom: .6rem !important;
            left  : 1.2rem !important;
            right : 1.2rem !important;
        }

        &:is(:hover, :focus) {
            border-color: #1B4A52 !important;
        }
    }

    &--pri {
        .active {
            background : #1B4A52 !important;
            border     : none;
            color      : $white !important;
            font-weight: $fnt-exbold;
        }
    }
}

.dq-tabcontent-overide {
    padding-top: 3rem;
}

// Tabs cards

