.rec-btn {
    padding       : 0.5rem 1rem;
    font-size     : 14px;
    line-height   : 26px;
    transition    : $trans;
    border-radius : $border-radius10;
    letter-spacing: 1px;
    font-weight   : $fnt-bold;
    text-transform: uppercase;
    cursor        : pointer;
    display       : inline-block;

    @media (min-width: $md) {
        padding    : 0.8rem 1.5rem;
        font-size  : 14px;
        line-height: 24px;
    }

    &:hover {
        border: transparent;
    }

    &--primary {
        background: $primary;
        border    : 1px solid transparent;
        color     : $white;

        &:hover,
        &:focus {
            // color: $w;
            outline   : 0;
            color     : #1993C0;
            background: $white;
            border    : 1px solid #1993C0;
            transition: $trans;
        }
    }

    &--white {
        background: $w;
        border    : 1px solid transparent;
        color     : $black;

        &:hover,
        &:focus {
            outline   : 0;
            color     : $primary;
            background: $white;
            border    : 1px solid transparent;
            transition: $trans;
        }
    }

    &--border {
        background: $w;
        border    : 1px solid $black;
        color     : $black;

        &:hover,
        &:focus {
            // color: $w;
            outline   : 0;
            color     : #1993C0;
            background: $white;
            border    : 1px solid #1993C0;
            transition: $trans;
        }
    }

    &--lg {
        padding: {
            left : 2.5rem;
            right: 2.5rem;
        }
    }
}

// anchor links
.rect-link {
    font-weight: $fnt-medium;
    color      : $black;
    display    : inline-flex;
    align-items: center;
    cursor     : pointer;
    transition : 0.6s ease-in-out;

    img {
        transform : translateX(0px);
        transition: 0.6s ease-in-out;
    }

    &:hover,
    &:focus {
        color: $primary;

        img {
            transform : translateX(8px);
            transition: 0.6s ease-in-out;
        }
    }
}

// Play button
.rect-play-btn {
    position     : absolute;
    top          : 50%;
    left         : 50%;
    height       : 54px;
    width        : 54px;
    border-radius: 50%;
    bottom       : 0;
    transform    : translate(-50%, -50%);
    background   : rgba(255, 255, 255, 0.7);
    cursor       : pointer;

    img {
        position: relative;
        left    : 2px;
    }
}

.rec-link-text {
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-weight   : $fnt-medium;
    position      : relative;

    &:after {
        content   : "";
        position  : absolute;
        bottom    : -0.5rem;
        height    : 2px;
        width     : 60%;
        background: $primary;
        margin    : 0 auto;
        left      : 0;
        right     : 0;
    }
}

// Read more functionality
.rec-readtxt {
    &:hover {
        color: $primary;
    }
}

.hideContent {
    transition: all ease-in-out 0.6s;
    display   : none;
}

.hideAll {
    display   : block;
    transition: all ease-in-out 0.6s;
}


// read more 

.aread-more {

    padding          : 0.5rem 1rem;
    font-size        : 16px;
    line-height      : 26px;
    transition       : $trans;
    // border-radius : $border-radius10;
    letter-spacing   : 1px;
    font-weight      : $fnt-bold;
    text-transform   : uppercase;
    cursor           : pointer;
    display          : inline-block;
    font-family      : 'Barlow', sans-serif;
    position         : relative;
    transition       : transform 0.3s ease-out;
    height           : 100%;

    @media (min-width: 768px) {
        // padding    : 71px 39px;
        font-size  : 16px;
        line-height: 24px;
        height     : 192px !important;
        min-width  : 192px;
    }

    @media (max-width: 767px) {
        min-width: 144px;
        height   : 144px;
    }
    @media only screen and (width: 768px) and (height: 1024px) and (orientation:portrait) {
        min-width: 144px;
        height   : 144px!important;
    }


    &:hover {
        border: transparent;
    }

    &--primary {
        background: #FF9530;
        border    : 1px solid transparent;
        color     : $white;
        height    : 100%;

        img {
            margin     : 0 auto;
            padding-top: 13px;
        }

        &:hover,
        &:focus {

            background: radial-gradient(50% 50% at 50% 50%, #FFC178 0%, #FF9836 100%);
            box-shadow:-2px 28px 89px 0 #eb7c11;

            img {
                transform: translateX(6px);
            }

           
            outline      : 0;
            transition   : $trans;
        }
    }

    &--primarySend {
        background   : #FF9530;
        border       : 1px solid transparent;
        color        : $white;       
        img {
            margin     : 0 auto;
            padding-top: 13px;
        }

        &:hover,
        &:focus {
            background      : radial-gradient(50% 50% at 50% 50%, #FFA944 0%, #FF9530 100%);
            box-shadow      : 0px 16px 64px rgba(239, 143, 51, 0.5);  
            img {
                transform: translateX(6px);
            }
            outline      : 0;           
            transition   : $trans;
        }
    }

}


.aread-more-sm {

    padding          : 0.5rem 1rem;
    font-size        : 14px;
    line-height      : 26px;
    transition       : $trans;   
    letter-spacing   : 1px;
    font-weight      : $fnt-bold;
    text-transform   : uppercase;
    cursor           : pointer;
    display          : inline-block;
    font-family      : 'Barlow', sans-serif;
    position         : relative;
    transition       : transform 0.3s ease-out;

    @media (min-width: 768px) {      
        font-size  : 16px;
        line-height: 24px;
        height     : 140px;
        min-width  : 140px;
    }


    &--primary {
        background: #FF9530;
        border    : 1px solid transparent;
        color     : $white;

        img {
            margin     : 0 auto;
            padding-top: 13px;
        }

        &:hover,
        &:focus {


            background      : radial-gradient(50% 50% at 50% 50%, #FFA944 0%, #FF9530 100%);
            box-shadow      : 0px 16px 64px rgba(239, 143, 51, 0.5);
           
            img {
                transform: translateX(6px);
            }

           
            outline      : 0;           
            transition   : $trans;
        }
    }

    &--arrowbtn {
        background: #FF9530;
        border    : 1px solid transparent;
        color     : $white;

        img {
      
        }

        &:hover,
        &:focus {


            background      : radial-gradient(50% 50% at 50% 50%, #FFA944 0%, #FF9530 100%);
            box-shadow      : 0px 16px 64px rgba(239, 143, 51, 0.5);         

            img {
                transform: translateX(6px);
            }
            outline      : 0;           
            transition   : $trans;
        }
    }

}

// mobile btn

.aread-more-mobile {

    padding          : 0.5rem 1.5rem;
    font-size        : 14px;
    line-height      : 26px;
    transition       : $trans;    
    letter-spacing   : 1px;
    font-weight      : $fnt-bold;
    text-transform   : uppercase;
    cursor           : pointer;
    display          : inline-block;
    font-family      : 'Barlow', sans-serif;
    position         : relative;
    transition       : transform 0.3s ease-out;
    min-height       : 60px;

    @media (max-width: 767px) {
        min-width: 60px;
    }


    @media (min-width: 768px) {
        // padding    : 71px 39px;
        font-size  : 16px;
        line-height: 24px;
        height     : 140px;
        min-width  : 140px;
    }


    &--arrowbtn {
        background: #FF9530;
        border    : 1px solid transparent;
        color     : $white;

        img {           
        }

        &:hover,
        &:focus {
            background      : radial-gradient(50% 50% at 50% 50%, #FFA944 0%, #FF9530 100%);
            box-shadow      : 0px 16px 64px rgba(239, 143, 51, 0.5);           

            img {
                transform: translateX(6px);
            }            
            outline      : 0;           
            transition   : $trans;
        }
    }

}


.blue-btn{
    border-radius: 8px;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
    cursor : pointer;
    display : inline-block;

    &--primary{
        background-color:#012368;
        color: $white!important;
        border:1px solid #012368;
    }

    &--border{
        background-color:transparent!important;
        color: #012368!important;
        border:1px solid #012368;
    }

}


// GLobal buttons 

.dq-btn {
    background   : linear-gradient(94.21deg, #252424 4.48%, #424242 87.94%);
    padding      : 1rem 2rem;
    display      : inline-block;
    border-radius: 12px;
    color        : $w;
    font-weight  : $fnt-sembold;
    font-size    : 16px;
    line-height  : 26px;


    &--lg {
        padding        : 1.2rem 3rem;
        width          : 228px;
        max-width      : 100%;
        display        : flex;
        align-items    : center;
        justify-content: space-between;

        @media (min-width: 992px) {
            padding: 1rem 3rem;
        }
    }

    &:hover {
        color: $w;
    }

}