section.section01
    .container 
        .row
            .col-md-6
                .section01-home-banner__cntsection01
                    h1.section01-home-banner__heading.fnt-500.fnt-lex
                        | The easiest way to obtain CME and CPD credits in Southeast Asia.
                    p.fnt-500.fnt-man Obtaining continual medical education credits is the best way to expand and refresh your medical knowledge. 
                    a.dq-btn.dq-btn--default.mt-3(href="javascript;void(0);")
                        | Get started

                    .section01-banner
                        .section01-img1 
                            img(src="./img/events/small-img1.png", alt="")
                        .section01-img2
                            img(src="./img/events/small-img2.png", alt="")
                        .section01-img3
                            img(src="./img/events/small-img3.png", alt="")
                        .section01-media__cnt.ml-3
                            span.fnt-man.span_text 96,000+ doctors have attended our academy.

            .col-md-6
                .dq-figwrap
                    img(src="./img/productcpd/ProductBanner.png" alt="Banner illustratons")
