section.section03
    .container 
        .row 
            .col-md-6.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.fnt500.mb-16.text-white Continual medical education across a variety of medical specialisations.
                p.txt-md.text-white.fnt500.fnt-man.mb-0 Our team has been working hard to curate the most relevant CME and CPD courses for healthcare professionals in Southeast Asia. See the list below to get a sense of the most popular courses you can take on Docquity. 
        
        .row
            .col-12.tabs-section
                ul#myTab.dq-tab.dq-tab--pri.nav.nav-tabs(role='tablist')
                    li.nav-item
                        span.nav-link Health & Mental
                        span.nav-link Education & learning
                        
                    li.nav-item
                        span.nav-link Personal growth
                        span.nav-link Education & learning
                        span.nav-link Business
                        span.nav-link Education & learning

                    li.nav-item
                        span.nav-link Wellness treatment
                        span.nav-link Skill enhancement
                        span.nav-link Career
                        span.nav-link Management skills
                        span.nav-link Career                        

                    li.nav-item
                        span.nav-link Finance
                        span.nav-link Spiritual lifestyle
                        span.nav-link Life sciences
                        span.nav-link Spiritual lifestyle

                    li.nav-item
                        span.nav-link Spiritual lifestyle
                        span.nav-link Finance
                        span.nav-link Spiritual lifestyle



                