section.section03
    .container 
        .row 
            .col-md-6.ml-auto.mr-auto.text-center
                h2.h2.fnt-lex.fnt500.mb-16.text-white Continual medical education across a variety of medical specialisations.
                p.txt-md.text-white.fnt500.fnt-man.mb-0 Our team has been working hard to curate the most relevant CME and CPD courses for healthcare professionals in Southeast Asia. See the list below to get a sense of the most popular courses you can take on Docquity. 
        
        .row
            .col-12.tabs-section
                ul#myTab.dq-tab.dq-tab--pri.nav.nav-tabs(role='tablist')
                    li.nav-item
                        a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Health & Mental
                        a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Education & learning
                        
                    li.nav-item
                        a#home-tab.nav-link(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Personal growth
                        a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Education & learning
                        a#contact-tab.nav-link(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Business
                        a#webinar-tab.nav-link(data-toggle='tab' href='#webinar' role='tab' aria-controls='webinar' aria-selected='false') Education & learning

                    li.nav-item
                        a#home-tab.nav-link(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Wellness treatment
                        a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Skill enhancement
                        a#contact-tab.nav-link(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Career
                        a#webinar-tab.nav-link(data-toggle='tab' href='#webinar' role='tab' aria-controls='webinar' aria-selected='false') Management skills
                        a#webinar-tab.nav-link(data-toggle='tab' href='#webinar' role='tab' aria-controls='webinar' aria-selected='false') Career                        

                    li.nav-item
                        a#home-tab.nav-link(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Finance
                        a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Spiritual lifestyle
                        a#contact-tab.nav-link(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Life sciences
                        a#webinar-tab.nav-link(data-toggle='tab' href='#webinar' role='tab' aria-controls='webinar' aria-selected='false') Spiritual lifestyle

                    li.nav-item
                        a#home-tab.nav-link(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') Spiritual lifestyle
                        a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') Finance
                        a#contact-tab.nav-link(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Spiritual lifestyle



                