section.section04
    .container
        .row
                    .col-md-4
                        .section04-thumbnail
                            .section04-sec-cntinfo
                                span.section04-sec-subtxt.fnt-lex.fnt-500 Southeast Asia's leading educational platform for CME and CPD credits.
                                p.my-4.fnt-man.fnt-500 Join thousands of doctors who have trusted Docquity with their education and CME/CPD accreditation. 
                            
                            ul.section04-playstore-list.mb-12 
                                li.section04-playstore-list__item 
                                    a(href="")
                                        img.w100(src="./img/home/appstore.png", alt="")
                                li.section04-playstore-list__item 
                                    a(href="")
                                        img.w100(src="./img/home/gpaystore.png", alt="")
                    .col-md-4
                        .section04-thumbnail.section04-main.text-center
                            span.section04-number.fnt-700.fnt-lex +3,700,000
                            h5.section04-thumbnail__heading.mb-3.pb-2.mt-4.fnt-700.fnt-man CPD/CME credits
                            p.section04-last.fnt-500.fnt-lex Have been delivered to healthcare professionals via Docquity.
                    .col-md-4
                        .section04-thumbnail.section04-main1.text-center
                            span.section04-number.mb-2.fnt-700.fnt-lex +96,000 
                            h5.section04-thumbnail__heading.mb-3.pb-2.mt-4.mt-md-5.fnt-700.fnt-man Healthcare professionals
                            p.section04-last.fnt-500.fnt-lex Come back annually to upskill themselves and secure more CPD/CME credits.