section.section05.dq-section-padding100
    .container
        .row.team-row 
            .col-lg-6.ml-auto.mr-auto.text-center.mt-20.section05-desktop
                h2.h2.fnt-lex.fnt500.mb-22 Explore our rich library of CPD/CME certified courses 
                p.txt-md.text-blackish.fnt500.fnt-man.opacity-text Do not take our word for it, thanks to our partnerships with leading medical associations and hospitals, we have the richest catalogue of CPD / CME credits in Southeast Asia.
        .row
            .col-12
                .swiper-container.gallery-thumbs
                    .swiper-wrapper
                        .swiper-slide
                            | Mental health
                        .swiper-slide 
                            | Wellness
                        .swiper-slide 
                            | Education
                        .swiper-slide 
                            | Career
                        .swiper-slide 
                            | Personal
                        .swiper-slide 
                            | Life sciences
                        .swiper-slide 
                            | Management
                        .swiper-slide 
                            | Skill enhancement
                        .swiper-slide 
                            | Business
                    .swiper-button-next.swiper-button-white
                        <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.9995 7.00009C6.9995 7.22809 6.9225 7.45509 6.7675 7.64009L1.7675 13.6401C1.4145 14.0641 0.783495 14.1221 0.359495 13.7681C-0.0645046 13.4151 -0.121505 12.7851 0.231495 12.3601L4.7075 6.98909L0.392495 1.62709C0.0464955 1.19709 0.114495 0.567091 0.544495 0.221091C0.974495 -0.124909 1.6035 -0.0569093 1.9505 0.373091L6.7785 6.37309C6.9255 6.55609 6.9995 6.77809 6.9995 7.00009Z" fill="#1B4A52"/>
                        </svg>
                    .swiper-button-prev.swiper-button-white1
                        <svg width="7" height="14" viewBox="0 0 7 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.000504494 7.00009C0.000504494 7.22809 0.0775044 7.45509 0.232504 7.64009L5.2325 13.6401C5.5855 14.0641 6.2165 14.1221 6.6405 13.7681C7.0645 13.4151 7.1215 12.7851 6.7685 12.3601L2.2925 6.98909L6.6075 1.62709C6.9535 1.19709 6.8855 0.567091 6.4555 0.221091C6.0255 -0.124909 5.3965 -0.0569093 5.0495 0.373091L0.221505 6.37309C0.0745047 6.55609 0.000504494 6.77809 0.000504494 7.00009Z" fill="#1B4A52"/>
                        </svg>
            .col-12 
                .swiper-container.gallery-top
                    .swiper-wrapper
                        .swiper-slide
                            include Section5Tab/mental-health.pug
                        .swiper-slide
                            include Section5Tab/wellness.pug
                        .swiper-slide
                            include Section5Tab/education.pug
                        .swiper-slide
                            include Section5Tab/career.pug
                        .swiper-slide
                            include Section5Tab/personal.pug
                        .swiper-slide
                            include Section5Tab/life-sciences.pug
                        .swiper-slide
                            include Section5Tab/management.pug
                        .swiper-slide
                            include Section5Tab/skill-enhancement.pug
                        .swiper-slide
                            include Section5Tab/business.pug
                    .swiper-button-next
                        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                        </svg>
                    .swiper-button-prev
                        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                        </svg>

