section.section06 
    .container
        .row.team-row 
            .col-lg-6.ml-auto.mr-auto.text-center.mt-20.section06-desktop
                h2.h2.fnt-lex.fnt500.mb-22 Doctors love us and we love them back. 
                p.txt-md.text-blackish.fnt500.fnt-man.opacity-text.mb-45 Docquity's platform is constantly improving as we release new CPD/CME courses requested by our community of healthcare professionals every single week.
                a.gray-btn.fnt-md.fnt800.fnt-man(href="") Get started
                    img.ml-25(src="./img/icons/right-arrow.svg", alt="")

        .row.content-section
            .swiper.section06swiper
                .swiper-wrapper
                    .swiper-slide
                        .slide-img
                            img(src="./img/product/cpd/ImageSec6.png", alt="")
                        .slide-content 
                            .slide-icon 
                                img(src="./img/product/cpd/Vector.png", alt="")
                            .slide-text 
                                h2.h2.fnt-lex.fnt500.mb-24 Great Community for Doctors
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                h6.fnt-md.text-blackish.fnt700.fnt-man.mb-2 Asha Rahaman
                                span.txt-sm.text-blackish.fnt500.fnt-man.op-5 Co-Founder & CEO
                    .swiper-slide
                        .slide-img
                            img(src="./img/product/cpd/ImageSec6.png", alt="")
                        .slide-content 
                            .slide-icon 
                                img(src="./img/product/cpd/Vector.png", alt="")
                            .slide-text 
                                h2.h2.fnt-lex.fnt500.mb-24 Great Community for Doctors
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                h6.fnt-md.text-blackish.fnt700.fnt-man.mb-2 Asha Rahaman
                                span.txt-sm.text-blackish.fnt500.fnt-man.op-5 Co-Founder & CEO
                    .swiper-slide
                        .slide-img
                            img(src="./img/product/cpd/ImageSec6.png", alt="")
                        .slide-content 
                            .slide-icon 
                                img(src="./img/product/cpd/Vector.png", alt="")
                            .slide-text 
                                h2.h2.fnt-lex.fnt500.mb-24 Great Community for Doctors
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                h6.fnt-md.text-blackish.fnt700.fnt-man.mb-2 Asha Rahaman
                                span.txt-sm.text-blackish.fnt500.fnt-man.op-5 Co-Founder & CEO
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination.swiper-pagination-flatindic