section.product-section 
    .container.product-section-main
        .row 
            .col-lg-6.mr-auto.ml-auto.text-center 
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 World class support, always free.
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-18 Visit our support page to explore frequently asked questions about CPD and CMEs across Southeast Asia.
                a.gray-btn.fnt-md.fnt800.fnt-man.visit-btn(href="") Visit FAQ
                    img.ml-25(src="./img/icons/right-arrow.svg", alt="")
