.section.investor-section 
    .container-fluid 
        .row 
            .col-lg-12 
                .col-lg-6.ml-auto.mr-auto.text-center 
                    h2.h2.fnt-lex.fnt500.mb-16 We work together with the region's most trusted medical associations.
                    p.txt-md.text-blackish.fnt500.fnt-man.opacity-text To ensure you have access to continual medical education we have partnered with Southeast Asia's most reputable medical associations and societies.
            .col-lg-12.pad-0
                include ../about/investor-slider.pug   