section.sec060
    .container
        .row.align-items-md-center
            .col-md-7
                .dq-webinar-fig
                    img.w100(src="./img/home-new/homewebinarback.svg" alt="Thumbnail background")
                .dq-webinar-fig2
                   img.w100(src="./img/docquityclinic/Instantconnection.svg" alt="Thumbnail figure")

            .col-md-5
                .dq-webinar-article
                    span.h2.fnt-Lexend-medi Instant connection with your patients
                    p.my-3 With just a few clicks you can generate a link and use it to connect with your patients. All they need is internet connection, no need for downloads, installs and logins. 
                    a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
                figure
                    blockquote.fnt-16.mb-0
                        | “ The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                    figcaption
                        .dq-media.mt-3.mt-md-4.pt-2
                            .dq-media__fig
                                img(src="./img/home-new/admin.png" alt="Admin Image")
                            .dq-media__cnt.ml-3
                                span.fnt-xl.fnt-manro-bold Denis Shepovalov
                                p.fnt-14 Co-Founder & CEO
