section.dq-section-padding180.pb-md-5.section04
    .container
        .row.align-items-md-center
            .col-md-7
                .dq-clinic-fig
                    img.img-fluid.ellipse(src="./img/docquityclinic/section06mob.svg" alt="mobile background")

            .col-md-4
                .dq-clinic
                    span.h2.fnt-Lexend-medi Instant connection with your patients
                    p.my-3 With just a few clicks you can generate a link and use it to connect with your patients. All they need is internet connection, no need for downloads, installs and logins. 
                    a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
                figure
                    blockquote.fnt-16.mb-0.opa07
                        | Being a medical doctor is not only a profession, but a mission, a devotion to heal patients, to restore one's overall health.
                    figcaption
                        .dq-media.mt-3.mt-md-4.pt-2
                            .dq-media__fig
                                img(src="./img/home-new/admin.png" alt="Admin Image")
                            .dq-media__cnt.ml-3
                                span.fnt-xl.fnt-manro-bold Emerene Roque
                                p.fnt-14 Co-Founder & CEO
