section.explore.dq-section-padding100  
    .explore-section 
        .container 
            .row
                .col-md-10.offset-md-2.col-lg-6.offset-lg-3.text-center
                    .dq-sec-cntinfo
                        span.exp-sec-subtxt Explore Docquity’s ecosystem
                    p.exp-sec-txt.my-4.px-4.px-lg-5 Our products provide education, community, and support to supercharge your career.
                .col-lg-12.explore-mobile.desktopexp
                    .options
                        .option 
                            .option-card.option-card--one
                            .option-img
                                img.option__img(src="./img/home-new/Explore-Mockup.png", alt="")
                                //- img.option__img1(src="./img/home-new/ExploreImg-1.png", alt="")                                                           
                                    
                                .label.firstlabel
                                    .info
                                        span.info__span.fnt-man Live & Interactive Webinars 
                                        h4.info__head.fnt-lex Docquity Clinic
                                        p.info__para.fnt-man For doctors who want to run a more efficient practice and connect with patients from the comfort of your home.
                                        a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
                        .option.active
                            .option-card.option-card--two 
                            .option-img1
                                img.option__img11(src="./img/home-new/Explore-Mockup (1).png", alt="")
                                //- img.option__img2(src="./img/home-new/ExploreImg-2.png", alt="")
                                  
                            .label.secondlabel
                                .info  
                                    span.info__span.fnt-man  Live & Interactive Webinars                                 
                                    h4.info__head.fnt-lex CME/CPD credits
                                    p.info__para.fnt-man For doctors who want to improve their knowledge while securing the necessary CME/CPD credits.
                                    a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started

               
                .col-lg-12.mobexp
                    .options-mob
                        .option-mob
                            img.option-mob-img(src="./img/home-new/Explore-Mockup.png", alt="")                                                        
                            .label-mob
                                .info-mob
                                    span.info-mob-span.fnt-man Live & Interactive Webinars 
                                    h4.info-mob-head.fnt-lex Docquity Clinic
                                    p.info-mob-para.fnt-man For doctors who want to run a more efficient practice and connect with patients from the comfort of your home.
                                    a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
                        .option-mob1
                            img.option-mob-img1(src="./img/home-new/Explore-Mockup (1).png", alt="")
                                  
                            .label-mob
                                .info-mob  
                                    span.info-mob-span.fnt-man  Live & Interactive Webinars                                 
                                    h4.info-mob-head.fnt-lex CME/CPD credits
                                    p.info-mob-para.fnt-man For doctors who want to improve their knowledge while securing the necessary CME/CPD credits.
                                    a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started