section.section011
    .container-fluid 
        .row.section011-row
            .col-lg-10.mr-auto.ml-auto.text-center.newbanner 
                img(src="./img/docquityclinic/docquityclinic.svg", alt="")
                h1.h1.fnt-lex.fnt700.text-blackish Healthcare is evolving, we are here to help.
                p.fnt500.txt-md.text-blackish DocquityClinic enables you to seamlessly tele-consult your patients, easier than event before.
                a.gray-btn.fnt-md.fnt600.fnt-man.btn01(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
            .col-lg-12.banner-img-btm 
                .banner-img 
                    img.w100(src="./img/docquityclinic/banner01.svg", alt="")