.section.investor-section.section020 
    .container-fluid 
        .row 
            .col-lg-12 
                .col-lg-6.ml-auto.mr-auto.text-center 
                    h2.h2.fnt-lex.fnt500.mb-16 Trusted and most used by top Hospitals and clinics
                    p.txt-md.text-blackish.fnt500.fnt-man.opacity-text Join our subscribers list for our newsletter to get latest news and  updates deliver
            .col-lg-12.pad-0
                include ../about/investor-slider.pug              