section.clinicdocquity-section
    .container
        .row.mb-md-5
            .col-md-10.ml-auto.mr-auto.col-lg-6.text-center
                .dq-sec-cntinfo.mb-16                    
                    span.dq-sec-subtxt Streamline your practice for maximum productivity. 
            .col-md-10.ml-auto.mr-auto.col-lg-10.text-center                
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-30 Centralize all your practice, processes, tools, and files into one app. Connect with patients seamlessly, from the comfort of your home or clinic.
                a.gray-btn.fnt-md.fnt600.fnt-man(href="") Get Started
        .row.clinicdocquitytabsection  
            .col-md-4
                nav
                    #nav-tab.nav.nav-tabs.nav-fill(role='tablist')
                        #nav-tele-tab.nav-item.nav-link.active.fnt-20.fnt-man(data-toggle='tab' href='#nav-tele' role='tab' aria-controls='nav-tele' aria-selected='true') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 1. Instant Teleconsultation
                        #nav-outreach-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-outreach' role='tab' aria-controls='nav-outreach' aria-selected='false')
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 2. Patient Outreach 
                        #nav-realtime-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-realtime' role='tab' aria-controls='nav-realtime' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-02 3. Realtime Finance Tracker
                        #nav-digital-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-digital' role='tab' aria-controls='nav-digital' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 4. Digital Waiting Room
                        #nav-prescription-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-prescription' role='tab' aria-controls='nav-prescription' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 5. e- Prescription
                        #nav-consultation-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-consultation' role='tab' aria-controls='nav-consultation' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 6. IDoctor-Doctor Consultation
                        #nav-appointment-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-appointment' role='tab' aria-controls='nav-appointment' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 7. Manage Appointments
            .col-md-8
                .clinicrighttabs
                    #nav-tabContent.tab-content.brand-slider-tabpane
                        #nav-tele.mar-tp.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-tele-tab')
                            .clinicdocquity-img 
                                img.w100(src="./img/docquityclinic/clinic1.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 With your 'Personal e-Consultation Link' you can instantly tele-consult patients Your patients require No Downloads, Installs or Logins
                        #nav-outreach.tab-pane.fade(role='tabpanel' aria-labelledby='nav-outreach-tab')
                            .clinicdocquity-img 
                                img.w100(src="./img/docquityclinic/clinic2.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 With your 'Personal e-Consultation Link' you can instantly tele-consult patients Your patients require No Downloads, Installs or Logins
                        #nav-realtime.tab-pane.fade(role='tabpanel' aria-labelledby='nav-realtime-tab')
                            .clinicdocquity-img  
                                img.w100(src="./img/docquityclinic/clinic3.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 With your 'Personal e-Consultation Link' you can instantly tele-consult patients Your patients require No Downloads, Installs or Logins 
                        #nav-digital.tab-pane.fade(role='tabpanel' aria-labelledby='nav-digital-tab')
                            .clinicdocquity-img  
                                img.w100(src="./img/docquityclinic/clinic4.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 With your 'Personal e-Consultation Link' you can instantly tele-consult patients Your patients require No Downloads, Installs or Logins 
                        #nav-prescription.tab-pane.fade(role='tabpanel' aria-labelledby='nav-prescription-tab')
                            .clinicdocquity-img  
                                img.w100(src="./img/docquityclinic/clinic5.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 With your 'Personal e-Consultation Link' you can instantly tele-consult patients Your patients require No Downloads, Installs or Logins 
                        #nav-consultation.tab-pane.fade(role='tabpanel' aria-labelledby='nav-consultation-tab')
                            .clinicdocquity-img  
                                img.w100(src="./img/docquityclinic/clinic6.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 With your 'Personal e-Consultation Link' you can instantly tele-consult patients Your patients require No Downloads, Installs or Logins 
                        #nav-appointment.tab-pane.fade(role='tabpanel' aria-labelledby='nav-appointment-tab')
                            .clinicdocquity-img  
                                img.w100(src="./img/docquityclinic/clinic7.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 With your 'Personal e-Consultation Link' you can instantly tele-consult patients Your patients require No Downloads, Installs or Logins 
                        
        
        .row.clinicdocquity-row 
            .col-lg-5.col-12
                .swiper.clinicdocquitySwiper.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .whyusedocquity-card.active#card0
                                .whyusedocquity-div 
                                    img.w100(src="./img/home/discuss.png", alt="")
                                .whyusedocquity-img
                                    img(src="./img/home/clinical.svg", alt="icon") 
                                .whyusedocquity-text
                                    h6.fnt-20.text-blackish.fnt700.fnt-man.lh32.mb-18 Discuss Clinical Experiences
                                    p.txt-md.text-blackish.fnt500.fnt-man You’ll get invaluable support from a network of capable peers who understand the challenges you face and want to see you succeed.
                        .swiper-slide 
                            .whyusedocquity-card.inactive#card1    
                                .whyusedocquity-div 
                                    img.w100(src="./img/home/medicalinsight.png", alt="")
                                .whyusedocquity-img
                                    img(src="./img/home/medicalinsight.svg", alt="icon") 
                                .whyusedocquity-text
                                    h6.fnt-20.text-blackish.fnt700.fnt-man.lh32.mb-18 Explore medical Insights
                                    p.txt-md.text-blackish.fnt500.fnt-man Enjoy ongoing access to a database of recorded sessions, journals, publications and a lot more, so you can learn on your own schedule.
                        .swiper-slide
                            .whyusedocquity-card.inactive#card2 
                                .whyusedocquity-div 
                                    img.w100(src="./img/home/h3doctalks.png", alt="")                              
                                .whyusedocquity-img
                                    img(src="./img/home/clinical.svg", alt="icon") 
                                .whyusedocquity-text
                                    h6.fnt-20.text-blackish.fnt700.fnt-man.lh32.mb-18 H3 DocTalks
                                    p.txt-md.text-blackish.fnt500.fnt-man We have curated a list of short videos of top key opinion leaders in Asia to ensure even the busiest doctors can participate and learn.
                        .swiper-slide 
                            .whyusedocquity-card.inactive#card3   
                                .whyusedocquity-div 
                                    img.w100(src="./img/home/cmecredit.png", alt="")                        
                                .whyusedocquity-img
                                    img(src="./img/home/medicalinsight.svg", alt="icon") 
                                .whyusedocquity-text
                                    h6.fnt-20.text-blackish.fnt700.fnt-man.lh32.mb-18 H3 Certified CME/CPD Credits
                                    p.txt-md.text-blackish.fnt500.fnt-man Regularly expand and refresh your medical knowledge on variety of industry topics. All that while securing CME and CPD credits from the comfort of your home.
                    .swiper-button-next
                        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                        </svg>
                    .swiper-button-prev
                        <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                        </svg>
                    .swiper-pagination
            