section.dq-section-padding180.pb-md-5.section06
    .container
        .row.align-items-md-center
            .col-md-7
                .dq-clinic-fig
                    img.img-fluid.ellipse(src="./img/docquityclinic/section06mob.svg" alt="mobile background")

            .col-md-4
                .dq-clinic
                    span.h2.fnt-Lexend-medi Doctor-to-Doctor consultations
                    p.my-3 We have connected +350,000 doctors across Southeast Asia. Now, you can easily seek feedback from thought leaders or simply refer patients to other healthcare professionals in your network.
                    a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
                figure
                    blockquote.fnt-16.mb-0.opa07
                        | Telemedicine has greatly improved patients' access to healthcare. Although in person examinations are still important, online consultations contribute to timely and efficient patient management and follow-up. I see telemedicine further evolving in the future as technology advances.
                    figcaption
                        .dq-media.mt-3.mt-md-4.pt-2
                            .dq-media__fig
                                img(src="./img/home-new/admin.png" alt="Admin Image")
                            .dq-media__cnt.ml-3
                                span.fnt-xl.fnt-manro-bold Jacqueline Joaquino
                                p.fnt-14 Co-Founder & CEO
