section.lovewall-section 
    .container 
        .row 
            .col-lg-12
                .grid-box 
                    ul.grid-wall
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions. Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name
                        li.grid-wall__item
                            .wall-card
                                .wall-icon 
                                    img.w100(src="./img/walloflove/comma.svg", alt="")
                                p.txt-sm.text-blackish.fnt500.fnt-man.mb-24 Live Medical Case Discussions for sharing clinical insights. Live Medical Case Discussions.
                                .wall-div
                                    .wall-image
                                        img.w100(src="./img/walloflove/card-icon.png", alt="") 
                                    .wall-text
                                        p.txt-sm.text-blackish.fnt800.fnt-man.mb-0 Erica Chidi Cohen
                                        span.fnt-xs.text-blackish.fnt-man Organisation Name