.aboutbanner-section {
    position: relative;
    background: linear-gradient(180deg, #FFFFFF -6.18%, #FFF4F4 101.72%);
    border-radius: 12px;

    @media (min-width: 767px) {
        padding: 42px 100px 320px;
        position: relative;
        margin: 0px 15px 205px;
        border-radius: 12px;
    }
    .newbanner{
        .para{
            margin-bottom: 50px;
        }
    }

    .banner-img {
        position: relative;

        @media (min-width: 767px) {
            position: absolute;
            width: 100%;
            left: 0px;
        }
    }
}

.brand-section {
    padding: 78px 0px 77px;

    @media (min-width: 767px) {
        position: relative;
        padding: 100px 0 0px;
        margin-bottom: 50px;
    }

    .para-text{
        margin-bottom: 25px;
    }

    #nav-tab {
        .nav-item {
            padding: 0px 0px 19px 0px;
            line-height: 32px !important;
            letter-spacing: -0.5px;
            font-weight: 500;
            color: #1D1919;
            opacity: 0.7;
            background: transparent;
            border: none;
            cursor: pointer;

            @media(max-width: 767px) {
                // flex: none;
                font-size: 16px !important;
                padding: 16px 5px;
            }
        }

        .nav-item.active {
            padding: 0px 0px 16px 0px;
            line-height: 32px !important;
            letter-spacing: -0.5px;
            font-weight: 800;
            color: #1B4A52;
            opacity: 1;
            background: transparent;
            border-bottom: 3px solid #1B4A52;

            @media(max-width: 767px) {
                font-size: 16px !important;
                padding: 16px 5px;
            }
        }
    }

    .brand-slider-tabpane {
        padding-top: 50px;

        @media(max-width: 767px) {
            margin-top: 41px;
        }

        .js-partners-icons,
        .js-partners-icons-reverse,
        .js-pharma-icons,
        .js-pharma-icons-reverse {
            overflow: hidden;
        }

        .logo-size {
            width: 278px;
            height: 168px;
            text-align: center;
            border: 1px solid #B1CBCF;
            border-radius: 24px;
            // padding      : 64px 10px;
            display: inline-flex;
            cursor: pointer;

            @media(max-width: 767px) {
                width: 100%;
                height: 65px;
                padding: 4px 4px;
                border-radius: 12px;
            }

        }
    }
}




.mission-section {
    position: relative;

    @media (min-width: 767px) {
        padding: 100px 100px 0px;
        position: relative;
    }
    .vision-img{
        img{
            width: 488px;
            height: 500px;
            @media (max-width: 767px) {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }

    .mission-list {
        position: relative;

        @media (max-width: 766px) {
            display: flex;
            flex-direction: column-reverse;
        }

        .mission-div {
            padding-right: 30px;
            @media (min-width: 768px) {
                padding-left: 80px;
            }
            

            @media (max-width: 766px) {
                display: flex;
                flex-direction: column-reverse;
                padding-right: 15px;
            }

            .mission-text {
                padding-right: 115px;
                .para{
                    margin-bottom: 40px;
                }

                @media (max-width: 767px) {
                    padding-right: 0px;
                    margin-top: 40px;
                }
            }

            .mission-img {
                margin-top: 48px;
                img{
                    height: 500px;
                    width: 488px;
                    @media (max-width: 767px) {
                        width: 100% !important;
                        height: 100% !important;
                    }
                }
            }
        }

        .vision-div {
            padding-left: 30px;

            @media (max-width: 766px) {
                padding-left: 15px;
                margin-top: 65px;
            }

            .vision-text {
                margin-top: 48px;
                padding-right: 115px;

                @media (max-width: 767px) {
                    padding-right: 0px;
                    margin-top: 40px;
                }
            }
        }

    }
}


.builder-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    margin: 0px 15px;
    border-radius: 12px;
    position: relative;
    padding: 88px 0px 37px;

    @media(min-width: 767px) {
        padding: 100px 100px 150px;
    }

    .builder-row {
        @media(max-width: 767px) {
            display: flex;
            flex-direction: column-reverse;
            ;
        }

        // builder-swiper
        .swiper {
            width: 100%;
            max-height: 455px;
            padding-left: 45px;
            margin-top: 72px;

            @media(max-width: 767px) {
                max-height: 480px;
                padding-left: 15px;
                margin-top: 0px;
            }
        }

        .swiper-slide {
            display: flex;

            .builder-card {

                @media(max-width: 767px) {
                    padding-right: 0px;
                }

                .builder-img {
                    margin-bottom: 30px;
                    // background: #1B4A52;
                    // width: 56px;
                    // height: 56px;
                    // border-radius: 50%;
                }
            }
        }

        .swiper-pagination-bullets {
            right: inherit;
            left: 0px;
            top: 50% !important;
            height: 65px;

            @media(max-width: 767px) {
                transform: rotate(-90deg) !important;
                left: 45%;
                top: 90% !important;
                height: 58px;
                width: 40px;
                z-index: 9;
            }

            .swiper-pagination-bullet {
                // display: none !important;
                margin: 10px 0px !important;

                @media(max-width: 767px) {
                    height: 20px;
                    width: 3px;
                    border-radius: 4px;
                }
            }

            .swiper-pagination-bullet-active {
                background: #1B4A52 !important;
            }
        }


        .builder-right {
            position: relative;

            .builder-right-img{
                width: 580px;
                @media (max-width: 767px) {
                    width: 100%;
                }
                margin: 0px auto auto;
                img{
                    border-radius: 24px;
                }
            }

            .builder-right-card {
                width: 80%;
                padding: 35px;
                height: 279px;
                background: rgba(255, 255, 255, 0.4);
                position: absolute;
                transform: translateY(330px);
                inset: 0;
                z-index: 2;
                backdrop-filter: blur(10px);
                border-radius: 24px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                left: inherit;
                right: -25px;

                @media (max-width: 767px) {
                    width: 95%;
                    position: relative;
                    left: 0px;
                    margin: 0px auto;
                    transform: translateY(-50px);
                    padding: 24px 20px;
                }
            }

            h2 {
                width: 60%;

                @media (max-width: 767px) {
                    width: 70%;
                }
            }
        }
    }
}



.team-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    margin: 0px 15px 15px 15px;
    border-radius: 12px;
    padding: 0px 0px 52px;

    @media(min-width: 767px) {
        padding: 40px 0px 61px;
    }

    .support-list {
        margin-top: 100px;
    }

    .our-team {
        position: relative;
        // margin-top: 100px;
        // margin-top: 60px;
        margin-top: 50px;
        text-align: center;

        &:hover {
            .team-social {
                height: 100%;
            }
        }

        .image-box {
            width: 100%;
            position: absolute;
            z-index: 1;
            // top: -83px;
            top: -51px;
        }

        .name {
            display: block;
        }

        .title {
            display: block;
        }

        .my-image {
            // width: 297px;
            // height: 378px;
            width: 250px;
            height: 300px;
        }

        .team-image {
            position: relative;
            // border-radius: 200px;
            // height: 295.83px;
            // width: 297px;
            overflow: hidden;
            margin: auto;
            width: 255px;
            height: 250px;
            border-radius: 100%;
        }

        .bg1 {
            background: #F5D2BB;
        }

        .bg2 {
            background: #FFCFCF;
        }

        .bg3 {
            background: #C0DFE4;
        }

        .bg4 {
            background: #BECDCC;
        }

        .bg5 {
            background: #EEE2E2;
        }

        .bg6 {
            background: #F5D6C3;
        }

        .team-content {
            margin-top: 25px;
            margin-bottom: 40px;
        }

        .team-social img {
            height: 44px;
            width: 47px;
            margin-top: 25px;
        }

        .team-social {
            background: #1B4A52;
            backdrop-filter: blur(148px);
            // border-radius: 200px;
            height: 0px;
            // width: 297px;
            // border-radius: 250px;
            position: absolute;
            // bottom: -180px;
            z-index: 2;
            transition: all 0.5s ease 0s;
            cursor: pointer;
            width: 260px;
            border-radius: 260px;
            bottom: -150px;
        }
    }

    .team-desktop {
        @media(max-width: 767px) {
            position: relative;
            transform: translateY(430px);
        }
        .para-to{
            margin-bottom: 30px;
        }
    }

    .team-mobile {
        @media(max-width: 768px) {
            position: relative;
            transform: translateY(-220px);
        }
    }
}


.opportunity-section {
    padding: 80px 0px 84px;

    @media(min-width: 768px) {
        padding: 100px 0px 100px;
    }

    .opportunity__head {
        margin-bottom: 48px;
    }

    .opportunity-mobile {
        @media(max-width: 767px) {
            position: relative;
            height: auto;
            // overflow-x: scroll;
            overflow-y: hidden;
            top: 0%;
        }

        .options {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            overflow: hidden;
            min-width: 700px;
            max-width: 100%;
            width: calc(100% - 0px);
            height: 500px;
            position: relative;
            z-index: 1;
            top: 0;
            left: 0%;

            @media(max-width: 767px) {
                height: 100%;
                left: 0px;
                min-width: 955px;
            }

            .option {
                position: relative;
                width: 20%;
                overflow: hidden;
                background-position: center;
                cursor: pointer;
                transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

                @media(max-width: 767px) {
                    margin-right: 16px;
                    width: 100%;
                }

                .option-card {
                    height: 100%;   
                    margin-right: 10px;

                    .option__img {
                        height: 100%;
                        width: 100%;
                        float: right;
                        position: relative;
                        object-fit: cover;
                        border-radius: 20px;
                        object-position: 0px;

                        @media(max-width: 767px) {
                            height: 245;
                            top: 0%;
                            object-position: 0px;
                        }
                    }
                }

                &.active {
                    flex-grow: 10000;
                    transform: scale(1);
                    max-width: 700px;
                    margin: 0px;
                    background-size: auto 100%;

                    @media(max-width: 767px) {
                        margin-right: 16px;
                    }
                }

                &:not(.active) {
                    flex-grow: 1;
                }
            }
        }
    }

    .scrollbar {
        float: left;
        background: transparent;
        overflow-y: scroll;
    }

    #style-3::-webkit-scrollbar-track {
        // -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.0);
        background-color: transparent;
    }

    #style-3::-webkit-scrollbar {
        width: 1px;
        background-color: transparent;
    }

    #style-3::-webkit-scrollbar-thumb {
        background-color: transparent;
    }


    .opportunity-right {
        @media(max-width: 767px) {
            margin-top: 56px;
        }
        h2{
            margin-bottom: 30px;
        }
        .para-talk{
            margin-bottom: 30px;
        }
        .para-ok{
            margin-bottom: 32px;
        }
    }
}





.investor-section {
    background: linear-gradient(180deg, #FFFFFF 0%, #FEFAF6 33.02%);
    margin: 0px 15px 15px 15px; 
    border-radius: 12px;
    padding: 56px 0px 113px;

    @media(min-width: 767px) {
        padding: 100px 0px 100px;
    }

    .investor-icons {
        margin-top: 84px;
        padding-bottom: 55px;
        position: relative;
        overflow: hidden;

        @media(max-width: 767px) {
            margin-top: 36px;
        }

        &::after {
            position: absolute;
            content: "";
            top: -105%;
            width: 240px;
            height: 300px;
            z-index: 9;
            left: -20px;
            background: linear-gradient(180deg, #FFFBF7 22.43%, rgba(255, 255, 255, 0) 91.36%);
            transform: rotate(-90deg);

            @media(max-width: 767px) {
                content: none;
            }
        }

        &::before {
            position: absolute;
            content: "";
            top: -105%;
            width: 240px;
            height: 300px;
            z-index: 9;
            right: -20px;
            background: linear-gradient(180deg, #FFFBF7 22.43%, rgba(255, 255, 255, 0) 91.36%);
            transform: matrix(0, -1, -1, 0, 0, 0);

            @media(max-width: 767px) {
                content: none;
            }
        }

        .investor-logo {
            width: 155px;
            height: 115px;
            text-align: center;
            padding: 42px 10px;
            text-align: center;
            display: inline-flex;

            @media(max-width: 767px) {
                width: 100%;
                height: 45px;
                padding: 10px 10px;
                border-radius: 12px;
            }
        }

        .swiper-pagination-bullet {
            width: 15px !important;
            border-radius: 3px !important;
            height: 5px;
        }

        .swiper-pagination-bullet-active {
            background: #1B4A52 !important;
        }
    }
}



.timeline-section {
    background: linear-gradient(180deg, #FFFFFF -17.46%, #FEFAF6 47.11%);
    border-radius: 12px;
    margin: 0px 15px 0px 15px;
    @media (min-width: 767px) {
        padding: 100px 0px 50px;
    }

    @keyframes FadeInUp {
        0% {
            transform: translateX(105px);
            opacity: 0;
        }

        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }

    #progress-bar-container {
        position: relative;
        width: 100%;
        margin: auto;
        @media(max-width:530px){
            overflow-y: hidden;
            overflow-x: scroll;
            height: 110px;
            &::-webkit-scrollbar{
                height: 0px !important;
            }
        }

        ul {
            padding: 0;
            margin: 0;
            z-index: 9;
            position: absolute;
            width: 100%;
            // @media (max-width: 767px) {
            //     overflow:hidden;
            // }

            @media(max-width:530px){
                width: 758px;
                display: flex;
            }
        }

        li.active {
            .logo {
                fill: #FCFCFC;
                stroke-width: 1.4;
            }

            &:before {
                background: #E2504B;
            }

            &:after {
                background: #E2504B;

                .logo {
                    fill: #FCFCFC;
                }
            }
        }

        li {
            svg {
                width: 32px;
                height: 32px;
                right: 54px;
                position: absolute;
                top: 13px;
                @media (max-width: 766px) {
                    width: 20px;
                    right: 80px;
                    top: 3px;
                }
                @media(min-width: 992px) and (max-width: 1199px) {
                    right: 46px;
                }
                @media(min-width: 1200px) and (max-width: 1399px) {
                    right: 29px;
                }
            }

            // .logo {
            //     stroke: #1B4A52;
            //     stroke-width: 2;
            // }

            &:hover {
                &:before {
                    background: #E2504B;
                }
            }

            list-style: none;
            float: left;
            width: 16%;
            text-align: center;
            color: #aaa;
            text-transform: uppercase;
            font-size: 11px;
            cursor: pointer;
            font-weight: 700;
            transition: all ease 0.2s;
            vertical-align: bottom;

            position: relative;

            .step-inner {
                position: absolute;
                width: 100%;
                bottom: -55px;
                left: 35px;
                letter-spacing: 0.15px;
                @media (max-width: 766px){                   
                    bottom: -40px;
                    left: -29px;
                    font-size: 16px!important;
                }
                @media(min-width: 992px) and (max-width: 1199px) {
                    left: 14px;
                }
                @media(min-width: 1200px) and (max-width: 1399px) {
                    left: 47px;
                }
            }

            &:after {
                content: " ";
                display: block;
                width: 56px;
                height: 56px;
                background: #f6dcda;
                margin: auto;
                border-radius: 50%;
                margin: 0px 110px;
                transition: all ease 0.2s;
                @media (max-width: 767px) {
                    width:40px;
                    height: 40px;
                    margin: 0px 10px;
                }
                @media(min-width: 992px) and (max-width: 1199px) {
                    margin: 0px 59px;
                }
            }
        }

        #line {
            width: 82%;
            margin: auto;
            background: #eee;
            height: 6px;
            position: absolute;
            left: 10%;
            top: 30px;
            z-index: 1;
            border-radius: 50px;
            transition: all ease 0.9s;
            @media(min-width: 992px) and (max-width: 1199px) {
                left: 9%;
            }
            @media(min-width: 1200px) and (max-width: 1399px) {
                left: 12%;
            }
            @media (max-width: 767px) {
                top: 18px;
            }
            @media (max-width:532px){
                width: 195%;
            }
        }

        #line-progress {
            content: " ";
            width: 3%;
            height: 100%;
            background: #E2504B;
            position: absolute;
            z-index: 2;
            border-radius: 50px;
            transition: all ease 0.9s;
            // @media(min-width: 992px) and (max-width: 1199px) {
            //     width: 1%;
            // }
        }
    }

    #progress-bar-container1 {
        position: relative;
        width: 90%;
        margin: auto;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            z-index: 9;
            position: absolute;
            width: 100%;
            @media (max-width: 766px) {
                top:-40px;
            }
        }

        li {
            list-style: none;
            width: 3%;
            text-align: center;
            color: #aaa;        
            cursor: pointer;
            font-weight: 700;
            transition: all ease 0.2s;
            vertical-align: bottom;
            position: relative;
            // @media(min-width: 992px) and (max-width: 1199px) {
            //     width: 1%;
            // }

            @media (max-width: 767px) {
                margin-right: 15px;
            }

            &:after {
                content: " ";
                display: block;
                width: 20px;
                height: 6px;
                background: #d0d5d6;
                margin: auto;
                border-radius: 200px;
                transition: all ease 0.2s;
            }
        }

        li.active {
            &:after {
                background: #1B4A52;
                border-radius: 200px;
            }
        }
    }

    #progress-content-section {
        width: 85%;        
        margin: auto;
        @media (max-width: 767px) {
            width: 100%;
        }

        .section-content {
            margin-top: 215px;
            display: none;
            animation: FadeInUp 700ms ease 1;
            animation-fill-mode: forwards;
            opacity: 0;
            @media (max-width: 766px){                   
                margin-top: 115px;
            }

            h2 {
                letter-spacing: 1px;
                width: 344px;
            }
        }

        .section-content.active {
            display: flex;
            top: -35px;

            @media (max-width: 766px) {
                display: block;
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        // padding-bottom: 35px;
        
        @media (max-width: 766px) {
           padding-bottom: 15px;
        }
    }

    .swiper-slide {
        .slide-img {
            width: 40%;
            margin-right: 110px;

            @media (max-width: 766px) {
                width: 100%;
                margin-right: 0px;
            }

            img {
                border-radius: 24px;
            }
        }

        .slide-content {
            width: 50%;
            padding: 60px 0px;

            @media (max-width: 766px) {
                width: 100%;
                padding: 40px 0;
            }

            .slide-icon {
                width: 10%;
                margin-bottom: 31px;
            }
        }
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
        z-index: 99999999999999999;
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }

    .timelineverticalswiper-button-next{
        @media (min-width:531px){
            display: none;

        }

    }
    .timelineverticalswiper-button-next:hover {
        border: none !important;
        outline: none !important;
    }

    .timelineverticalswiper-button-next{
        top: 28%;
        // background: #B1CBCF;
        background: transparent;
        width: 40px;
        height: 40px;
        // border: 1px solid #EEEEEE;
        // border-radius: 35px;
        border: none;
        position: absolute;
        @media (max-width: 768px) {
            top: 4px;
        }

        &::after{content:none;}
        
    }
    .timelineverticalswiper-button-next{                 
        right: -15px;                
        transform: rotate(180deg); 
        z-index: 11;
        position: absolute;

        svg{
            margin: 13px 15px;
            width: 20px;
            height: 20px;
        }
    }

    .timelineverticalswiper-button-next:after, .swiper-rtl {
        content: 'next';
        display: none;
    }
}

// new map

#image-map2{
    position: relative;
    max-width: 1366px;
    margin: 0px auto;
    // overflow-x: scroll;
    @media (max-width: 766px) {
    display: none;
    } 
    img{
        max-width: 1366px;
    }
    .hotspot{
    background-color:transparent; 
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    width: 220px;
    height: 64px;
    .hotspot-img{
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 9;
    left: -3px;
    img{
    height: 100%;
    }
    }
    .spot{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: #fff;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 40px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    opacity: 0;
    font-size: 11px;
    .loc-icon{
    float: left;
    margin-right: 5px;
    position: relative;
    top: 5px;
    }
    }
    }     
   }
//    #image-map2::-webkit-scrollbar { 
//     height: 1px!important;
//     }

   #image-map2 .hotspot:hover
   {
    overflow: visible;
   }
   #image-map2 .hotspot:hover .hotspot-img{
    z-index: 999;
   }
   
   #image-map2 .hotspot:hover .spot
   {
   
    width: 100%;
    padding: 2px 20px 0 85px;
    z-index: 99;
    opacity: 1;
    
   }
   
   #image-map2 #spot-1
   {
    left: 27.9rem;
    top: 8.7rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 35rem;
    // top: 11.5rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 25.9rem;
    // top: 8.7rem;
    // }
   }
   
   #image-map2 #spot-2
   {
    left: 28.2rem;
    top: 25rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 35.2rem;
    // top: 32rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 25.8rem;
    // top: 23rem;
    // }
   }
   
   #image-map2 #spot-3
   {
    left: 48.7rem;
    top: 25.8rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 61.4rem;
    // top: 32.8rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 45.7rem;
    // top: 22.8rem;
    // }
    
   }
   #image-map2 #spot-4
   {
    left: 52.8rem;
    top: 22.8rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 66.8rem;
    // top: 27.8rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 49.8rem;
    // top: 19.8rem;
    // }
   }
   #image-map2 #spot-5
   {
    left: 50.2rem;
    top: 31.2rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 61.6rem;
    // top: 39.1rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 45.9rem;
    // top: 29.2rem;
    // }
   }
   #image-map2 #spot-6
   {
    left: 53.3rem;
    top: 35.8rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 65.3rem;
    // top: 46.1rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 48.3rem;
    // top: 33.1rem;
    // }
   }
   #image-map2 #spot-7
   {
    left: 57rem;
    top: 44.1rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 70rem;
    // top: 56.1rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 53rem;
    // top: 41.1rem;
    // }
   }
   #image-map2 #spot-8
   {
    left: 69rem;
    top: 22.8rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 85rem;
    // top: 29.8rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 63rem;
    // top: 21.8rem;
    // }
   }
   
   #image-map2 #spot-9
   {
    left: 68.8rem;
    top: 14.6rem;
    @media (max-width: 766px) {
    display: none;
    } 
    // @media screen and (min-width: 1920px) {
    // left: 84.8rem;
    // top: 19.6rem;
    // }
    // @media(min-width: 1440px) and (max-width: 1440px){
    // left: 62.8rem;
    // top: 13.6rem;
    // }
   }
   
   .mobilemap{
    @media (min-width: 766px) {
    display: none; 
    }
    @media (max-width: 766px) {
    overflow-x: scroll; 
    } 
    .mobileimage{
    height: 100vh;
    
    }
   }
   .mobilemap::-webkit-scrollbar { 
    height: 0px!important;
    }
