section.section080
    .container
        .row 
            .col-lg-6.ml-auto.mr-auto.text-center.mt-20.section080-desktop
                h2.h2.fnt-lex.fnt500.mb-22 We are purpose driven organization.
                p.txt-md.text-blackish.fnt500.fnt-man.opacity-text.mb-45 Read how docquityclinic has helped real people across the region to connect with trusted doctors.

        .row.content-section
            .swiper.section080swiper
                .swiper-wrapper
                    .swiper-slide
                        .slide-img
                            img(src="./img/productcpd/ImageSec6.png", alt="")
                        .slide-content 
                            .slide-icon 
                                img(src="./img/productcpd/Vector.png", alt="")
                            .slide-text 
                                h2.h2.fnt-lex.fnt500.mb-24 Great Community for Doctors
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                h6.fnt-md.text-blackish.fnt700.fnt-man.mb-2 Asha Rahaman
                                span.txt-sm.text-blackish.fnt500.fnt-man.op-5 Co-Founder & CEO
                    .swiper-slide
                        .slide-img
                            img(src="./img/productcpd/ImageSec6.png", alt="")
                        .slide-content 
                            .slide-icon 
                                img(src="./img/productcpd/Vector.png", alt="")
                            .slide-text 
                                h2.h2.fnt-lex.fnt500.mb-24 Great Community for Doctors
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                h6.fnt-md.text-blackish.fnt700.fnt-man.mb-2 Asha Rahaman
                                span.txt-sm.text-blackish.fnt500.fnt-man.op-5 Co-Founder & CEO
                    .swiper-slide
                        .slide-img
                            img(src="./img/productcpd/ImageSec6.png", alt="")
                        .slide-content 
                            .slide-icon 
                                img(src="./img/productcpd/Vector.png", alt="")
                            .slide-text 
                                h2.h2.fnt-lex.fnt500.mb-24 Great Community for Doctors
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                p.fnt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers
                                h6.fnt-md.text-blackish.fnt700.fnt-man.mb-2 Asha Rahaman
                                span.txt-sm.text-blackish.fnt500.fnt-man.op-5 Co-Founder & CEO
                
                .swiper-button-next
                    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                    </svg>
                .swiper-button-prev
                    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                    </svg>
                .swiper-pagination.swiper-pagination-flatindic