.section.investor-section 
    .container-fluid 
        .row 
            .col-lg-12 
                .col-lg-6.ml-auto.mr-auto.text-center 
                    h2.h2.fnt-lex.fnt500.mb-16 We work with Southeast Asia's leading hospital and medical associations.
                    p.txt-md.text-blackish.fnt500.fnt-man.opacity-text Navigating the health tech ecosystem can be tough. Docquity has built a community where you can connect with the region's most trusted doctors.
            .col-lg-12.pad-0
                include ../about/investor-slider.pug