section.liveInteractive
    .container
        .row.align-items-md-center
            .col-md-7
                .dq-webinar-fig
                    img.w100(src="./img/docquitypatient/bgpayment.svg" alt="Thumbnail background")
                .dq-webinar-fig2
                   img.w100(src="./img/docquitypatient/payment.svg" alt="Thumbnail figure")

            .col-md-5
                .dq-webinar-article
                    span.h2.fnt-Lexend-medi Handle payments with ease.
                    p.my-3 Breeze through the checkout options thanks to our integrations with all major payment gateways in Southeast Asia.
                .whyusedocquity-card
                    .whyusedocquity-img
                        img(src="./img/home/clinical.svg", alt="icon") 
                    .whyusedocquity-text
                        h6.fnt-20.text-blackish.fnt700.fnt-man.lh32 We are builders-first
                        p.txt-md.text-blackish.fnt500.fnt-man.desc Startup Framework contains components and complex blocks which can easily be inte-grated.
                .whyusedocquity-card
                    .whyusedocquity-img
                        img(src="./img/home/clinical.svg", alt="icon") 
                    .whyusedocquity-text
                        h6.fnt-20.text-blackish.fnt700.fnt-man.lh32 We are builders-first
                        p.txt-md.text-blackish.fnt500.fnt-man.desc Startup Framework contains components and complex blocks which can easily be inte-grated.
                            
