section.liveInteractive.section-doc-04
    .container
        .row.align-items-md-center
            .col-md-7
                .dq-webinar-fig
                    img.w100(src="./img/home-new/homewebinarback.svg" alt="Thumbnail background")
                .dq-webinar-fig2
                   img.w100(src="./img/docquitypatient/healthcare specialists.svg" alt="Thumbnail figure")

            .col-md-5
                .dq-webinar-article
                    span.h2.fnt-Lexend-medi Get access to all healthcare specialists.
                    p.my-3 Whether you need to consult with a GP, dentist, dermatologist, gynaecologists we are here to help.
                    a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
                figure
                    blockquote.fnt-16.mb-0
                        | “ The best part of docquity is the access to doctors. We are not able to seek the opinion of our expert colleagues “
                    figcaption
                        .dq-media.mt-3.mt-md-4.pt-2
                            .dq-media__fig
                                img(src="./img/home-new/admin.png" alt="Admin Image")
                            .dq-media__cnt.ml-3
                                span.fnt-18.fnt-manro-bold Denis Shepovalov
                                p.fnt-14 Co-Founder & CEO
