section.patientdocquity-section
    .container
        .row
            .col-md-10.ml-auto.mr-auto.col-lg-6.text-center
                .dq-sec-cntinfo.mb-16                    
                    span.dq-sec-subtxt Streamline your practice for maximum productivity. 
            .col-md-10.ml-auto.mr-auto.col-lg-10.text-center                
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-30 Centralize all your practice, processes, tools, and files into one app. Connect with patients seamlessly, from the comfort of your home or clinic.
                a.gray-btn.fnt-md.fnt600.fnt-man(href="") Get Started
        .row.patientdocquitytabsection   
            .col-md-11
                nav
                    #nav-tab.nav.nav-tabs.nav-fill.vertical-tab-list(role='tablist')
                        #nav-tele-tab.nav-item.nav-link.active.fnt-20.fnt-man(data-toggle='tab' href='#nav-tele' role='tab' aria-controls='nav-tele' aria-selected='true')
                            .light 
                            p.fnt-20.text-blackish.fnt-man.mb-0 No download required
                        #nav-outreach-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-outreach' role='tab' aria-controls='nav-outreach' aria-selected='false')
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 Group consultations
                        #nav-realtime-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-realtime' role='tab' aria-controls='nav-realtime' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 View your health records
                        #nav-digital-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-digital' role='tab' aria-controls='nav-digital' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 Get Medicine Reminders
                        #nav-prescription-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-prescription' role='tab' aria-controls='nav-prescription' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 Complete Security
                        #nav-consultation-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-consultation' role='tab' aria-controls='nav-consultation' aria-selected='false') 
                            .light
                            p.fnt-20.text-blackish.fnt-man.mb-0 Payments Options
                        //- #nav-appointment-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-appointment' role='tab' aria-controls='nav-appointment' aria-selected='false') 
                        //-     p.fnt-20.text-blackish.fnt-man.mb-0 Manage Appointments
                .patientverticalswiper-button-next
                    <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="arr" d="M5.26674 0.288783C5.19978 0.221818 5.12277 0.188336 5.03572 0.188336C4.94866 0.188336 4.87165 0.221818 4.80469 0.288783L0.123884 4.96959C0.0569201 5.03655 0.023438 5.11356 0.023438 5.20061C0.023438 5.28767 0.0569201 5.36468 0.123884 5.43164L4.80469 10.1124C4.87165 10.1794 4.94866 10.2129 5.03571 10.2129C5.12277 10.2129 5.19978 10.1794 5.26674 10.1124L5.76897 9.61021C5.83594 9.54325 5.86942 9.46624 5.86942 9.37919C5.86942 9.29213 5.83594 9.21512 5.76897 9.14816L1.82143 5.20061L5.76897 1.25307C5.83594 1.1861 5.86942 1.1091 5.86942 1.02204C5.86942 0.934988 5.83594 0.857979 5.76897 0.791015L5.26674 0.288783Z" fill="#1B4A52"/>
                    </svg>  
            .col-md-8.patientdoc-img
                .patientrighttabs
                    #nav-tabContent.tab-content.brand-slider-tabpane
                        #nav-tele.mar-tp.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-tele-tab')
                            .patientdocquity-img  
                                img.w100(src="./img/docquityclinic/clinic1.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 You do not need to download anything or do any install to join a Video Consultation call with your Doctor. It's easy and fast! Unlock more benefits and features if you download the Apps in your smartphone/ tablet.
                        #nav-outreach.tab-pane.fade(role='tabpanel' aria-labelledby='nav-outreach-tab')
                            .patientdocquity-img  
                                img.w100(src="./img/docquityclinic/clinic2.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 You can simply do a 3 Way Video Call with a doctor alongwith your loved one from a remote location.
                        #nav-realtime.tab-pane.fade(role='tabpanel' aria-labelledby='nav-realtime-tab')
                            .patientdocquity-img   
                                img.w100(src="./img/docquityclinic/clinic3.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 You get one-touch access to your Health Records anytime anywhere. Easily share your records when asked by your Doctor in just one click.
                        #nav-digital.tab-pane.fade(role='tabpanel' aria-labelledby='nav-digital-tab')
                            .patientdocquity-img   
                                img.w100(src="./img/docquityclinic/clinic4.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 Now get automatic reminders for medications you need to take as prescribed by your Doctor on docquityclinic.
                        #nav-prescription.tab-pane.fade(role='tabpanel' aria-labelledby='nav-prescription-tab')
                            .patientdocquity-img   
                                img.w100(src="./img/docquityclinic/clinic5.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 Your details and payments are completely secure with us. We offer 100% data privacy of your health records.
                        #nav-consultation.tab-pane.fade(role='tabpanel' aria-labelledby='nav-consultation-tab')
                            .patientdocquity-img   
                                img.w100(src="./img/docquityclinic/clinic6.png", alt="")
                                h6.fnt-man.fnt700.text-white.fnt-14.mb-0 Conveniently pay your doctor's fee using Credit cards, Debit Cards and e-Wallets. You'll get an instant confirmation and receipt of the payment you make
                        //- #nav-appointment.tab-pane.fade(role='tabpanel' aria-labelledby='nav-appointment-tab')
                        //-     .patientdocquity-img   
                        //-         img.w100(src="./img/docquityclinic/clinic7.png", alt="")
                        //-         h6.fnt-man.fnt700.text-white.fnt-14.mb-0 With your 'Personal e-Consultation Link' you can instantly tele-consult patients Your patients require No Downloads, Installs or Logins 