section.sec01
    .container-fluid 
        .row.sec01-row
            .col-lg-10.mr-auto.ml-auto.text-center.newbanner 
                h1.h1.fnt-lex.fnt700.text-blackish The easiest way to consult your doctor.
                p.fnt500.txt-md.text-blackish Make an appointment from the comfort of your home.
                a.gray-btn.fnt-md.fnt600.fnt-man(href="https://app.docquity.com/#/login/input-mobile?redirectUrl=%2Fweb%2Flist") Get started
            .col-lg-12 
                .banner-img 
                    img.w100(src="./img/docquitypatient/banner011.svg", alt="")