section.articledetails-section
    .container 
        .row
            .col-lg-10.ml-auto.mr-auto
                .border-section
                    .video-container-webinar
                            .js-video.ng-isolate-scope
                                .video-poster
                                .play
                                    img.w100(src="./img/webinars/play-button.svg", alt="")
                    .row.webinar-row
                        .col-lg-8
                            span.fnt-14.text-bluey.fnt600.fnt-man Category 1
                            h2.h2.fnt-lex.fnt500.mb-0 Guide to Becoming a Social Media Savvy Nephrologists                   
                            .overlap-img-sec
                                .overlap-banner
                                    .events-img1 
                                        img(src="./img/events/small-img1.png", alt="")
                                    .events-img2
                                        img(src="./img/events/small-img2.png", alt="")
                                    .events-img3
                                        img(src="./img/events/small-img3.png", alt="")
                                .overlap-text
                                    p.txt-md.text-blackish.fnt500.fnt-man 40K+ People Attended    
                        .col-lg-4.text-right
                            a.gray-btn.fnt-md.fnt800.fnt-man.reg-btn(href="") Register to Watch
                    .row
                        .col-lg-12
                            p.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures brought to you by doctors from academia, research institutions.  Many researchers also think it is the best way to make progress towards human-level AI. In this class, you will learn about the most effective machine learning techniques, and gain practice implementing them and getting them to work for yourself.  Read more
                        .col-lg-12
                            .author-div     
                                p.lh24.fnt-20.fnt-lex.fnt500.op1.mb-24 Speakers
                                .author
                                    .author-img 
                                        img.w100(src="./img/article/ladyavatar1.svg", alt="")
                                    .author-text 
                                        p.txt-md.text-blackish.fnt800.fnt-man.mb-0 Annette Black
                                        p.fnt-xs.text-blackish.fnt500.fnt-man Surgeon | Cardiologist
                            p.txt-md.text-blackish.fnt500.fnt-man This Docquity Privacy and Data Protection Policy applies to the collection, storage, processing, transfer, and use of Personal Data concerning its customers, including outsourcing and other services clients, business partners, employees, former employees, and applicants for employment, (“covered individuals”) except where any contract with a covered individual defines different requirements.
                        .col-md-4
                            nav
                                #nav-tab.nav.nav-tabs.nav-fill(role='tablist')
                                    #nav-home-tab.nav-item.nav-link.active.fnt-20.fnt-man(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-selected='true') Key Takeaways
                                    #nav-profile-tab.nav-item.nav-link.fnt-20.fnt-man(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile' aria-selected='false') Transcprit
                        .col-12.pad-0
                            #nav-tabContent.tab-content.takeways-pane
                                #nav-home.mar-tp.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
                                    ul.takesways-list
                                        li.takesways-list__item.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures. DocTalks is a library of short video lectures brought to you by doctors from academia, research institutions.  
                                        li.takesways-list__item.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures. DocTalks is a library of short video lectures brought to you by doctors from academia, research institutions.   
                                        li.takesways-list__item.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures.   
                                        li.takesways-list__item.txt-md.text-blackish.fnt500.fnt-man DocTalks is a library of short video lectures brought to you by doctors from academia, research institutions.
                                #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab')
                                            
                            
                            .share-div
                                p.lh24.fnt-20.fnt-lex.fnt500.op1.mb-24 Share it with
                                ul.share-list 
                                    li.share-list__item
                                        a.share-link(href="#")
                                            .share-img 
                                                img.w100(src="./img/article/mail.svg", alt="")
                                            span.txt-.fnt600.fnt-man.text-blackish.share-item  Mail
                                    li.share-list__item 
                                        a.share-link(href="#")
                                            .share-img 
                                                img.w100(src="./img/article/facebook.svg", alt="")
                                            span.txt-.fnt600.fnt-man.text-blackish.share-item  Facebook
                                    li.share-list__item
                                        a.share-link(href="#")
                                            .share-img  
                                                img.w100(src="./img/article/twitter.svg", alt="")
                                            span.txt-.fnt600.fnt-man.text-blackish.share-item  Twitter
                                    li.share-list__item 
                                        a.share-link(href="#")
                                            .share-img 
                                                img.w100(src="./img/article/copylink.svg", alt="")
                                            span.txt-.fnt600.fnt-man.text-blackish.share-item  Copy Link