section.counter-section 
    .container
        .row
            .col-lg-5.ml-auto.mr-auto.text-center                
                h2.h2.fnt-lex.mb-16.text-blackish.fnt500 Webinars          
                p.fnt-md.text-blackish.fnt500.fnt-man.mb-51 Join our subscribers list for our newsletter to get latest news and  updates deliver
            .col-lg-10.col-12.ml-auto.mr-auto.d-none.d-md-block 
                ul.counterwebinar-list 
                    li.counterwebinar-list__item 
                        .counter-icon 
                            img(src="./img/events/Eventsconducted.svg", alt="")
                        .counter-text 
                            h6.fnt-20.fnt-lex.fnt700.mb-6 105+
                            p.fnt-md.fnt500.fnt-man Thematic deep-dives from healthcare  experts.
                    li.counterwebinar-list__item 
                        .counter-icon 
                            img(src="./img/events/speakers.svg", alt="")
                        .counter-text 
                            h6.fnt-20.fnt-lex.fnt700.mb-6 70k+
                            p.fnt-md.fnt500.fnt-man Sessions with the region's most prominent KOLs.                        
                    li.counterwebinar-list__item 
                        .counter-icon 
                            img(src="./img/events/healthcareprofessionals.svg", alt="")
                        .counter-text 
                            h6.fnt-20.fnt-lex.fnt700.mb-6 4000k+
                            p.fnt-md.fnt500.fnt-man Healthcare professionals have attended our events.
        .row
            .col-lg-12.d-md-none.d-block 
                .swiper.counterSwiper
                    .swiper-wrapper
                        .swiper-slide                                                           
                            .counter-icon 
                                img(src="./img/events/Eventsconducted.svg", alt="")
                            .counter-text 
                                h6.fnt-20.fnt-lex.fnt700.mb-6 105+
                                p.fnt-md.fnt500.fnt-man Thematic deep-dives from healthcare  experts.
                        .swiper-slide                             
                            .counter-icon 
                                img(src="./img/events/speakers.svg", alt="")
                            .counter-text 
                                h6.fnt-20.fnt-lex.fnt700.mb-6 70k+
                                p.fnt-md.fnt500.fnt-man Sessions with the region's most prominent KOLs.
                        .swiper-slide
                            .counter-icon 
                                img(src="./img/events/healthcareprofessionals.svg", alt="")
                            .counter-text 
                                h6.fnt-20.fnt-lex.fnt700.mb-6 4000k+
                                p.fnt-md.fnt500.fnt-man Healthcare professionals have attended our events.
                    .swiper-pagination
        

